<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
	<meta charset="UTF-8">
	<title>商家信息</title>

	<link rel="stylesheet" href="../css/common/common.css" />
	<link rel="stylesheet" href="../css/details.css" />
	<!-- 图片裁剪 -->
	<link rel="stylesheet" href="../css/cropper.min.css" />
	<link rel="stylesheet" href="../css/ImgCropping.css" />
	<script src="../js/common/jquery-2.1.1.js"></script>



	<script src="../js/common/url.js"></script>
	<script src="../js/common/common.js"></script>
	<script src="../fMap/2/fengmap.core.min.js"></script>
	<script src="../fMap/2/fengmap.control.min.js"></script>
	<script src="../js/common/initFmap.js"></script>

</head>

<body>
	<div class="top">
		<span class="topTitle">商家信息 > <span id="titleFlag">新增</span></span>
		<div class="topBtn">
			<shiro:hasAnyPermissions name="bss:edit,bss:add">
				<span class="save" onclick="save()">
					<i></i>保存
				</span>
			</shiro:hasAnyPermissions>
			<span class="refresh" onclick="location.reload()">
				<i></i>刷新
			</span>
			<span class="back" onclick="back()">
				<i></i>返回
			</span>
		</div>
	</div>
	<div class="main">
		<div class="mainBox clearfix">
			<div class="mainItemB">
				<span class="itemTxt">商家类型：</span>
				<div class="batchBox" onclick="switchSele(event)">
					<div name="type" class="batchTxt" data-val="">--请选择商家类型--</div>
					<div class="batchList" id="type">
						<div data-val="">--请选择商家类型--</div>
					</div>
				</div>
			</div>
			<div class="mainItemB">
				<span class="itemTxt">
					<span class="require">*</span>关联地图：
				</span>
				<div class="batchBox managWid" onclick="switchSele(event)">
					<div name="map" class="batchTxt" data-val="">--请选择--</div>
					<div class="batchList" id="mapSelect">
						<div data-val="">--请选择关联地图--</div>
					</div>
				</div>
				<span class="manag" onclick="selectPoint()">选点</span>
			</div>
			<div class="hide">
				<input readonly type="text" name="fid" class="hide" />
				<input readonly type="text" name="x" class="hide" />
				<input readonly type="text" name="y" class="hide" />
				<input readonly type="text" name="z" class="hide" />
				<input readonly type="text" name="floor" class="hide" />
			</div>
			<!-- <div class="mainItemB">
				<span class="itemTxt">所在楼层：</span>
				<input autocomplete="off" data-reg="^\S+$" type="text" name="floor" class="itemInput" />
			</div> -->
			<div class="mainItemB">
				<span class="itemTxt">
					<span class="require">*</span>名称：
				</span>
				<input autocomplete="off" placeholder="请输入商家名称" data-reg="^\S+$"
					onkeyup="this.value=this.value.replace(/\s/g,'')" type="text" name="name" class="itemInput" />
			</div>
			<div class="mainItemB">
				<span class="itemTxt">上传图片：</span>
				<div class="uploadImg">
					<img src="" class="uploadImgShow" id="cancelUploadImg">
					<img src="../image/common/uploadImg.png" class="uploadImgIcon">
					<!-- <input type="file" data-show="photolocal" id="file"  name="file" onchange="uploadImg(this)" accept="image/png, image/jpg" class="uploadImgInp"> -->
					<!-- 上传图片时裁剪 -->
					<input type="file" data-show="photolocal" id="file" name="file" onchange="selectImg(this)"
						accept="image/png, image/jpg" class="uploadImgInp">
					<div class="delImgs">
						<img class="delImg" src="../image/common/delImg.png" id="cancelButton" onclick="cancelButton(this)">
					</div>
				</div>
			</div>

			<!--图片裁剪框 start-->
			<div style="display: none" class="tailoring-container">
				<div class="black-cloth" onclick="closeTailor(this)"></div>
				<div class="tailoring-content">
					<div class="tailoring-content-one">

						<div class="close-tailoring" onclick="closeTailor(this)">×</div>
					</div>

					<div class="tailoring-content-two">
						<div class="tailoring-box-parcel">
							<img id="tailoringImg">
						</div>
						<div class="preview-box-parcel">
							<p>图片预览：</p>
							<div class="square previewImg"></div>
							<div class="circular previewImg"></div>
						</div>
					</div>

					<div class="tailoring-content-three">
						<button class="l-btn sureCut" id="sureCut">确定</button>
					</div>
				</div>
			</div>
			<!--图片裁剪框 end-->

			<!-- 圆形图片 -->
			<div class="mainItemB">
				<span class="itemTxt">地图显示图片：</span>
				<div class="uploadImg">
					<img src="" class="uploadImgShow" id="cancelUploadImg2">
					<!-- <img src="../image/common/uploadImg.png" class="uploadImgIcon"> -->
					<input type="file" data-show="photolocal2" id="file2" name="file" accept="image/png, image/jpg"
						class="uploadImgInp" disabled readonly>
				</div>
			</div>



			<div class="mainItemB">
				<span class="itemTxt" style="margin-left: -2px;">
					<!-- <span class="require">*</span> -->
					服务范围：
				</span>
				<input autocomplete="off" placeholder="请输入服务范围" data-reg="^\S+$"
					onkeyup="this.value=this.value.replace(/\s/g,'')" type="text" name="content" class="itemInput" />
			</div>
			<div class="mainItemB">
				<span class="itemTxt">
					<!-- <span class="require">*</span> -->
					营业时间：
				</span>
				<input autocomplete="off" placeholder="请输入营业时间" data-reg="^\S+$"
					onkeyup="this.value=this.value.replace(/\s/g,'')" type="text" name="time" class="itemInput" />
			</div>
			<div class="mainItemB">
				<span class="itemTxt">
					<!-- <span class="require">*</span> -->
					负责人：
				</span>
				<input autocomplete="off" placeholder="请输入负责人" data-reg="^\S+$"
					onkeyup="this.value=this.value.replace(/\s/g,'')" type="text" name="owner" class="itemInput" />
			</div>
			<di class="mainItemB">
				<span class="itemTxt">
					<!-- <span class="require">*</span> -->
					联系电话：
				</span>
				<input autocomplete="off" data-reg="^.{11}$" placeholder="请输入电话号码" oninput="value=value.replace(/[^\d]/g,'')"
					onkeyup="this.value=this.value.replace(/\s/g,'')" type="text" name="phone" class="itemInput" />
			</di>
			<div class="mainItemB" style="margin-top: 15px">
				<span class="itemTxt">
					<!-- <span class="require">*</span> -->
					地址：
				</span>
				<input autocomplete="off" placeholder="请输入地址" data-reg="^\S+$" onkeyup="this.value=this.value.replace(/\s/g,'')"
					type="text" name="address" class="itemInput" />
			</div>
		</div>
	</div>
	<!-- 提示 -->
	<div class="tips" id="tip"></div>
	<!-- 遮罩 -->
	<div class="mask" id="mask"></div>
	<!-- 地图选点 -->
	<div class="mapPop mapPopDetail" id="mapPop">
		<div class="mapPopTop">
			请在地图上选择商家所在的模型
			<div class="close" onclick="mapCancel()"></div>
			<div class="confirm" onclick="mapConfirm()">确定</div>
		</div>
		<div class="fengmap" id="fengmap">
			<!--设备控件，2D/3D切换-->
			<div class="viewMode3">
				<div class="viewMode" onclick="changeMode(this)"></div>
			</div>
		</div>
	</div>
</body>
<script src="../js/cropper.min.js"></script>
<script src="../js/businessDetails.js"></script>

</html>