<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
  <meta charset="UTF-8">
  <title>报警参数配置</title>
  <link rel="stylesheet" href="../css/common/common.css" />
  <link rel="stylesheet" href="../css/list.css" />
  <script src="../js/common/jquery-1.8.0.min.js"></script>
  <script src="../js/common/url.js"></script>
  <script src="../js/common/common.js"></script>
  <script src="../js/common/page.js"></script>
  <script src="../fMap/2/fengmap.core.min.js"></script>
  <script src="../fMap/2/fengmap.control.min.js"></script>
  <script src="../js/common/initFmap3.js"></script>
  <script src="../js/callPoliceConfig2.js"></script>
</head>

<body>
  <div class="contentTop">
    <span class="contentTitle">报警参数配置</span>
    <div class="search">

      <div class="searchItem seleBox">
        关联地图：
        <div class="batchBox mapWidth" onclick="switchSele(event)">
          <div name="map" class="batchTxt" data-val="">--请选择关联地图--</div>
          <div class="batchList" id="mapSelect">
            <div onclick="seleBatch(this,'')">--请选择关联地图--</div>
          </div>
        </div>
      </div>

      <div class="searchItem">
        名称：<input type="text" onkeyup="this.value=this.value.replace(/\s/g,'')" name="configName" id="configName"
          class="searchInp" autocomplete="off" placeholder="请输入名称" />
      </div>

      <div class="searchItem seleBox">
        是否启用：<div class="batchBox" onclick="switchSele(event)">
          <div name="status" class="batchTxt" data-val="">全部</div>
          <div class="batchList">
            <div onclick="seleBatch(this,'')">全部</div>
            <div onclick="seleBatch(this,'1')">启用</div>
            <div onclick="seleBatch(this,'0')">未启用</div>
          </div>
        </div>
      </div>

      <span class="searchBtn" onclick="search()">搜索</span>
      <span class="searchBtn resetBtn" onclick="resetSearch()">重置</span>
       <shiro:hasPermission name="pac:add">
      <div class="topBtn">
        <span onclick="add()">新增</span>
      </div>
       </shiro:hasPermission>
    </div>
  </div>
  <!-- 信息 -->
  <div class="wrap">
    <table class="tab" id="tab">
      <thead>
        <tr>
          <td name="line" class="line">序号</td>
          <td name="configName">配置名称</td>
          <td name="mapName">关联地图</td>
          <td name="t1ThresholdHours">t1(小时)</td>
          <td name="t2PeriodHours">t2(小时)</td>
          <td name="t2SlotChangeLimit">t2 车位变动数</td>

          <td name="holidayT2PeriodHours">节假日-t2(小时)</td>
          <td name="holidayT2SlotChangeLimit">节假日-t2 车位变动数</td>

          <td name="t2TimePeriods1">t2 时段</td>
          <td name="t3PeriodHours">t3(小时)</td>
          <td name="t3SlotUsageLimit">t3 车位变动数</td>

          <td name="holidayT3PeriodHours">节假日-t3(小时)</td>
          <td name="holidayT3SlotChangeLimit">节假日-t3 车位变动数</td>

          <td name="t3TimePeriods1">t3 时段</td>
          <!-- <td name="holiday">是否为节假日</td> -->
          <td name="status">是否启用</td>
          <td name="operating">操作</td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <div class="listFooter clearfix">
      <label class="seleLabel">
        <input id="allCheck" onclick="allCheck(this)" type="checkbox" class="tabCheck" name="tabCheck">
        <span class="seleIcon"></span>全选</label>
       <shiro:hasPermission name="pac:del">
      <span class="deleBtn" onclick="showAllDele()">删除</span>
       </shiro:hasPermission>
      <div class="page">
        <span id="total" class="total"></span>
        <span class="turnPage prev" onclick="prevPage()"></span>
        <ul class="pageList"></ul>
        <span class="turnPage next" onclick="nextPage(this)"></span>
        跳至<input type="text" value="1" class="jumpPage" onkeyup="jumpCurPage(this,event)" />页
      </div>
    </div>
  </div>
  <!-- 提示 -->
  <div class="tips" id="tip"></div>
  <!-- 遮罩 -->
  <div class="mask" id="mask"></div>
  <!-- 确认提示框 -->
  <div class="confimPop" id="delePop">
    <div class="confimPopTop">
      <span class="popClose" onclick="hidePop('#delePop')"></span>
    </div>
    <div class="confimPopInfo">
      <p class="confimPopTitle">确定删除？</p>
      <p class="txtOverFlow">名称：<span id="deleTxt"></span></p>
    </div>
    <div class="confimPopFooter">
      <span class="confimPopEnt" onclick="entDele()">确定</span>
      <span class="confimPopCancel" onclick="hidePop('#delePop')">取消</span>
    </div>
  </div>



  <div id="operating" class="hidden">
     <shiro:hasAnyPermissions name="pac:edit,pac:see">
    <span class="tabOper" id="editBtn">编辑</span>
     </shiro:hasAnyPermissions>

     <shiro:hasPermission name="pac:del">
    <span class="tabOper deleOpa" id="deleteBtn">删除</span>
     </shiro:hasPermission>
  </div>

  <iframe id="addFrame" class="frameClass"></iframe>
  <iframe id="editFrame" class="frameClass"></iframe>
</body>
<script>
  //回车搜索
  $("#configName").keydown(function (event) {
    if (event.keyCode === 13) {
      search(); //搜索
    }
  });
</script>

</html>