<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>公司管理</title>
    <link rel="stylesheet" href="../css/common/common.css"/>
    <link rel="stylesheet" href="../css/company.css"/>
    <script src="../js/common/jquery-1.8.0.min.js"></script>
    <script src="../js/common/url.js"></script>
    <script src="../js/common/common.js"></script>
    <script src="../fMap/2/fengmap.core.min.js"></script>
    <script src="../fMap/2/fengmap.control.min.js"></script>
    <script src="../js/common/initFmap.js"></script>
    <script src="../js/companyDetails.js"></script>
</head>
<body>
<div class="top">
    <span class="topTitle">公司管理 > <span id="titleFlag">新增</span></span>
    <div class="topBtn">
        <shiro:hasAnyPermissions name="cpy:edit,cpy:add">
                <span class="save" onclick="save()">
                    <i></i>保存
                </span>
        </shiro:hasAnyPermissions>
        <span class="refresh" onclick="location.reload()">
				<i></i>刷新
			</span><span class="back" onclick="back()">
				<i></i>返回
			</span>
    </div>
</div>
<div class="main">
    <div class="mainBox clearfix">
        <span style="font-family:'Microsoft YaHei UI',serif;color:red;position: absolute;margin-top:-35px"><span class="require">*</span>请不要输入非法字符！！！</span>
        <div class="clearfix">
            <div class="mainItem">
                    <span class="itemTxt"><span class="require">*</span>公司名称：</span>
                    <input autocomplete="off" placeholder="请输入公司名称 列如:xxx公司-x栋-127-xx" data-reg="^\S+$"
                       onkeyup="this.value=this.value.replace(/\s/g,'')" type="text" name="name" class="itemInput">
            </div>
            <div class="mainItem">
                <span class="itemTxt"><span class="require">*</span>管理者：</span>
                    <input autocomplete="off" placeholder="请输入管理者名字" data-reg="^\S+$"
                       onkeyup="this.value=this.value.replace(/\s/g,'')" type="text" name="user"
                       class="itemInput smallInput">
            </div>

            <div class="mainItem">
                <span class="itemTxt"><span class="require">*</span>密码：</span>
                    <input autocomplete="off" placeholder="请输入六位数密码"  onkeyup="CountWords2()"
                           oninput="value=value.replace(/[^\w]/g,'')" maxlength="12" data-reg="^\S+$"
                           type="password" id="pwd" name="pwd" class="itemInput smallInput">
<!--                    <p style="margin-left: 220px;margin-top: -30px;">-->
<!--                        <span id="txtNum" style="position:absolute;margin-left:190px;margin-top:-15px">-->
<!--                            0-->
<!--                        </span>-->
<!--                        /12-->
<!--                    </p>-->
            </div>
            <div class="mainItem">
                <span class="itemTxt"><span class="require">*</span>管理者手机号码：</span>
                    <input autocomplete="off" required data-reg="^.{11}$" placeholder="请输入11位手机号码"
                       oninput="value=value.replace(/[^\d]/g,'')" onkeyup="this.value=this.value.replace(/\s/g,'')"
                       type="text" name="phone" maxlength='11' class="itemInput smallInput">
            </div>
        </div>
        <div class="clearfix">
            <div class="mainItem" style="margin-bottom:10px">
                <span class="itemTxt">车位分配</span>
            </div>
            <!-- 公司管理 -->
            <div class="mainItem" style="margin-bottom:10px;position: relative;left:-20px;">
                <span class="itemTxt">公司关联地图车位：</span>
                <div class="batchBox" style="width: 190px;" onclick="switchSele(event)">
                    <div name="map" class="batchTxt" data-val="">--请选择--</div>
                    <div class="batchList" id="mapSelect">
                        <div data-val="">--请选择--</div>
                    </div>

                    <div class="hide">
                        <input readonly type="text" name="fid" class="hide"/>
                        <input readonly type="text" name="x" class="hide"/>
                        <input readonly type="text" name="y" class="hide"/>
                        <input readonly type="text" name="z" class="hide"/>
                        <input readonly type="text" name="floor" class="hide"/>
                        <input readonly type="text" name="map" class="hide"/>
                    </div>
                </div>
                <!-- <span class="itemTxt" >点击地图选择配置商家位置</span> -->
            </div>
        </div>
            <span class="tipsSpan">
<!--                <img src="../image/common/tip.png" class="imgHint" onmouseover="hint()">-->
                <span class="hint2">请在下方地图选择公司位置；<br>鼠标左键拖动地图，右键旋转地图</span>
            </span>
    </div>
    <div class="placeList" id="placeList"></div>
    <div class="fengmap" id="fengmap" style="position: relative;">
        <!--设备控件，2D/3D切换-->
        <div class="viewMode3">
            <div class="viewMode" onclick="changeMode(this)"></div>
        </div>
    </div>
</div>
<!-- 提示 -->
<div class="tips" id="tip"></div>
<!-- 遮罩 -->
<div class="mask" id="mask"></div>
<!-- 地图选点 -->

</body>
</html>