<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <title>地锁</title>
    <link rel="stylesheet" href="../css/common/common.css"/>
    <link rel="stylesheet" href="../css/list.css"/>
    <link rel="stylesheet" href="../css/permiss.css"/>
    <script src="../js/common/jquery-1.8.0.min.js"></script>
    <script src="../js/common/url.js"></script>
    <script src="../js/common/common.js"></script>
    <script src="../js/common/page.js"></script>
    <script src="../fMap/2/fengmap.core.min.js"></script>
    <script src="../fMap/2/fengmap.control.min.js"></script>
    <script src="../js/common/initFmap3.js"></script>
    <script src="../js/floorLock.js"></script>
</head>

<body>
<div class="contentTop">
    <span class="contentTitle">地锁</span>
    <div class="search">
        <div class="searchItem">
            设备编号：<input type="text" onkeyup="this.value=this.value.replace(/\s/g,'')" name="deviceNum"
                            id="deviceNum" class="searchInp" autocomplete="off" placeholder="请输入设备编号"/>
        </div>
        <div class="searchItem">
            车位号：<input type="text" onkeyup="this.value=this.value.replace(/\s/g,'')" name="parkingName"
                          id="parkingName" class="searchInp" autocomplete="off" placeholder="请输入车位号"/>
        </div>
        <div class="searchItem seleBox">
            关联地图：
                <div class="batchBox mapWidth" onclick="switchSele(event)">
                    <div name="map" class="batchTxt" data-val="">--请选择关联地图--</div>
                <div class="batchList" id="mapSelect">
                    <div onclick="seleBatch(this,'')">--请选择关联地图--</div>
                </div>
            </div>
        </div>
        <div class="searchItem seleBox">
            车位状态：
            <div class="batchBox" onclick="switchSele(event)">
                    <div name="placeState" class="batchTxt" data-val="">全部</div>
                <div class="batchList">
                    <div onclick="seleBatch(this,'')">全部</div>
                    <div onclick="seleBatch(this,'0')">空闲</div>
                    <div onclick="seleBatch(this,'1')">已停</div>
                </div>
            </div>
        </div>
			<div class="searchItem seleBox">
                地锁状态：
                <div class="batchBox" onclick="switchSele(event)">
                    <div name="floorState" class="batchTxt" data-val="">全部</div>
                    <div class="batchList">
                        <div onclick="seleBatch(this,'')">全部</div>
                        <div onclick="seleBatch(this,'0')">降锁</div>
                        <div onclick="seleBatch(this,'1')">升锁</div>
                        <div onclick="seleBatch(this,'3')">位置异常</div>
                    </div>
                </div>
            </div>

            <div class="searchItem seleBox">
                检测状态：
                <div class="batchBox" onclick="switchSele(event)">
                    <div name="state" class="batchTxt" data-val="">全部</div>
                    <div class="batchList">
                        <div onclick="seleBatch(this,'')">全部</div>
                        <div onclick="seleBatch(this,'0')">占用</div>
                        <div onclick="seleBatch(this,'1')">空闲</div>
                    </div>
                </div>
            </div>

            <div class="searchItem seleBox">
                网络状态：
                <div class="batchBox" onclick="switchSele(event)">
                    <div name="networkstate" class="batchTxt" data-val="">--请选择--</div>
                    <div class="batchList">
                        <div onclick="seleBatch(this,'')">--请选择--</div>
                        <div onclick="seleBatch(this,'0')">离线</div>
                        <div onclick="seleBatch(this,'1')">在线</div>
                    </div>
                </div>
            </div>
<div class="searchItem">
                楼层：<input type="text" onkeyup="this.value=this.value.replace(/\s/g,'')" name="floorName" id="floorName"
                    class="searchInp" autocomplete="off" placeholder="请输入楼层" style="width: 112px;" />
            </div>
        <span class="searchBtn" onclick="search()">搜索</span>
        <span class="searchBtn resetBtn" onclick="resetSearch()">重置</span>
        <shiro:hasPermission name="fk:add">
            <div class="topBtn">
                <span onclick="addFloorLock()">新增</span>
            </div>
        </shiro:hasPermission>
        <!--        <span class="searchBtn resetBtn">-->
        <!--            <input type="file" onchange="importSub(this)" id="impId" name="impId" accept=".xls,.xlsx" class="importInput"/>导入-->
        <!--        </span>-->
        <!--        <span class="searchBtn resetBtn">导出</span>-->
            <span class="searchBtn resetBtn" onclick="exportShow()">导出</span>
    </div>
</div>
<!-- 信息 -->
<div class="wrap">
    <table class="tab" id="tab">
        <thead>
        <tr>
            <td name="line" class="line">序号</td>
            <td name="deviceNum">
                设备编号
                <span class="tabSort" onclick="tabSort(this,'deviceNum')"></span>
            </td>
            <td name="parkingName">
                车位号
                <span class="tabSort" onclick="tabSort1(this,'parkingName')"></span>
            </td>
            <td name="mapName">关联地图</td>
            <td name="floorName">楼层</td>
                    <td name="placeState">车位状态</td>
            
            <td name="floorLockState">地锁状态</td>
                    <td name="state">检测状态</td>
            <td name="model">地锁模式</td>
            <td name="power">
                电量
                <span class="tabSort" onclick="tabSort1(this,'power')"></span>
            </td>
<td name="networkstate">网络状态</td>
            <td name="startTime">
                创建时间
                <span class="tabSort" onclick="tabSort1(this,'startTime')"></span>
            </td>
            
            <td name="offlineTime">最后在线时间
                <!-- <span class="tabSort" onclick="tabSort1(this,'offlineTime')"></span> -->
            </td>
            <td name="operating">操作</td>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="listFooter clearfix">
        <label class="seleLabel">
            <input id="allCheck" onclick="allCheck(this)" type="checkbox" class="tabCheck" name="tabCheck">
            <span class="seleIcon"></span>全选
        </label>

        <shiro:hasPermission name="fk:del">
            <span class="deleBtn" onclick="showAllDele()">删除</span>
        </shiro:hasPermission>

        <div class="page">
            <span id="total" class="total"></span>
            <span class="turnPage prev" onclick="prevPage()"></span>
            <ul class="pageList"></ul>
            <span class="turnPage next" onclick="nextPage(this)"></span>
            跳至<input type="text" value="1" class="jumpPage" onkeyup="jumpCurPage(this,event)"/>页
        </div>
    </div>
</div>
<!-- 提示 -->
<div class="tips" id="tip"></div>
<!-- 遮罩 -->
<div class="mask" id="mask"></div>
<!-- 确认提示框 -->
<div class="confimPop" id="delePop">
    <div class="confimPopTop">
        <span class="popClose" onclick="hidePop('#delePop')"></span>
    </div>
    <div class="confimPopInfo">
        <p class="confimPopTitle">是否删除？</p>
        <p class="txtOverFlow">地锁：<span id="deleTxt"></span></p>
    </div>
    <div class="confimPopFooter">
        <span class="confimPopEnt" onclick="entDele()">确定</span><span class="confimPopCancel"
                                                                        onclick="hidePop('#delePop')">取消</span>
    </div>
</div>

    <!-- 蓝牙信标所在位置 -->
    <div class="mapPop" id="mapPop">
        <div class="mapPopTop">
            地锁所在位置
            <div class="close" onclick="hidePop('#mapPop')"></div>
        </div>
        <div class="fengmap" id="fengmap">
            <!--设备控件，2D/3D切换-->
            <div class="viewMode3">
                <div class="viewMode" onclick="changeMode(this)"></div>
            </div>
            <!--加载logo-->
            <div class="layer1Img">
                <img src="../image/common/PARKHome2.png" class="imgs1">
            </div>
        </div>
    </div>

    <div class="permissPop main" id="permissPop">
        <div class="popTop">
            <span id="saveTxt"></span>
            <span class="popClose" onclick="closePop('#permissPop')"></span>
        </div>
        <!-- 占位显示（虚化） -->
        <div style="height: 1px"></div>
        <div class="popCen">
            <div class="mainItemB">
                <span class="itemTxt"><span class="require">*</span>地图:</span>
                <div class="searchItem seleBoxmap">
                    <div class="batchBox" onclick="switchSele(event)" style="width: 220px;">
                        <div name="map1" class="batchTxt" data-val="">--请选择--</div>
                        <div class="batchList" id="mapSelect1">
                            <div onclick="seleBatch(this,'')">--请选择--</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="managBtnCen" onclick="exportBtn()">导出</div>

        </div>
    </div>

<div id="operating" class="hidden">
    <shiro:hasAnyPermissions name="fk:edit,fk:see">
        <span class="tabOper" id="editBtn">编辑</span>
    </shiro:hasAnyPermissions>

        <shiro:hasPermission name="fk:del">
            <span class="tabOper deleOpa" id="deleteBtn">删除</span>
        </shiro:hasPermission>

        <shiro:hasPermission name="fk:call">
            <span class="tabOper deleOpa" id="todoBtn">操作</span>
        </shiro:hasPermission>

        <shiro:hasAnyPermissions name="fk:see">
            <span class="tabOper" id="codeBtn">二维码</span>
        </shiro:hasAnyPermissions>
    </div>
    <iframe id="addFrame" class="frameClass"></iframe>
    <iframe id="editFrame" class="frameClass"></iframe>
    <iframe id="cordFrame" class="frameClass"></iframe>
</body>
<script>
    //回车搜索
    $("#deviceNum").keydown(function (event) {
        if (event.keyCode === 13) {
            search(); //搜索
        }
    });

    $("#parkingName").keydown(function (event) {
        if (event.keyCode === 13) {
            search(); //搜索
        }
    });
</script>

</html>