<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <title>导引屏设备</title>
    <link rel="stylesheet" href="../css/common/common.css"/>
    <link rel="stylesheet" href="../css/list.css"/>
    <link rel="stylesheet" href="../css/permiss.css"/>
    <link rel="stylesheet" href="../fMap/3/toolBarStyle.css" />
    <script src="../js/common/jquery-1.8.0.min.js"></script>
    <script src="../js/common/url.js"></script>
    <script src="../js/common/common.js"></script>
    <script src="../js/common/page.js"></script>
    <script src="../fMap/3/fengmap.map.min.js"></script>
    <script src="../fMap/3/fengmap.plugins-mapedit.min.js"></script>
    <script src="../fMap/3/fengmap.plugin.min.js"></script>
    <script src="../fMap/3.1.2/fengmap.plugins-compositemarker.min.js"></script>
    <script src="../js/common/initFmap4.js"></script>
    <script src="../js/guideScreen.js"></script>
</head>

<body>
<div class="contentTop">
    <span class="contentTitle">导引屏设备</span>
    <div class="search">
        <div class="searchItem seleBox">
            设备ID：
            <input type="text" onkeyup="this.value=this.value.replace(/\s/g,'')" name="deviceId" id="deviceId"
                    class="searchInp" autocomplete="off" placeholder="请输入设备ID" style="width:112px" />
            </div>
            <div class="searchItem seleBox">
                设备IP：
                <input type="text" onkeyup="this.value=this.value.replace(/\s/g,'')" name="ip" id="ip" class="searchInp"
                    autocomplete="off" placeholder="请输入设备IP" style="width:112px" />
            </div>
            <div class="searchItem seleBox">
                关联地图：
                <div class="batchBox mapWidth" onclick="switchSele(event)">
                    <div name="map" class="batchTxt" data-val="">--请选择关联地图--</div>
                    <div class="batchList" id="mapSelect">
                        <div onclick="seleBatch(this,'')">--请选择关联地图--</div>
                    </div>
                </div>
            </div>
            <div class="searchItem seleBox">
                楼层：
                <input type="text" onkeyup="this.value=this.value.replace(/\s/g,'')" name="floorName" id="floorName"
                    class="searchInp" autocomplete="off" placeholder="请输入楼层" style="width:112px" />
            </div>

            <div class="searchItem seleBox">
                网络状态：
                <div class="batchBox" onclick="switchSele(event)">
                    <div name="networkStatus" class="batchTxt" data-val="">--请选择--</div>
                    <div class="batchList">
                        <div onclick="seleBatch(this,'')">--请选择--</div>
                        <div onclick="seleBatch(this,'0')">离线</div>
                        <div onclick="seleBatch(this,'1')">在线</div>
                    </div>
                </div>
            </div>

            <span class="searchBtn" onclick="search()">搜索</span>
            <span class="searchBtn resetBtn" onclick="reset()">重置</span>
            <shiro:hasPermission name="gsd:add">
                <div class="topBtn">
                    <span onclick="addRecommend()">新增</span>
                </div>
            </shiro:hasPermission>
        </div>
    </div>
    <!-- 信息 -->
    <div class="wrap">
        <table class="tab" id="tab">
            <thead>
                <tr>
                    <td name="line" class="line">序号</td>
                    <td name="deviceId">设备ID</td>
                    <td name="ip">设备IP</td>
                    <td name="mapName">关联地图</td>
                    <td name="floorName">楼层</td>
                    <td name="networkStatus">网络状态</td>
                    <td name="locationName">位置名称</td>
                    <td name="operating">操作</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="listFooter clearfix">
            <label class="seleLabel">
                <input id="allCheck" onclick="allCheck(this)" type="checkbox" class="tabCheck" name="tabCheck">
                <span class="seleIcon"></span>全选
            </label>

        <shiro:hasPermission name="gsd:del">
            <span class="deleBtn" onclick="showAllDele()">删除</span>
        </shiro:hasPermission>

        <div class="page">
            <span id="total" class="total"></span>
            <span class="turnPage prev" onclick="prevPage()"></span>
            <ul class="pageList"></ul>
            <span class="turnPage next" onclick="nextPage(this)"></span>
            跳至<input type="text" value="1" class="jumpPage" onkeyup="jumpCurPage(this,event)"/>页
        </div>
    </div>
</div>
<!-- 提示 -->
<div class="tips" id="tip"></div>
<!-- 遮罩 -->
<div class="mask" id="mask"></div>
<!-- 确认提示框 -->
<div class="confimPop" id="delePop">
    <div class="confimPopTop">
        <span class="popClose" onclick="hidePop('#delePop')"></span>
    </div>
    <div class="confimPopInfo">
        <p class="confimPopTitle">是否删除？</p>
        <p class="txtOverFlow">导引屏设备：<span id="deleTxt"></span></p>
    </div>
    <div class="confimPopFooter">
        <span class="confimPopEnt" onclick="entDele()">确定</span><span class="confimPopCancel"
                                                                        onclick="hidePop('#delePop')">取消</span>
    </div>
</div>

    <!-- 蓝牙信标所在位置 -->
    <div class="mapPop" id="mapPop">
        <div class="mapPopTop">
            导引屏设备所在位置
            <div class="close" onclick="hidePop('#mapPop')"></div>
        </div>
        <div class="fengmap" id="fengmap"></div>
    </div>

<div id="operating" class="hidden">
     <shiro:hasAnyPermissions name="gsd:see,gsd:edit">
        <span class="tabOper" id="editBtn">详情</span>
     </shiro:hasAnyPermissions>

     <shiro:hasPermission name="gsd:del">
        <span class="tabOper deleOpa" id="deleteBtn">删除</span>
     </shiro:hasPermission>
</div>
<iframe id="addFrame" class="frameClass"></iframe>
<iframe id="editFrame" class="frameClass"></iframe>
</body>
<script>
    //回车搜索
    $("#barrierGateNum").keydown(function (event) {
        if (event.keyCode === 13) {
            search(); //搜索
        }
    });
</script>

</html>