<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <title>易PARK智慧停车</title>
    <link rel="shortcut icon" href="../image/titleIcon.ico">
    <link rel="stylesheet" href="../css/home.css">
    <script src="../js/common/jquery-1.8.0.min.js"></script>
    <script src="../js/common/url.js"></script>
    <script src="../js/common/page.js"></script>
    <script src="../js/common/common.js"></script>
    <script src="../js/home.js"></script>
</head>
<body>
<div class="header">
    <!--用于连接websocket-->
    <span id="websocket" hidden>
			<shiro:authenticated><!-- 登录之后-->
				<shiro:principal property="uid"/> <!--显示用户身份名称-->
			</shiro:authenticated>
    </span>
    <div>
        <img  src="../image/common/PARKHome.png" class="logo1" alt="logo"/>
    </div>
    <div class="headerRig">
			<span class="user">
				<shiro:authenticated><!-- 登录之后-->
					<shiro:principal property="membername"/><!--显示用户身份中的属性值-->
				</shiro:authenticated>
			</span>
 			<!-- 通知 -->
            <div class="notice">
                <div onclick="notice(event)">
                    <img src="../image/common/notice.png" />
                    <span class="noticeNum" id="noticeNum">0</span>
                </div>

                <div class="showNoticeBox" id="showNoticeBox">
                    <div class="allNoticeH">
                        <div class="allNHtext">全部消息</div>
                        <div class="allNHicon" onclick="notice(event)"></div>
                    </div>
                    <div class="showNoticeList" id="showNoticeList"></div>
                    <div class="seeMoreNotice" onclick="seeMoreData()">查看更多</div>
                </div>
            </div>

        <img class="exit" src="../image/common/exit.png" onclick="exit()"/>
    </div>
    <div class="navBox">
        <ul class="nav">
            <li class="curNav" id="dataCenterNav"  onclick="switchNav(this,'dataCenter',0)">
                <a href="javascript:void(0)">数据中心</a>
            </li>

            <th:block th:each="menu : ${menus}">
                <!-- 检查菜单编码是否为 parkingManag 且 permissions 不为 null -->
                <th:block th:if="${menu.menuCode == 'parkingManag' and menu.permissions != null}">
                    <!-- 使用 Shiro 标签检查权限 -->
                    <shiro:hasAnyPermissions name="${menu.permissions}">
                        <li id="parkingManagNav" onclick="switchNav(this,'parkingManag',1)">
                            <a href="javascript:void(0)">车场管理</a>
                        </li>
                    </shiro:hasAnyPermissions>
                </th:block>
            </th:block>

            <!-- 商家管理 -->
            <th:block th:each="menu : ${menus}">
                <th:block th:if="${menu.menuCode == 'businessManag' and menu.permissions != null}">
                    <shiro:hasAnyPermissions name="${menu.permissions}">
                        <li id="businessManagNav" onclick="switchNav(this,'businessManag',2)">
                            <a href="javascript:void(0)">商家管理</a>
                        </li>
                    </shiro:hasAnyPermissions>
                </th:block>
            </th:block>

            <!-- 设备管理 -->
            <th:block th:each="menu : ${menus}">
                <th:block th:if="${menu.menuCode == 'deviceManag' and menu.permissions != null}">
                    <shiro:hasAnyPermissions name="${menu.permissions}">
                        <li id="deviceManagNav" onclick="switchNav(this,'deviceManag',3)">
                            <a href="javascript:void(0)">设备管理</a>
                        </li>
                    </shiro:hasAnyPermissions>
                </th:block>
            </th:block>

            <!-- 报警管理 -->
            <th:block th:each="menu : ${menus}">
                <th:block th:if="${menu.menuCode == 'callpolice' and menu.permissions != null}">
                    <shiro:hasAnyPermissions name="${menu.permissions}">
                        <li id="callpoliceManagNav" onclick="switchNav(this,'callpolice',4)">
                            <a href="javascript:void(0)">报警管理</a>
                        </li>
                    </shiro:hasAnyPermissions>
                </th:block>
            </th:block>

            <!-- 用户管理 -->
            <th:block th:each="menu : ${menus}">
                <th:block th:if="${menu.menuCode == 'userManag' and menu.permissions != null}">
                    <shiro:hasAnyPermissions name="${menu.permissions}">
                        <li id="userManagNav" onclick="switchNav(this,'userManag',5)">
                            <a href="javascript:void(0)">用户管理</a>
                        </li>
                    </shiro:hasAnyPermissions>
                </th:block>
            </th:block>

        </ul>
        <span class="slide" id="slide"></span>
    </div>
</div>
<div class="spacing"></div>

<div class="main">
    <!-- 左侧菜单 -->
    <div class="main_left">
        <div class="menu">
            <!-- 首页 -->
            <div id="dataCenter" class="show">
                <div class="menuTxt">
                    <div class="menuItem" id="curMenu">
                        <div class="defaCur" data-path="realtime" id="realtime"  onclick="switchMenu(this)">
                            <span class="menuIconRealTime"></span>实时数据
                        </div>
                    </div>
                </div>
            </div>

            <div id="parkingManag" class="hide">
                <th:block th:each="menu : ${menus}">
                    <th:block th:if="${menu.menuCode== 'parkingManag'}">
                        <!-- 遍历子菜单 -->
                        <!-- 判断子菜单名称是否是 place -->
                        <th:block th:each="subMenu : ${menu.subPermissions}">
                            <th:block th:if="${subMenu.menuCode == 'place'}">
                                <shiro:hasAnyPermissions name="${subMenu.permissions}">
                                    <!-- 在满足条件的子菜单下显示具体内容 -->
                                    <!--车位规划-->
                                    <div class="menuItem">
                                        <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                            <span class="carBitMenuIcon"></span>
                                            <span th:text="${subMenu.menuName}"></span>
                                        </div>
                                    </div>
                                </shiro:hasAnyPermissions>
                            </th:block>

                            <th:block th:if="${subMenu.menuCode == 'vipPlace'}">
                                <shiro:hasAnyPermissions name="${subMenu.permissions}">
                                    <!-- VIP车位管理 -->
                                    <div class="menuItem">
                                        <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                            <span class="vipPlaceMenuIcon"></span>
                                            <span th:text="${subMenu.menuName}"></span>
                                        </div>
                                    </div>
                                </shiro:hasAnyPermissions>
                            </th:block>

                            <th:block th:if="${subMenu.menuCode == 'vipArea'}">
                                <shiro:hasAnyPermissions name="${subMenu.permissions}">
                                <!-- vipArea -->
                                    <div class="menuItem">
                                        <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                            <span class="vipAreaMenuIcon"></span>
                                            <span th:text="${subMenu.menuName}"></span>
                                        </div>
                                    </div>
                                </shiro:hasAnyPermissions>
                            </th:block>

                            <th:block th:if="${subMenu.menuCode == 'placeVideo'}">
                                <shiro:hasAnyPermissions name="${subMenu.permissions}">
                            <!-- 车位视频检测 -->
                                    <div class="menuItem">
                                        <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                            <span class="placeVideoMenuIcon"></span>
                                            <span th:text="${subMenu.menuName}"></span>
                                        </div>
                                    </div>
                                </shiro:hasAnyPermissions>
                            </th:block>

                            <th:block th:if="${subMenu.menuCode == 'recommend'}">
                                <shiro:hasAnyPermissions name="${subMenu.permissions}">
                            <!-- 推荐配置 -->
                                    <div class="menuItem">
                                        <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                            <span class="recommendMenuIcon"></span>
                                            <span th:text="${subMenu.menuName}"></span>
                                        </div>
                                    </div>
                                </shiro:hasAnyPermissions>
                            </th:block>

                            <th:block th:if="${subMenu.menuCode == 'accessMouthList2'}">
                                <shiro:hasAnyPermissions name="${subMenu.permissions}">
                            <!-- 跨层通道 -->
                                    <div class="menuItem">
                                        <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                            <span class="menuIcon1"></span>
                                            <span th:text="${subMenu.menuName}"></span>
                                        </div>
                                    </div>
                                </shiro:hasAnyPermissions>
                            </th:block>

                            <th:block th:if="${subMenu.menuCode == 'accessMouthList'}">
                                <shiro:hasAnyPermissions name="${subMenu.permissions}">
                            <!-- 车库出入口 -->
                                    <div class="menuItem">
                                        <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                            <span class="menuIcon1"></span>
                                            <span th:text="${subMenu.menuName}"></span>
                                        </div>
                                    </div>
                                </shiro:hasAnyPermissions>
                            </th:block>

                            <th:block th:if="${subMenu.menuCode == 'mapPathLabels'}">
                                <shiro:hasAnyPermissions name="${subMenu.permissions}">
                            <!-- 地图路径标注 -->
                                    <div class="menuItem">
                                        <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                            <span class="mapPathLabelsMenuIcon"></span>
                                            <span th:text="${subMenu.menuName}"></span>
                                        </div>
                                    </div>
                                </shiro:hasAnyPermissions>
                            </th:block>

                            <th:block th:if="${subMenu.menuCode == 'company'}">
                                <shiro:hasAnyPermissions name="${subMenu.permissions}">
                            <!-- 公司管理 -->
                                    <div class="menuItem">
                                        <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                            <span class="menuIconCom"></span>
                                            <span th:text="${subMenu.menuName}"></span>
                                        </div>
                                    </div>
                                </shiro:hasAnyPermissions>
                            </th:block>

                            <th:block th:if="${subMenu.menuCode == 'elevator'}">
                                <shiro:hasAnyPermissions name="${subMenu.permissions}">
                            <!-- 电梯管理 -->
                                    <div class="menuItem">
                                        <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                            <span class="menuIconElevator"></span>
                                            <span th:text="${subMenu.menuName}"></span>
                                        </div>
                                    </div>
                                </shiro:hasAnyPermissions>
                            </th:block>

                            <th:block th:if="${subMenu.menuCode == 'serviceFacilities'}">
                                <shiro:hasAnyPermissions name="${subMenu.permissions}">
                            <!-- 服务设施 -->
                                    <div class="menuItem">
                                        <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                            <span class="menuIconMap"></span>
                                            <span th:text="${subMenu.menuName}"></span>
                                        </div>
                                    </div>
                                </shiro:hasAnyPermissions>
                            </th:block>

                            <th:block th:if="${subMenu.menuCode == 'outdoorObjects'}">
                                <shiro:hasAnyPermissions name="${subMenu.permissions}">
                            <!-- 室外物体 -->
                                    <div class="menuItem">
                                        <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                            <span class="menuIconCom"></span>
                                            <span th:text="${subMenu.menuName}"></span>
                                        </div>
                                    </div>
                                </shiro:hasAnyPermissions>
                            </th:block>

                            <div th:if="${subMenu.menuCode == 'licensePlateBind'}">
                                <shiro:hasAnyPermissions name="${subMenu.permissions}">
                            <!-- 车牌绑定 -->
                                    <div class="menuItem">
                                        <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                            <span class="menuIcon permissIcon"></span>
                                            <span th:text="${subMenu.menuName}"></span>
                                        </div>
                                    </div>
                                </shiro:hasAnyPermissions>
                            </div>

                            <th:block th:if="${subMenu.menuCode == 'exclusiveUser'}">
                                <shiro:hasAnyPermissions name="${subMenu.permissions}">
                            <!-- 专属用户 -->
                                    <div class="menuItem">
                                        <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                            <span class="menuIcon memberIcon"></span>
                                            <span th:text="${subMenu.menuName}"></span>
                                        </div>
                                    </div>
                                </shiro:hasAnyPermissions>
                            </th:block>

                            <th:block th:if="${subMenu.menuCode == 'parkingLotCost'}">
                                <shiro:hasAnyPermissions name="${subMenu.permissions}">
                            <!-- 收费管理 -->
                                    <div class="menuItem">
                                        <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                            <span class="vipPlaceMenuIcon"></span>
                                            <span th:text="${subMenu.menuName}"></span>
                                        </div>
                                    </div>
                                </shiro:hasAnyPermissions>
                            </th:block>

                            <th:block th:if="${subMenu.menuCode == 'userFeedback'}">
                                <shiro:hasAnyPermissions name="${subMenu.permissions}">
                                    <!-- 用户反馈 -->
                                    <div class="menuItem">
                                        <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                            <span class="menuIconUserAdmin"></span>
                                            <span th:text="${subMenu.menuName}"></span>
                                        </div>
                                    </div>
                                </shiro:hasAnyPermissions>
                            </th:block>

                            <th:block th:if="${subMenu.menuCode == 'locaMarkerList'}">
                                <shiro:hasAnyPermissions name="${subMenu.permissions}">
                                    <!-- 地点标记管理 -->
                                    <div class="menuItem">
                                        <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                            <span class="vipAreaMenuIcon"></span>
                                            <span th:text="${subMenu.menuName}"></span>
                                        </div>
                                    </div>
                                </shiro:hasAnyPermissions>
                            </th:block>

                        </th:block >
                    </th:block>
                </th:block>
            </div>

            <div id="businessManag" class="hide">
                <div class="menuTxt">
                    <th:block th:each="menu : ${menus}">
                        <th:block th:if="${menu.menuCode== 'businessManag'}">
                            <th:block th:each="subMenu : ${menu.subPermissions}">
                                <th:block th:if="${subMenu.menuCode == 'business'}">
                                    <shiro:hasAnyPermissions name="${subMenu.permissions}">
                                        <div class="menuItem">
                                            <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                                <span class="menuIcon businessIcon"></span>
                                                <span th:text="${subMenu.menuName}"></span>
                                            </div>
                                        </div>
                                    </shiro:hasAnyPermissions>
                                </th:block>

                                <th:block th:if="${subMenu.menuCode == 'merchantType'}">
                                    <shiro:hasAnyPermissions name="${subMenu.permissions}">
                                        <!-- 短信服务 -->
                                        <div class="menuItem">
                                            <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                                <span class="menuIcon menuIconUserAdmin"></span>
                                                <span th:text="${subMenu.menuName}"></span>
                                            </div>
                                        </div>
                                    </shiro:hasAnyPermissions>
                                </th:block>

                                <th:block th:if="${subMenu.menuCode == 'textmessage'}">
                                    <shiro:hasAnyPermissions name="${subMenu.permissions}">
                                <!-- 短信服务 -->
                                        <div class="menuItem">
                                            <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                                <span class="menuIcon menuIconUserAdmin"></span>
                                                <span th:text="${subMenu.menuName}"></span>
                                            </div>
                                        </div>
                                    </shiro:hasAnyPermissions>
                                </th:block>

                                <th:block th:if="${subMenu.menuCode == 'promotion'}">
                                    <shiro:hasAnyPermissions name="${subMenu.permissions}">
                                <!-- 推广人管理 -->
                                        <div class="menuItem">
                                            <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                                <span class="menuIcon memberIcon"></span>
                                                <span th:text="${subMenu.menuName}"></span>
                                            </div>
                                        </div>
                                    </shiro:hasAnyPermissions>
                                </th:block>

                                <th:block th:if="${subMenu.menuCode == 'promotionQRcodelist'}">
                                    <shiro:hasAnyPermissions name="${subMenu.permissions}">
                                <!-- 推广码管理 -->
                                        <div class="menuItem">
                                            <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                                <span class="menuIcon permissIcon"></span>
                                                <span th:text="${subMenu.menuName}"></span>
                                            </div>
                                        </div>
                                    </shiro:hasAnyPermissions>
                                </th:block>
                            </th:block>
                        </th:block>
                    </th:block>
                </div>
            </div>

            <div id="deviceManag" class="hide">
                <div class="menuTxt">
                    <th:block th:each="menu : ${menus}">
                        <th:block th:if="${menu.menuCode== 'deviceManag'}">
                            <th:block th:each="subMenu : ${menu.subPermissions}">
                                <th:block th:if="${subMenu.menuCode == 'baseStation'}">
                                    <shiro:hasAnyPermissions name="${subMenu.permissions}">
                                <!-- 蓝牙信标 -->
                                        <div class="menuItem">
                                            <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                                <span class="menuIcon baseIcon"></span>
                                                <span th:text="${subMenu.menuName}"></span>
                                            </div>
                                        </div>
                                    </shiro:hasAnyPermissions>
                                </th:block>

                                <th:block th:if="${subMenu.menuCode == 'gateway'}">
                                    <shiro:hasAnyPermissions name="${subMenu.permissions}">
                                <!-- 网关 -->
                                        <div class="menuItem">
                                            <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                                <span class="menuIconGateway"></span>
                                                <span th:text="${subMenu.menuName}"></span>
                                            </div>
                                        </div>
                                    </shiro:hasAnyPermissions>
                                </th:block>

                                <th:block th:if="${subMenu.menuCode == 'detector'}">
                                    <shiro:hasAnyPermissions name="${subMenu.permissions}">
                                <!-- 车位检测器 -->
                                        <div class="menuItem">
                                            <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                                <span class="menuIcon magneticIcon"></span>
                                                <span th:text="${subMenu.menuName}"></span>
                                            </div>
                                        </div>
                                    </shiro:hasAnyPermissions>
                                </th:block>

                                <th:block th:if="${subMenu.menuCode == 'floorLock'}">
                                    <shiro:hasAnyPermissions name="${subMenu.permissions}">
                                <!-- 地锁 -->
                                        <div class="menuItem">
                                            <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                                <span class="menuIcon floorLockIcon"></span>
                                                <span th:text="${subMenu.menuName}"></span>
                                            </div>
                                        </div>
                                    </shiro:hasAnyPermissions>
                                </th:block>

                                <th:block th:if="${subMenu.menuCode == 'floorLockConfig'}">
                                    <shiro:hasAnyPermissions name="${subMenu.permissions}">
                                <!-- 地锁配置 -->
                                        <div class="menuItem">
                                            <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                                <span class="menuIcon floorLockIcon"></span>
                                                <span th:text="${subMenu.menuName}"></span>
                                            </div>
                                        </div>
                                    </shiro:hasAnyPermissions>
                                </th:block>

                                <th:block th:if="${subMenu.menuCode == 'barrier'}">
                                    <shiro:hasAnyPermissions name="${subMenu.permissions}">
                                <!-- 道闸 -->
                                        <div class="menuItem">
                                            <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                                <span class="menuIcon barrierIcon"></span>
                                                <span th:text="${subMenu.menuName}"></span>
                                            </div>
                                        </div>
                                    </shiro:hasAnyPermissions>
                                </th:block>

                                <th:block th:if="${subMenu.menuCode == 'videoDataList'}">
                                    <shiro:hasAnyPermissions name="${subMenu.permissions}">
                                <!-- AI智能摄像机管理 -->
                                        <div class="menuItem">
                                            <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                                <span class="placeVideoMenuIcon"></span>
                                                <span th:text="${subMenu.menuName}"></span>
                                            </div>
                                        </div>
                                    </shiro:hasAnyPermissions>
                                </th:block>

                                <th:block th:if="${subMenu.menuCode == 'originalVideoData'}">
                                    <shiro:hasAnyPermissions name="${subMenu.permissions}">
                                        <div class="menuItem">
                                        <!-- 视频原数据 -->
                                            <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                                <span class="loginLogMenuIcon"></span>
                                                <span th:text="${subMenu.menuName}"></span>
                                            </div>
                                        </div>
                                    </shiro:hasAnyPermissions>
                                </th:block>

                                <th:block th:if="${subMenu.menuCode == 'guideScreen'}">
                                    <shiro:hasAnyPermissions name="${subMenu.permissions}">
                                <!-- 导引屏设备 -->
                                        <div class="menuItem">
                                            <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                                <span class="guideScreenMenuIcon"></span>
                                                <span th:text="${subMenu.menuName}"></span>
                                            </div>
                                        </div>
                                    </shiro:hasAnyPermissions>
                                </th:block>

                                <th:block th:if="${subMenu.menuCode == 'displayScreen'}">
                                    <shiro:hasAnyPermissions name="${subMenu.permissions}">
                                <!-- 导引屏配置 -->
                                        <div class="menuItem">
                                            <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                                <span class="displayScreenMenuIcon"></span>
                                                <span th:text="${subMenu.menuName}"></span>
                                            </div>
                                        </div>
                                    </shiro:hasAnyPermissions>
                                </th:block>

                                <th:block th:if="${subMenu.menuCode == 'map'}">
                                    <shiro:hasAnyPermissions name="${subMenu.permissions}">
                                <!-- 地图管理 -->
                                        <div class="menuItem">
                                            <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                                <span class="menuIconMap"></span>
                                                <span th:text="${subMenu.menuName}"></span>
                                            </div>
                                        </div>
                                    </shiro:hasAnyPermissions>
                                </th:block>

                                <th:block th:if="${subMenu.menuCode == 'timeManagement'}">
                                    <shiro:hasAnyPermissions name="${subMenu.permissions}">
                                <!-- 时段管理 -->
                                        <div class="menuItem">
                                            <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                                <span class="loginLogMenuIcon"></span>
                                                <span th:text="${subMenu.menuName}"></span>
                                            </div>
                                        </div>
                                    </shiro:hasAnyPermissions>
                                </th:block>

                                <th:block th:if="${subMenu.menuCode == 'unlockInfo'}">
                                    <shiro:hasAnyPermissions name="${subMenu.permissions}">
                                <!-- 开锁信息 -->
                                        <div class="menuItem">
                                            <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                                <span class="menuIcon1"></span>
                                                <span th:text="${subMenu.menuName}"></span>
                                            </div>
                                        </div>
                                    </shiro:hasAnyPermissions>
                                </th:block>
                            </th:block>
                        </th:block>
                    </th:block>
                </div>
            </div>

            <div id="callpolice" class="hide">
                <th:block th:each="menu : ${menus}">
                    <th:block th:if="${menu.menuCode== 'callpolice'}">
                        <th:block th:each="subMenu : ${menu.subPermissions}">
                            <th:block th:if="${subMenu.menuCode == 'devopsList'}">
                                <shiro:hasAnyPermissions name="${subMenu.permissions}">
                            <!-- 运维人员管理 -->
                                    <div class="menuItem">
                                        <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="cpid" onclick="switchMenu(this)">
                                            <span class="menuIcon memberIcon"></span>
                                            <span th:text="${subMenu.menuName}"></span>
                                        </div>
                                    </div>
                                </shiro:hasAnyPermissions>
                            </th:block>

                            <th:block th:if="${subMenu.menuCode == 'callPoliceConfig'}">
                                <shiro:hasAnyPermissions name="${subMenu.permissions}">
                            <!-- 报警类型配置 -->
                                    <div class="menuItem">
                                        <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                            <span class="menuIcon menuIconCom"></span>
                                            <span th:text="${subMenu.menuName}"></span>
                                        </div>
                                    </div>
                                </shiro:hasAnyPermissions>
                            </th:block>

                            <th:block th:if="${subMenu.menuCode == 'callPoliceConfig2'}">
                                <shiro:hasAnyPermissions name="${subMenu.permissions}">
                            <!-- 报警参数配置 -->
                                    <div class="menuItem">
                                        <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                            <span class="menuIconCom"></span>
                                            <span th:text="${subMenu.menuName}"></span>
                                        </div>
                                    </div>
                                </shiro:hasAnyPermissions>
                            </th:block>

                            <th:block th:if="${subMenu.menuCode == 'whiteList'}">
                                <shiro:hasAnyPermissions name="${subMenu.permissions}">
                            <!-- 白名单 -->
                                    <div class="menuItem">
                                        <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                            <span class="menuIconUserAdmin"></span>
                                            <span th:text="${subMenu.menuName}"></span>
                                        </div>
                                    </div>
                                </shiro:hasAnyPermissions>
                            </th:block>

                            <th:block th:if="${subMenu.menuCode == 'callPolice'}">
                                <shiro:hasAnyPermissions name="${subMenu.permissions}">
                            <!-- 报警管理 -->
                                    <div class="menuItem callPolice">
                                        <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                            <span class="menuIcon permissIcon"></span>
                                            <span th:text="${subMenu.menuName}"></span>
                                        </div>
                                    </div>
                                </shiro:hasAnyPermissions>
                            </th:block>

                            <th:block th:if="${subMenu.menuCode == 'alarmPushList'}">
                                <shiro:hasAnyPermissions name="${subMenu.permissions}">
                            <!-- 报警推送配置 -->
                                    <div class="menuItem">
                                        <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                            <span class="menuIconElevator"></span>
                                            <span th:text="${subMenu.menuName}"></span>
                                        </div>
                                    </div>
                                </shiro:hasAnyPermissions>
                            </th:block>
                        </th:block>
                    </th:block>
                </th:block>
            </div>

            <div id="userManag" class="hide">
                <div class="menuTxt">
                    <th:block th:each="menu : ${menus}">
                        <th:block th:if="${menu.menuCode== 'userManag'}">
                            <th:block th:each="subMenu : ${menu.subPermissions}">
                                <th:block th:if="${subMenu.menuCode == 'member'}">
                                    <shiro:hasAnyPermissions name="${subMenu.permissions}">
                                <!-- 人员账户管理 -->
                                        <div class="menuItem">
                                            <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="member" onclick="switchMenu(this)">
                                                <span class="menuIcon memberIcon"></span>
                                                <span th:text="${subMenu.menuName}"></span>
                                            </div>
                                        </div>
                                    </shiro:hasAnyPermissions>
                                </th:block>

                                <th:block th:if="${subMenu.menuCode == 'permiss'}">
                                    <shiro:hasAnyPermissions name="${subMenu.permissions}">
                                <!-- 账户权限管理 -->
                                        <div class="menuItem">
                                            <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                                <span class="menuIcon permissIcon"></span>
                                                <span th:text="${subMenu.menuName}"></span>
                                            </div>
                                        </div>
                                    </shiro:hasAnyPermissions>
                                </th:block>

                                <th:block th:if="${subMenu.menuCode == 'mapmember'}">
                                    <shiro:hasAnyPermissions name="${subMenu.permissions}">
                                <!-- 移动端账户管理 -->
                                        <div class="menuItem">
                                            <div class="defaCur" th:attr="data-path=${subMenu.menuCode}" th:id="${subMenu.menuCode}" onclick="switchMenu(this)">
                                                <span class="menuIconUserAdmin"></span>
                                                <span th:text="${subMenu.menuName}"></span>
                                            </div>
                                        </div>
                                    </shiro:hasAnyPermissions>
                                </th:block>
                            </th:block>
                            <div class="menuItem">
                                <div class="defaCur" data-path="loginLog" onclick="switchMenu(this)">
                                    <span class="loginLogMenuIcon"></span>登录日志
                                </div>
                            </div>
                        </th:block>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
    <!-- 右侧内容 -->
    <div class="content" id="content">
        <iframe src="#" id="iframeBox" class="iframeBox" frameborder="0"></iframe>
    </div>
</div>
<!-- 提示 -->
<div class="tips" id="tip"></div>
</body>
<!--<script>-->
<!--    window.onload = function () {-->
<!--        document.onkeydown = function () {-->
<!--            var e = window.event || arguments[0];-->
<!--            //屏蔽F12-->
<!--            if (e.keyCode === 123) {-->

<!--                return false;-->
<!--                //屏蔽Ctrl+Shift+I-->
<!--            } else if ((e.ctrlKey) && (e.shiftKey) && (e.keyCode === 73)) {-->

<!--                return false;-->
<!--                //屏蔽Shift+F10-->
<!--            } else if ((e.shiftKey) && (e.keyCode === 121)) {-->
<!--                return false;-->
<!--            }-->
<!--        };-->
<!--        //屏蔽右键单击-->
<!--        document.oncontextmenu = function () {-->
<!--            return false;-->
<!--        }-->
<!--    }-->
<!--</script>-->
</html>