<!DOCTYPE html>
<html lang="en">

<head>
	<title>打开小程序</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
	<style>
		body,
		a,
		div,
		p {
			margin: 0;
			padding: 0;
		}

		.hidden {
			display: none;
		}

		html,
		body,
		.page {
			height: 100%;
		}

		.page {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
		}

		.jump-btn {
			display: block;
			width: 150px;
			margin: 60px auto 0;
			padding: 8px 24px;
			font-weight: 700;
			font-size: 17px;
			text-decoration: none;
			color: #fff;
			border-radius: 4px;
			overflow: hidden;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			background-color: #07c160;
		}
	</style>
</head>

<body>
	<div class="page">
		<div class="hidden" id="phone">
			<!-- <p>正在打开 “便捷停”...</p> -->
			<p>正在打开 “易PARK”...</p>
			<a class="jump-btn" href="javascript:" onclick="openWeapp()">打开小程序</a>
		</div>
		<div class="hidden" id="pc">
			<p>请在手机打开网页链接</p>
		</div>
	</div>
	<script>
		function docReady(fn) {
			if (document.readyState === 'complete' || document.readyState === 'interactive') {
				fn()
			} else {
				document.addEventListener('DOMContentLoaded', fn);
			}
		}
		docReady(function () {
			var ua = navigator.userAgent.toLowerCase();
			var isPhone = false;
			if (navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|IEMobile)/i)) {
				isPhone = true
			}
			if (isPhone) {
				// 在 pc 上则给提示引导到手机端打开
				document.getElementById('phone').classList.remove('hidden');
				openWeapp();
			} else {
				document.getElementById('pc').classList.remove('hidden');
			}
		})

		function openWeapp() {
			let appid = 'wxf0f25ad3fc36365e';
			let path = 'pages/map/map';

			let x = getUrlStr('x');
			let y = getUrlStr('y');
			let fid = getUrlStr('fid');
			let mapId = getUrlStr('mapId');
			let name = getUrlStr('name');
			let groupID = getUrlStr('groupID');
			let env = getUrlStr('env');
			let env_version = 'release'; // 默认-正式版
			if (env == '1') {
				env_version = 'develop'; // 开发版
			} else if (env == '2') {
				env_version = 'trial'; // 体验版
			};

			let place = getUrlStr('place');
			let area = getUrlStr('area');
			if (!fid && (place || area)) {
				let ajaxUrl = `../WxMiniApp/getById?placeId=${place}`
				if (area) {
					ajaxUrl = `../WxMiniApp/getById?areaId=${area}`
				};

				try {
					ajax({
						url: ajaxUrl,
						type: 'POST',
						success: function (res) {
							console.log(res);
							if (res.code != 200) {
								alert('获取跳转链接失败，请重试');
								return;
							};
							if (!res.data) {
								alert('获取跳转链接失败，请重试');
								return;
							};

							let info = res.data;

							let a = (info.placeElevatorId != 'null' || info.placeElevatorId != 'undefined') ? '' : info.placeElevatorId;
							let queryT = `mapId=${info.mapId}&fid=${info.fid}&deviceId=${encodeURIComponent(info.deviceId)}&start=${encodeURIComponent(info.startTime)}&end=${encodeURIComponent(info.endTime)}&name=${encodeURIComponent(info.name)}&vipType=${info.vipType}&placeElevatorId=${a}&vipPlaceId=${info.vipPlaceId}`;
							if (area) {
								queryT = `mapId=${info.mapId}&fid=${info.fid}&start=${encodeURIComponent(info.startTime)}&end=${encodeURIComponent(info.endTime)}&name=${encodeURIComponent(info.barrierGateArea)}&vipType=${info.vipType}&vipPlaceId=${info.vipPlaceId}`;
							}
							let query = `${encodeURIComponent(queryT)}`;
							let wxixinurl = `weixin://dl/business/?appid=${appid}&path=${path}&query=${query}&env_version=${env_version}`;
							console.log('wxixinurl', wxixinurl);
							location.href = wxixinurl;
						},
						error: function () {
							console.log("error")
							alert('获取跳转链接失败，请重试');
						}
					})
				} catch (error) {
					console.log('88');
					alert('获取跳转链接失败，请重试');
				}


				return;
			};



			let queryT = `mapId=${mapId}&fid=${fid}&x=${x}&y=${y}&name=${name}&groupID=${groupID}`;
			let query = `${encodeURIComponent(queryT)}`;
			let wxixinurl = `weixin://dl/business/?appid=${appid}&path=${path}&query=${query}&env_version=${env_version}`;
			console.log('wxixinurl', wxixinurl);
			location.href = wxixinurl;
			// ajax({
			//     url: "../wx/getLink?placeId=16",
			//     success: function (res) {
			//         console.log(res);
			//         if (res.code != 200) {
			//             alert('获取跳转链接失败，请重试');
			//             return;
			//         }
			//         location.href = res.data;
			//     },
			//     error: function () {
			//         console.log("error")
			//     }
			// })

			// let url = getUrlStr('address');
			// if (url) {
			// 	location.href = 'https://wxaurl.cn/' + url;
			// 	// window.open(url, "_blank", "resizable,scrollbars,status");
			// }
			// location.href = 'https://wxaurl.cn/PX9Yo3kv30g';
		};

		function getUrlStr(name) {
			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
			var r = window.location.search.slice(1).match(reg);
			if (r != null) {
				return r[2];
			}
			return null;
		}

		function ajax() {
			var ajaxData = {
				type: (arguments[0].type || "GET").toUpperCase(),
				url: arguments[0].url || "",
				async: arguments[0].async || "true",
				data: arguments[0].data || null,
				dataType: arguments[0].dataType || "json",
				contentType: arguments[0].contentType || "application/x-www-form-urlencoded; charset=utf-8",
				beforeSend: arguments[0].beforeSend || function () { },
				success: arguments[0].success || function () { },
				error: arguments[0].error || function () { }
			}

			ajaxData.beforeSend()
			var xhr = createxmlHttpRequest();
			xhr.responseType = ajaxData.dataType;

			xhr.open(ajaxData.type, ajaxData.url, ajaxData.async);
			xhr.setRequestHeader("Content-Type", ajaxData.contentType);
			xhr.send(convertData(ajaxData.data));

			xhr.onreadystatechange = function () {
				if (xhr.readyState == 4) {
					if (xhr.status == 200) {
						ajaxData.success(xhr.response)
					} else {
						ajaxData.error()
					}
				}
			}
		}

		function createxmlHttpRequest() {
			if (window.ActiveXObject) {
				return new ActiveXObject("Microsoft.XMLHTTP");
			} else if (window.XMLHttpRequest) {
				return new XMLHttpRequest();
			}
		}

		function convertData(data) {
			if (typeof data === 'object') {
				var convertResult = "";
				for (var c in data) {
					convertResult += c + "=" + data[c] + "&";
				}
				convertResult = convertResult.substring(0, convertResult.length - 1)
				return convertResult;
			} else {
				return data;
			}
		}
	</script>
</body>

</html>