<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>摄像头</title>
    <link rel="stylesheet" href="../css/common/common.css" />
    <link rel="stylesheet" href="../css/company.css" />
    <link rel="stylesheet" href="../css/details.css" />
    <link rel="stylesheet" href="../fMap/3/toolBarStyle.css" />
    <script src="../js/common/jquery-1.8.0.min.js"></script>
    <script src="../js/common/url.js"></script>
    <script src="../js/common/common.js"></script>
    <script src="../fMap/3/fengmap.map.min.js"></script>
    <script src="../fMap/3/fengmap.plugins-mapedit.min.js"></script>
    <script src="../fMap/3/fengmap.plugin.min.js"></script>
    <script src="../fMap/3.1.2/fengmap.plugins-compositemarker.min.js"></script>
    <script src="../js/common/initFmap5.js"></script>
    <script src="../js/locaMarkerDetails.js"></script>
    <script src="../fMap/3/fengmap.analyser.min.js"></script>
    <style>
        .awidth {
            width: 220px;
        }
    </style>
</head>

<body>
    <div class="top">
        <span class="topTitle">地点标记 > <span id="titleFlag">新增</span></span>
        <div class="topBtn">
            <shiro:hasAnyPermissions name="qcr:add,qcr:edit">
                <span class="save" onclick="save()">
                    <i></i>保存
                </span>
            </shiro:hasAnyPermissions>
            <span class="refresh" onclick="location.reload()">
                <i></i>刷新
            </span><span class="back" onclick="back()">
                <i></i>返回
            </span>
        </div>
    </div>
    <div class="main">
        <div class="clearfix">
            <div class="mainItem">
                <span class="itemTxt"><span class="require">*</span>区域名称：</span>
                <input autocomplete="off" type="text" name="areaName" class="itemInput awidth" placeholder="请输入区域名称" />
            </div>

            <div class="mainItem">
                <span class="itemTxt">
                    <span class="require">*</span>关联地图：
                </span>
                <div class="batchBox managWid" onclick="switchSele(event)">
                    <div name="map" class="batchTxt" data-val="">--请选择--</div>
                    <div class="batchList" id="mapSelect">
                        <div data-val="">--请选择关联地图--</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="recomContent" style="display: block;padding-right: 20px;box-sizing: border-box;height: 650px;">
            <div class="recomContentL">
                <div class="recomConLButton">
                    <span id="vpolygon" class="noActiveBtn" style="width: 118px;"
                        onclick="drawOpetion1('vpolygon')">绘制区域</span>
                    <span id="edit" class="noActiveBtn" onclick="drawOpetion1('edit')">编辑</span>
                    <span id="del" class="noActiveBtn" onclick="drawOpetion1('del')">删除</span>
                    <span class="recomConLTip">(保存成功的区域不能二次修改，需要删除后再重新绘制)</span>
                </div>
                <div style="height: 630px;">
                    <div class="fengmap" id="fengmap" style="position: relative;"></div>
                </div>
            </div>
        </div>

    </div>
    <!-- 提示 -->
    <div class="tips" id="tip"></div>
    <!-- 遮罩 -->
    <div class="mask" id="mask"></div>
    <!-- 地图选点 -->

</body>

</html>