<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>易PARK智慧停车</title>
	<link rel="shortcut icon" href="../image/titleIcon.ico">
	<link rel="stylesheet" href="../css/common/common.css">
	<link rel="stylesheet" href="../css/login/login.css">
	<script src="../js/common/jquery-1.8.0.min.js"></script>
	<script src="../js/common/url.js"></script>
	<script src="../js/common/common.js"></script>
</head>
<body class="body">
<div class="login">
	<form method="post" id="myForm">
		<div class="login_top">
			<img src="../image/common/PARKLogin.png"/>
		</div>
		<div class="login_item">
				<input type="text" autocomplete="off" placeholder="请输入手机号" maxlength="11" id="username" name="username"/>
		</div>
		<div class="login_item">
				<input type="password" placeholder="请输入密码"  id="password" oninput="value=value.replace(/[^\w]/g,'')" onkeyup="this.value=this.value.replace(/\s/g,'')" name="password"/>
				<label><img src="../image/common/hide.png" alt="" id="eyes"></label>
		</div>
		<div class="remember">
			<input type="checkbox" id="memory" class="check" /><label for="memory">记住密码</label>
			<!-- <span class="forget">忘记密码</span> -->
		</div>
		<div class="loginBtn">
			<input type="submit" onclick="remember()" class="btn" id="btn" value="登录" />
		</div>
	</form>
</div>
<!-- 提示 -->
<div class="tips" id="tip"></div>
<script type="text/javascript">
	//  获取元素（两种方式都可以）
	var input = document.getElementById('password')
	var imgs = document.getElementById('eyes');
	//下面是一个判断每次点击的效果
	var flag = 0;
	imgs.onclick = function () {
		if (flag === 0) {
			input.type = 'text';
			eyes.src = '../image/common/show.png';//睁眼图
			flag = 1;
		} else {
			input.type = 'password';
			eyes.src = '../image/common/hide.png';//闭眼图
			flag = 0;
		}
	}

	var uName = document.getElementById('username');
	var uPswd = document.getElementById('password');

	function remember(){

	}
	$(function(){
		if(getCookie('username')&&getCookie('password')){
			$('#username').val(getCookie('username'));
			$('#password').val(getCookie('password'));
			$('#memory').prop('checked','checked');
		}
		else{
			$('#username').val('');
			$('#password').val('');
		}
	});
	$('#btn').click(function(){
		if($('#memory').prop('checked')){
			var username = $('#username').val();
			var password = $('#password').val();
			setCookie("username",username);
			setCookie("password",password);
		}
		else{
			delCookie('username');
			delCookie('password');
		}
	});
	//        主要函数
	function setCookie(username,value)//设置cookie
	{
		var Days = 30;
		var exp = new Date();
		exp.setTime(exp.getTime() + Days*24*60*60*1000);
		document.cookie = username + "="+ escape (value) + ";expires=" + exp.toGMTString();
	}

	function getCookie(username)//拿到cookie
	{
		var arr,reg=new RegExp("(^| )"+username+"=([^;]*)(;|$)");
		if(arr=document.cookie.match(reg))
			return unescape(arr[2]);
		else
			return null;
	}

	function delCookie(username)//删除cookie
	{
		var exp = new Date();
		exp.setTime(exp.getTime() - 1);
		var cval=getCookie(username);
		if(cval!=null)
			document.cookie= username + "="+cval+";expires="+exp.toGMTString();
	}
</script>
</body>
</html>