<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta charset="UTF-8">
	<title>地磁设备</title>
	<link rel="stylesheet" href="../css/common/common.css" />
	<link rel="stylesheet" href="../css/list.css" />
	<script src="../js/common/jquery-1.8.0.min.js"></script>
	<script src="../js/common/url.js"></script>
	<script src="../js/common/common.js"></script>
	<script src="../js/common/page.js"></script>
	<script src="../js/magnetic.js"></script>
</head>
<body>
	<div class="contentTop">
		<span class="contentTitle">地磁设备</span>
		<div class="search">
			<div class="searchItem">
				地磁设备ID：<input type="text" name="floor" class="searchInp" placeholder="请输入地磁设备ID：" />
			</div><!-- 
		 --><div class="searchItem">
				车位名称：<input type="text" name="name" class="searchInp" placeholder="请输入车位名称" />
			</div><!-- 
		 --><span class="searchBtn" onclick="search()">搜索</span><!-- 
		 --><span class="searchBtn resetBtn" onclick="resetSearch()">重置</span>
		</div>
	</div>
	<!-- 信息 -->
	<div class="wrap">
		<table class="tab" id="tab">
			<thead>
				<tr>
					<td name="line" class="line">序号</td>
					<td name="mac">地磁设备ID</td>
					<td name="placeName">车位名称</td>
					<td name="license">车牌号</td>
					<td name="time">数据上传时间</td>
					<td name="status">状态</td>
					<shiro:hasAnyPermissions name="device:update,device:del">
					<td name="operating">操作</td>
					</shiro:hasAnyPermissions>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		<div class="listFooter clearfix">
			<div class="page">
				<span class="turnPage prev" onclick="prevPage()"></span>
				<ul class="pageList"></ul>
				<span class="turnPage next" onclick="nextPage(this)"></span>
				跳至<input type="text" value="1" class="jumpPage" onkeyup="jumpCurPage(this,event)" />页
			</div>
		</div>
	</div>
	<!-- 提示 -->
	<div class="tips" id="tip"></div>
	<!-- 遮罩 -->
	<div class="mask" id="mask"></div>
</body>
</html>