<!DOCTYPE html>
<html lang="zh-cn" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <title>地图管理详情</title>
    <link rel="stylesheet" href="../css/common/common.css"/>
    <link rel="stylesheet" href="../css/details.css"/>
    <script src="../js/common/jquery-1.8.0.min.js"></script>
    <script src="../js/common/url.js"></script>
    <script src="../js/common/page.js"></script>
    <script src="../js/common/common.js"></script>
    <script src="../js/mapDetails.js"></script>
    <script src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=I3XdftOl2svA4DzhzUZoFGq57w6FPtPY&services=true"></script>
</head>
<body>
<div class="top">
    <span class="topTitle">地图管理 > <span id="titleFlag">新增</span></span>
    <div class="topBtn">
        <shiro:hasAnyPermissions name="map:edit,map:add">
            <span class="save" onclick="save()">
					<i></i>保存
				</span>
        </shiro:hasAnyPermissions>
        <span class="refresh" onclick="location.reload()">
					<i></i>刷新
				</span><span class="back" onclick="back(true)">
					<i></i>返回
				</span>

    </div>
</div>
<div class="main">
    <div class="mainBox clearfix mapMainBox" style="height: 790px">
        <div class="mainItemB">
				<span class="itemTxt">
					<span class="require">*</span>地图名称：
				</span>
                    <input autocomplete="off" placeholder="请输入地图名称" onkeyup="this.value=this.value.replace(/\s/g,'')" type="text" name="name"
                       data-reg="^\S+$" class="itemInput mapInput"/>
        </div>
        <div class="mainItemB">
            <span class="itemTxt"><span class="require">*</span>地图描述：</span>
            <textarea class="textarea mapTextarea" data-reg="^\S+$" name="describe" placeholder="用于简称" onkeyup="calcTextNum(this)"></textarea>
        </div>
		<div class="mainItemB">
            <span class="itemTxt">
                <span class="require">*</span>默认楼层：
            </span>
            <input autocomplete="off" placeholder="请输入默认楼层" onkeyup="this.value=this.value.replace(/\s/g,'')"
                type="text" name="defaultFloor" data-reg="^\S+$" class="itemInput mapInput"/>
        </div>
		<div class="mainItemB">
            <span class="itemTxt">坐标系：</span>
            <div class="batchBox mapInput" onclick="switchSele(event)">
                <div name="coordinate" id="coordinate" class="batchTxt" data-val="">--请选择坐标系--</div>
                <div class="batchList" id="coordinateSelect" style="max-height: 150px;">
                    <div onclick="seleBatch(this, '')">--请选择坐标系--</div>
                    <div onclick="seleBatch(this, 2)">高德</div>
                    <div onclick="seleBatch(this, 1)">百度</div>
                </div>
            </div>
        </div>
        <div class="mainItemB">
				<span class="itemTxt">
					<span class="require">*</span>地图类型：
				</span>
            <div class="batchBox mapInput" onclick="switchSele(event)">
                <div class="batchTxt batchTxtChange" name="type" data-val="2">蜂鸟地图</div>
                <div class="batchList" id="mapSelect">
                    <div onclick="seleMapType(this,2)">蜂鸟地图</div>
                </div>
            </div>
        </div>
        <div class="typeDetail">
            <div id="uploadTypeFmap">
                <div class="mainItemB">
                    <span class="itemTxt">压缩包：</span>
                    <span class="itemBtn uploadBtn" style="margin-left: 0">
							上传压缩包<input data-reg="^\S+$" name="file" type="file" accept=".zip" class="uploadImgInp"
                                        onchange="uploadFmap(this,'uploadFmapTxt')"/>
						</span>
                    <span class="infoTips" style="color: #ff0000" id="uploadFmapTxt"></span>
                </div>
                <div class="mainItemB">
						<span class="itemTxt">
							<span class="require">*</span>地图ID：
						</span>
                    <!-- tgymap -->
                        <input maxlength="19" placeholder="请输入地图ID" oninput="value=value.replace(/[^\d]/g,'')" autocomplete="off"
                           id="fmapID" style="width:270px;" type="text" data-reg="^\w+$" value="" class="itemInput"
                           name="fmapID"/>
                    <span class="infoTips">蜂鸟云后台 &gt; 制图 &gt; 地图ID</span>
                </div>
                <div class="mainItemB">
						<span class="itemTxt">
							<span class="require">*</span>应用名称：
						</span>
                    <!-- tgymap -->
                    <input disabled="disabled" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')" autocomplete="off" style="width:270px;"
                           type="text" placeholder="请输入应用名称<"
                           data-reg="^\S+$" class="itemInput" name="appName"  value="material"/>
                    <span class="infoTips">蜂鸟云后台 &gt; 开发 &gt; 应用名称</span>
                </div>
                <div class="mainItemB">
						<span class="itemTxt">
							<span class="require">*</span>Key值：
						</span>
                    <input onkeyup="value=value.replace(/[^\w\.\/]/ig,'')" autocomplete="off" style="width:270px;"
                           type="text"
                           data-reg="^\w+$" disabled value="cec2557bbcc60f0a2da3ed4ceb7a6f36" class="itemInput"
                           name="mapKey"/>
                    <span class="infoTips">蜂鸟云后台 &gt; 开发 &gt; Web平台Key值</span>
                </div>
                <div class="mainItemB">
						<span class="itemTxt">
							<span class="require">*</span>经度：
						</span>
                    <input autocomplete="off" style="width:270px;" type="text" data-reg="^\S+$" value=""
                           class="itemInput" name="lng" id="lng"
                           disabled
                           oninput="value=value.replace(/[^0-9\.]/g,'').replace(/^\./g, '').replace('.', '$#$').replace(/\./g, '').replace('$#$', '.')"
                    />
                </div>
                <div class="mainItemB">
						<span class="itemTxt">
							<span class="require">*</span>纬度：
						</span>
                        <input autocomplete="off" style="width:270px;" disabled
                               oninput="value=value.replace(/[^0-9\.]/g,'').replace(/^\./g, '').replace('.', '$#$').replace(/\./g, '').replace('$#$', '.')"
                               type="text" data-reg="^\S+$" value="" class="itemInput" name="lat" id="lat"/>
                    <span class="itemBtn uploadBtn" onclick="selectPoint()">选择经纬度</span>
                </div>

                <div class="mainItemB">
                    <span class="itemTxt">主题：</span>
                    <div class="batchBox" style="width:270px" onclick="switchSele(event)">
                        <div name="themeName" id="themeName" class="batchTxt" data-val="">--请选择地图主题--</div>
                        <div class="batchList" id="themeSelect" style="max-height: 150px;"></div>
                    </div>
                </div>

                <div id="daoru" style="visibility:hidden;margin-top: 76px;margin-bottom:-40px;position: relative">
						<span style="top:-55px;position: relative;left:33px;">
							<span class="require">*</span>蜂鸟地图数据导入：
						</span>
                    <div class="topBtn1">
							<span class="batchImport">批量导入
								<input type="file" id="fId" name="fId" accept=".xls,.xlsx" class="importInput"/>
							</span>
                    </div>
                </div>


            </div>
        </div>
        <div style="margin-top: 50px">
            <span class="itemTxt">是否启用：</span>
            <label class="seleLabel"><input type="checkbox" class="tabCheck" name="enable"/><span style="margin-top:8px"
                                                                                                  class="seleIcon"></span><span
                    class="itemDetail">打勾启用</span></label>
        </div>
    </div>
    <div class="mapWelcome">
        <span class="mapWelcomeL">上传欢迎页：</span>
        <div class="mapWelcomeR">
            <div class="mapWelPic" id="mapPic">
                <img src="" class="uploadImgShow" id="uploadImgShow">
                <input type="file" class="mapWelInp" onchange="uploadImg(this, {width: 560, height: 1000}, 'file2')" >
                <img src="../image/common/uploadImg.png" class="uploadImgIcon" id="uploadImgIcon">
                <img src="../image/common/mapUpload.png" class="uploadImgIcon1" id="uploadImgIcon1">
                <img src="../image/common/mapDelete.png"  class="delImgIcon" id="delImgIcon" onclick="cancelButton(this, 'file2')">
                <div class="mapWelPicDiv" id="mapWelPicDiv"></div>
            </div>
            <span  class="mapWelTip">请上传560*1000像素图片</span>
            <div name="file2" id="mapImgFile"></div>
        </div>
    </div>
    <div class="mapLogo">
        <span class="mapWelcomeL">上传Logo：</span>
        <div class="mapWelcomeR">
            <div class="mapWelPic" id="mapPic">
                <img src="" class="uploadImgShow" id="uploadImgShow" style="vertical-align: middle">
                <input type="file" class="mapWelInp" onchange="uploadImg(this, null, 'mapLogoPath')" >
                <img src="../image/common/uploadImg.png" class="uploadImgIcon" id="uploadImgIcon">
                <img src="../image/common/mapUpload.png" class="uploadImgIcon1" id="uploadImgIcon1">
                <img src="../image/common/mapDelete.png"  class="delImgIcon" id="delImgIcon" onclick="cancelButton(this, 'mapLogoPath')">
                <div class="mapWelPicDiv" id="mapWelPicDiv"></div>
            </div>
            <div name="mapLogoPath" id="mapImgFile"></div>
        </div>
    </div>
</div>
<!-- 提示 -->
<div class="tips" id="tip"></div>
<!-- 遮罩 -->
<div class="mask" id="mask"></div>
<div class="mapPop" id="mapPop" style="left: 80px">
    <div class="mapPopTop">
        请在地图上选择经纬度
        <div class="close" onclick="hidePop('#mapPop')"></div>
        <div class="fengmap">
            <!-- 地图盒子 -->
            <div id="allmap" class="allmap"></div>
            <!-- 搜索显示框 -->
            <div id="r-result">
                地址: <input id="cityName" type="text" placeholder="请输入地址" style="width:100px; margin-right:10px;"/>
                <input type="button" value="搜索" onclick="theLocation()"/> 经度:
                <input type="text" id="lngmai" placeholder="请在下面地图输入纬度"
                       oninput="value=value.replace(/[^0-9\.]/g,'').replace(/^\./g, '').replace('.', '$#$').replace(/\./g, '').replace('$#$', '.')"
                       class="ing"/>
                纬度：
                <input type="text" id="latmai" placeholder="请在下面地图输入经度"
                       oninput="value=value.replace(/[^0-9\.]/g,'').replace(/^\./g, '').replace('.', '$#$').replace(/\./g, '').replace('$#$', '.')"
                       class="lat"/>
                <button onclick="submit(1)">提交</button>
            </div>

        </div>
    </div>

</div>
</body>
</html>