<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>移动端账户管理</title>
    <link rel="stylesheet" href="../css/common/common.css"/>
    <link rel="stylesheet" href="../css/permiss.css"/>
    <script src="../js/common/jquery-1.8.0.min.js"></script>
    <script src="../js/common/url.js"></script>
    <script src="../js/common/common.js"></script>
    <script src="../js/common/page.js"></script>
    <script src="../js/mapmember.js"></script>
</head>
<body>
<div class="contentTop">
    <span class="contentTitle">移动端账户管理</span>
    <div class="search">
        <div class="searchItem">
            账号：<input type="text" onkeyup="this.value=this.value.replace(/\s/g,'')" name="keyword" id="keyword"
                      class="searchInp" autocomplete="off" placeholder="请输入账号"/>
        </div>
        <div class="searchItem seleBox">
            是否启用：
            <div class="batchBox" onclick="switchSele(event)">
                <div name="enable" class="batchTxt" data-val="">全部</div>
                <div class="batchList">
                    <div onclick="seleBatch(this,'')">全部</div>
                    <div onclick="seleBatch(this,'1')">启用</div>
                    <div onclick="seleBatch(this,'0')">未启用</div>
                </div>
            </div>
        </div>
        <span class="searchBtn" onclick="search()">搜索</span>
        <span class="searchBtn resetBtn" onclick="resetSearch()">重置</span>
            <div class="topBtn">
                <shiro:hasPermission name="apr:add">
                    <span onclick="addMapMemeber()">新增</span>
                </shiro:hasPermission>
            </div>
    </div>
</div>
<!-- 信息 -->
<div class="wrap">
    <table class="tab" id="tab">
        <thead>
        <tr>
            <td name="line" class="line">序号</td>
            <td name="userName">账号</td>
<!--            <td name="loginTime">登录时间</td>-->
<!--            <td name="updatedTime">修改时间</td>-->
            <td name="mapName">关联地图</td>
            <td name="createdTime">创建时间</td>
            <td name="enable">是否启用</td>
            <td name="operating">操作</td>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="listFooter clearfix">
        <label class="seleLabel">
            <input id="allCheck" onclick="allCheck(this)" type="checkbox" class="tabCheck" name="tabCheck">
            <span class="seleIcon"></span>全选
        </label>
        <shiro:hasPermission name="apr:del">
            <span class="deleBtn" onclick="showAllDele()">删除</span>
        </shiro:hasPermission>
        <div class="page">
            <span id="total" class="total"></span>
            <span class="turnPage prev" onclick="prevPage()"></span>
            <ul class="pageList"></ul>
            <span class="turnPage next" onclick="nextPage(this)"></span>
            跳至<input type="text" value="1" class="jumpPage" onkeyup="jumpCurPage(this,event)"/>页
        </div>
    </div>
</div>
<!-- 提示 -->
<div class="tips" id="tip"></div>
<!-- 遮罩 -->
<div class="mask" id="mask"></div>
<!-- 确认提示框 -->
<div class="confimPop" id="delePop">
    <div class="confimPopTop">
        <span class="popClose" onclick="hidePop('#delePop')"></span>
    </div>
    <div class="confimPopInfo">
            <p class="confimPopTitle">是否删除？</p>
            <p class="txtOverFlow">人员名称：<span id="deleTxt"></span></p>
    </div>
    <div class="confimPopFooter">
            <span class="confimPopEnt" onclick="entDele()">确定</span>
            <span class="confimPopCancel" onclick="hidePop('#delePop')">取消</span>
    </div>
</div>

<div id="operating" class="hidden">
     <shiro:hasAnyPermissions name="apr:edit,apr:see">
        <span class="tabOper" id="editBtn">编辑</span>
     </shiro:hasAnyPermissions>

    <shiro:hasPermission name="apr:del">
        <span class="tabOper deleOpa" id="deleteBtn">删除</span>
    </shiro:hasPermission>
</div>
<iframe id="addFrame" class="frameClass"></iframe>
<iframe id="editFrame" class="frameClass"></iframe>
</body>
<script>
    //回车搜索
    $("#keyword").keydown(function (event) {
        if (event.keyCode === 13) {
            search(); //搜索
        }
    });
</script>
</html>