<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>地图路径标注</title>
    <link rel="stylesheet" href="../css/common/common.css" />
    <link rel="stylesheet" href="../css/details.css" />
    <script src="../js/common/jquery-1.8.0.min.js"></script>
    <script src="../js/common/url.js"></script>
    <script src="../js/common/common.js"></script>
    <script src="../fMap/2/fengmap.core.min.js"></script>
    <script src="../fMap/2/fengmap.control.min.js"></script>
    <script src="../js/common/initFmap.js"></script>
    <script src="../js/mapPathLabelsDetails.js"></script>
</head>
<body>
<div class="top">
    <span class="topTitle">地图路径标注 > <span id="titleFlag">新增</span></span>
    <div class="topBtn">
        <shiro:hasAnyPermissions name="mpl:edit,mpl:add">
            <span class="save" onclick="save()">
                <i></i>保存
            </span>
        </shiro:hasAnyPermissions>
        <span class="refresh" onclick="location.reload()">
				<i></i>刷新
			</span>
        <span class="back" onclick="back()">
				<i></i>返回
			</span>
    </div>
</div>
<div class="main">
    <div class="mainBox clearfix">
        <div class="mainItemB">
				<span class="itemTxt">
					<span class="require">*</span>关联地图：
				</span>
            <div class="batchBox managWid" onclick="switchSele(event)">
                <div name="map" class="batchTxt" data-val="">--请选择--</div>
                <div class="batchList" id="mapSelect">
                    <div data-val="">--请选择关联地图--</div>
                </div>
            </div><span class="manag" onclick="selectPoint()">选点</span>
        </div>
        <div class="hide">
            <input readonly type="text" name="fid" class="hide" />
            <input readonly type="text" name="x" class="hide" />
            <input readonly type="text" name="y" class="hide" />
            <input readonly type="text" name="z" class="hide" />
            <input readonly type="text" name="floor" class="hide" />
        </div>
        <div class="mainItemB">
				<span class="itemTxt">
					<span class="require">*</span>路口名称：
				</span>
                <input autocomplete="off" placeholder="请输入路口名称" data-reg="^\S+$"
                    onkeyup="this.value=this.value.replace(/\s/g,'')" type="text" name="name" class="itemInput" />
        </div>
        <div class="mainItemB">
				<span class="itemTxt" style="margin-left: -2px;">
					<span class="require">*</span>内部名称：
				</span>
                <input autocomplete="off" placeholder="请输入内部名称" data-reg="^\S+$"
                    onkeyup="this.value=this.value.replace(/\s/g,'')" type="text" name="interiorName"
                    class="itemInput" />
        </div>
        <div class="mainItemB">
				<span class="itemTxt">
					<span></span>添加时间：
				</span>
                <input autocomplete="off" disabled placeholder="请输入添加时间" data-reg="^\S+$"
                    onkeyup="this.value=this.value.replace(/\s/g,'')" type="text" name="addTime" class="itemInput" />
        </div>
        <div class="mainItemB">
				<span class="itemTxt">
					<span></span>更新时间：
				</span>
                <input autocomplete="off" disabled placeholder="请输入更新时间" data-reg="^\S+$"
                    onkeyup="this.value=this.value.replace(/\s/g,'')" type="text" name="updateTime" class="itemInput" />
            </div>
        </div>
    </div>
    <!-- 提示 -->
    <div class="tips" id="tip"></div>
    <!-- 遮罩 -->
    <div class="mask" id="mask"></div>
    <!-- 地图选点 -->
    <div class="mapPop mapPopDetail" id="mapPop">
        <div class="mapPopTop">
            请在地图上选择位置
            <div class="close" onclick="mapCancel()"></div>
            <div class="confirm" onclick="mapConfirm()">确定</div>
        </div>
        <div class="fengmap" id="fengmap">
            <!--设备控件，2D/3D切换-->
            <div class="viewMode3">
        <div class="viewMode" onclick="changeMode(this)"></div>
    </div>
    </div>
</div>
</body>
</html>