<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>人员账户管理</title>
    <link rel="stylesheet" href="../css/common/common.css"/>
    <link rel="stylesheet" href="../css/permiss.css"/>
    <script src="../js/common/jquery-1.8.0.min.js"></script>
    <script src="../js/common/url.js"></script>
    <script src="../js/common/common.js"></script>
    <script src="../js/common/page.js"></script>
    <script src="../js/member.js"></script>
</head>
<body>
<div class="contentTop">
    <span class="contentTitle">人员账户管理</span>
    <div class="search">
        <div class="searchItem">
            人员名称：<input type="text" onkeyup="this.value=this.value.replace(/\s/g,'')" name="keyword" id="keyword"
                        class="searchInp" autocomplete="off" style="width:250px" placeholder="请输入人员名称、手机号码或权限组"/>
        </div>
        <div class="searchItem seleBox">
            是否启用：
            <div class="batchBox" onclick="switchSele(event)">
                <div name="enabled" class="batchTxt" data-val="">全部</div>
                <div class="batchList">
                    <div onclick="seleBatch(this,'')">全部</div>
                    <div onclick="seleBatch(this,'1')">启用</div>
                    <div onclick="seleBatch(this,'0')">未启用</div>
                </div>
            </div>
        </div>
        <div class="searchItem seleBox">
            所属权限组：
            <div class="batchBox" onclick="switchSele(event)" style="width: 150px;">
                <div name="cname" class="batchTxt" data-val="" style="width: 137px">--请选择权限组--</div>
                <div class="batchList" id="permissSelect">
                    <div onclick="seleBatch(this,'')">--请选择权限组--</div>
                </div>
            </div>
        </div>
        <span class="searchBtn" onclick="search()">搜索</span>
        <span class="searchBtn resetBtn" onclick="resetSearch()">重置</span>
        <shiro:hasPermission name="mer:add">
            <div class="topBtn">
				<span onclick="addMemeber()">新增</span>
            </div>
        </shiro:hasPermission>
    </div>
</div>
<!-- 信息 -->
<div class="wrap">
    <table class="tab" id="tab">
        <thead>
        <tr>
            <td name="line" class="line">序号</td>
            <td name="membername">人员名称</td>
            <td name="phone">手机号码</td>
            <td name="cname">所属权限组</td>
            <td name="mapName">关联地图</td>
            <td name="addTime">创建时间</td>
            <td name="loginTime">最后登录</td>
            <td name="enabled">是否启用</td>
            <td name="operating">操作</td>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="listFooter clearfix">
        <label class="seleLabel">
            <input id="allCheck" onclick="allCheck(this)" type="checkbox" class="tabCheck" name="tabCheck">
            <span class="seleIcon"></span>全选
        </label>
        <shiro:hasPermission name="mer:del">
            <span class="deleBtn" onclick="showAllDele()">删除</span>
        </shiro:hasPermission>
        <div class="page">
            <span id="total" class="total"></span>
            <span class="turnPage prev" onclick="prevPage()"></span>
            <ul class="pageList"></ul>
            <span class="turnPage next" onclick="nextPage(this)"></span>
            跳至<input type="text" value="1" class="jumpPage" onkeyup="jumpCurPage(this,event)"/>页
        </div>
    </div>
</div>
<!-- 提示 -->
<div class="tips" id="tip"></div>
<!-- 遮罩 -->
<div class="mask" id="mask"></div>
<!-- 确认提示框 -->
<div class="confimPop" id="delePop">
    <div class="confimPopTop">
        <span class="popClose" onclick="hidePop('#delePop')"></span>
    </div>
    <div class="confimPopInfo">
            <p class="confimPopTitle">是否删除？</p>
        <p class="txtOverFlow">人员名称：<span id="deleTxt"></span></p>
    </div>
    <div class="confimPopFooter">
        <span class="confimPopEnt" onclick="entDele()">确定</span><span class="confimPopCancel"
                                                                      onclick="hidePop('#delePop')">取消</span>
    </div>
</div>

<div id="operating" class="hidden">
     <shiro:hasAnyPermissions name="mer:edit,mer:see">
        <span class="tabOper" id="editBtn">编辑</span>
     </shiro:hasAnyPermissions>

     <shiro:hasPermission name="mer:del">
        <span class="tabOper deleOpa" id="deleteBtn">删除</span>
     </shiro:hasPermission>
    
     <shiro:hasPermission name="mer:pss">
        <span class="tabOper deleOpa" id="powerBtn">权限设置</span>
     </shiro:hasPermission>
     </div>
     <iframe id="addFrame" class="frameClass"></iframe>
     <iframe id="editFrame" class="frameClass"></iframe>
     <iframe id="powerFrame" class="frameClass"></iframe>
<script>
    //回车搜索
    $("#keyword").keydown(function (event) {
        if (event.keyCode === 13) {
            search(); //搜索
        }
    });
</script>
</body>
</html>