<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>人员账户管理</title>
    <link rel="stylesheet" href="../css/common/common.css"/>
    <link rel="stylesheet" href="../css/details.css"/>
    <script src="../js/common/jquery-1.8.0.min.js"></script>
    <script src="../js/common/url.js"></script>
    <script src="../js/common/page.js"></script>
    <script src="../js/common/common.js"></script>
    <script src="../js/memberDetails.js"></script>
</head>
<body>
<div id="content-wrapper">
    <div class="top">
        <span class="topTitle">人员账户管理 > <span id="titleFlag">新增</span></span>
        <div class="topBtn">
            <shiro:hasAnyPermissions name="mer:edit,mer:add">
			<span class="save" onclick="save()">
				<i></i>保存
			</span>
            </shiro:hasAnyPermissions>
            <span class="refresh" onclick="location.reload()">
				<i></i>刷新
			</span><span class="back" onclick="back()">
				<i></i>返回
			</span>
        </div>
    </div>
    <div class="main">
        <div class="mainBox clearfix">
            <div class="mainItem marginR">
				<span class="itemTxt">
					<span class="require">*</span>人员用户名：
				</span>
                    <input type="text" placeholder="请输入人员用户名   限制12个中文数字或字母" data-reg="^\S+$" onkeyup="value=value.replace(/[^\w\u4E00-\u9FA5]/g, '')"
                       maxlength="12"
                       autocomplete="off" name="membername" class="itemInput">
            </div>
            <div class="mainItem">
				<span class="itemTxt" style="margin-left:-75px">
					<span class="require">*</span>手机号码：
				</span>
                <input type="text" required maxlength='11' placeholder="请输入11位电话号码"
                   autocomplete="off" name="phone" class="itemInput"/>
            </div>
            <div class="mainItem marginR">
				<span class="itemTxt">
					<span class="require">*</span>登录密码：
				</span>
                    <input type="password" placeholder="请输入字母或数字的密码"  oninput="value=value.replace(/[^\w]/g,'')" maxlength="12"
                       onkeyup="CountWords1()"
                       autocomplete="off" id="password1" name="passWs" class="itemInput"/>
<!--                <p style="position:absolute;margin-left: 427px;margin-top: -35px;">-->
<!--					<span id="txtNum1" style="position:absolute;margin-left: -20px;">-->
<!--						0-->
<!--					</span>-->
<!--                    /12-->
<!--                </p>-->
                <label><img src="../image/common/hide.png" alt="" id="eyes1"></label>
            </div>
            <div class="mainItem">
				<span class="itemTxt" style="margin-left:-75px;">
					<span class="require" >*</span>所属权限组：
				</span>
                <div class="batchBox" onclick="switchSele(event)">
                    <div name="cid" data-reg="^\S+$" class="batchTxt" data-val="">请选择所属权限组</div>
                    <div class="batchList" id="cidSele"></div>
                </div>
            </div>

            <div class="mainItem marginR">
                <span class="itemTxt">确认密码：</span>
                    <input type="password" placeholder="请确认密码" autocomplete="off" maxlength="12" oninput="value=value.replace(/[^\w]/g,'')"
                       name="entPassword" id="password" class="itemInput" onkeyup="CountWords()"/>
<!--                <p style="position:absolute;margin-left: 427px;margin-top: -40px;">-->
<!--					<span id="txtNum" style="position:absolute;margin-left: -20px;">-->
<!--						0-->
<!--					</span>-->
<!--                    /12-->
<!--                </p>-->
            </div>
            <div class="mainItem">
				<span class="itemTxt" style="margin-left:-75px;">
					<span class="require">*</span>分配地图：
				</span>
                <div class="batchBox" onclick="switchSele(event)">
                    <div name="mapid" data-reg="^\S+$" class="batchTxt" data-val="">请选择分配地图</div>
                    <div class="batchList" id="mapid"></div>
                </div>
            </div>

<!--        </div>-->
        <div class="mainItemB">
            <span class="itemTxt">人员描述：</span>
            <textarea class="textarea" name="describe" onkeyup="calcTextNum(this)"></textarea>
        </div>

        <div class="mainItem marginR">
            <span class="itemTxt">原密码：</span>
            <input type="text" style="height: 40px" autocomplete="off" maxlength="12" disabled placeholder="用于测试查看密码"
                   name="rawPassword" id="rawPassword" class="itemInput"/>
        </div>

        <div class="mainItemB">
            <span class="itemTxt">是否启用：</span>
            <label class="seleLabel">
                <input type="checkbox" id="id_enablePop" class="tabCheck" name="enabled"><span style="margin-top:8px" class="seleIcon"></span>
                <span style="padding-left:0;color: red" class="itemDetail">！选中代表启用该账号</span>
            </label>
        </div>
    </div>
</div>
</div>
<!-- 提示 -->
<div class="tips" id="tip"></div>
<!-- 遮罩 -->
<div class="mask" id="mask"></div>
</body>
<script type="text/javascript">
    //  获取元素（两种方式都可以）
    var input = document.getElementById('password1')
    var input2 = document.getElementById('password')
    var imgs = document.getElementById('eyes1');
    //下面是一个判断每次点击的效果
    var flag = 0;
    imgs.onclick = function () {
        if (flag == 0) {
            input.type = 'text';
            input2.type = 'text';
            eyes1.src = '../image/common/show.png';//睁眼图
            flag = 1;
        } else {
            input.type = 'password';
            input2.type = 'password';
            eyes1.src = '../image/common/hide.png';//闭眼图
            flag = 0;
        }
    }
</script>
</html>