<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
  <meta charset="UTF-8">
  <title>车位导航使用率</title>
  <link rel="stylesheet" href="../css/common/common.css" />
  <link rel="stylesheet" href="../css/jedate/jedate.css" />
  <link rel="stylesheet" href="../css/details.css" />
  <script src="../js/common/jquery-1.8.0.min.js"></script>
  <script src="../js/common/url.js"></script>
  <script src="../js/common/jedate.min.js"></script>
  <script src="../js/common/common.js"></script>
  <script src="../js/parkSpaceNaviAddDetail2.js"></script>

  <style>
    .itemTxt {
      width: 200px;
    }
  </style>
</head>

<body>
  <div class="top">
    <span class="topTitle">车位导航使用率 > <span id="titleFlag">新增</span></span>
    <div class="topBtn">
      <!-- <shiro:hasAnyPermissions name="peb:edit,peb:add"> -->
      <span class="save" onclick="save()">
        <i></i>保存
      </span>
      <!-- </shiro:hasAnyPermissions> -->
      <span class="refresh" onclick="location.reload()">
        <i></i>刷新
      </span>
      <span class="back" onclick="back()">
        <i></i>返回
      </span>
    </div>
  </div>
  <div class="main">
    <div class="mainBox clearfix">

      <div class="mainItemB">
        <span class="itemTxt">
          <span class="require">*</span>关联地图：
        </span>
        <div class="batchBox" onclick="switchSele(event)">
          <div name="map" class="batchTxt" data-val="">--请选择--</div>
          <div class="batchList" id="mapSelect">
            <div data-val="">--请选择关联地图--</div>
          </div>
        </div>
      </div>

      <div class="mainItemB">
        <span class="itemTxt">
          <span class="require">*</span>关联车位：
        </span>
        <div class="batchBox" onclick="switchSele(event)">
          <div name="placeId" class="batchTxt" data-val="">--请先选择地图--</div>
          <div class="batchList" id="placeId">
            <div data-val="">--请先选择地图--</div>
          </div>
        </div>
      </div>

      <div class="hide">
        <input readonly type="text" name="placeName" class="hide" />
      </div>

      <div class="mainItemB">
        <span class="itemTxt"><span class="require">*</span>选择月份：</span>
        <input class="time itemInput" value="" readonly id="time" name="time" placeholder="请选择选择月份" />
      </div>

      <div class="mainItemB">
        <span class="itemTxt">
          <span class="require">*</span>车位导航次数：
        </span>
        <input autocomplete="off" placeholder="请输入车位导航次数" data-reg="^\S+$"
          onkeyup="this.value=this.value.replace(/\s/g,'')" type="number" name="numbers" class="itemInput " />
      </div>

    </div>
  </div>
  <!-- 提示 -->
  <div class="tips" id="tip"></div>
  <!-- 遮罩 -->
  <div class="mask" id="mask"></div>

</body>

</html>