<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
  <meta charset="UTF-8">
  <title>车位视频检测</title>
  <link rel="stylesheet" href="../css/common/common.css" />
  <link rel="stylesheet" href="../css/details.css" />
  <link rel="stylesheet" href="../css/promotionDetail.css" />
  <script src="../js/common/jquery-1.8.0.min.js"></script>
  <script src="../js/common/url.js"></script>
  <script src="../js/common/common.js"></script>
  <script src="../js/common/distpicker.js"></script>
  <script src="../js/placeVideoQRCode.js"></script>
</head>

<body>
  <div class="top">
    <span class="topTitle">车位视频检测 > <span id="titleFlag">二维码</span></span>
    <div class="topBtn">
      <span class="refresh" onclick="location.reload()">
        <i></i>刷新
      </span>
      <span class="back" onclick="back()">
        <i></i>返回
      </span>
    </div>
  </div>
  <div class="main">
    <div class="mainBox clearfix">

      <div class="mainItemB">
        <span class="itemTxt">
          <span class="require">*</span>地图：
        </span>
        <input autocomplete="off" placeholder="请输入名称" data-reg="^\S+$" type="text" name="mapName"
          class="itemInput disable" disabled />
      </div>

      <div class="mainItemB">
        <span class="itemTxt">
          二维码：
        </span>
        <img id="testimg1" class="mapqrcode pic" src="" alt="">

        <div id="outerdiv"
          style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
          <div id="innerdiv" style="position:absolute;">
            <img id="bigimg" src="" />
          </div>
        </div>
      </div>

      <div class="mainItemB">
        <span class="itemTxt">
          <span class="require">*</span>二维码下载：
        </span>
        <div class="card">
          <a href="" id="down_btn_a" class="down_btn_a" rel="nofollow noreferrer" target="_blank" download>下载二维码</a>
        </div>
      </div>



    </div>
  </div>
  <!-- 提示 -->
  <div class="tips" id="tip"></div>
  <!-- 遮罩 -->
  <div class="mask" id="mask"></div>

</body>

</html>