<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
  <meta charset="UTF-8">
  <title>推广人管理</title>
  <link rel="stylesheet" href="../css/common/common.css" />
  <link rel="stylesheet" href="../css/details.css" />
  <link rel="stylesheet" href="../css/promotionDetail.css" />
  <script src="../js/common/jquery-1.8.0.min.js"></script>
  <script src="../js/common/url.js"></script>
  <script src="../js/common/common.js"></script>
  <script src="../js/common/distpicker.js"></script>
  <script src="../js/promotionInfo.js"></script>
</head>

<body>
  <div class="top">
    <span class="topTitle">推广人管理 > <span id="titleFlag">详情</span></span>
    <div class="topBtn">
      <span class="refresh" onclick="location.reload()">
        <i></i>刷新
      </span>
      <span class="back" onclick="back()">
        <i></i>返回
      </span>
    </div>
  </div>
  <div class="main">
    <div class="mainBox clearfix">

      <div class="mainItemB">
        <span class="itemTxt">
          <span class="require">*</span>名称：
        </span>
        <input autocomplete="off" placeholder="请输入名称" data-reg="^\S+$" onkeyup="this.value=this.value.replace(/\s/g,'')"
          type="text" name="name" class="itemInput disable" disabled />
      </div>

      <div class="mainItemB">
        <span class="itemTxt">
          <span class="require">*</span>手机号码：
        </span>
        <input autocomplete="off" data-reg="^.{11}$" placeholder="请输入手机号码" oninput="value=value.replace(/[^\d]/g,'')"
          onkeyup="this.value=this.value.replace(/\s/g,'')" type="text" name="phone" class="itemInput disable"
          maxlength='11' disabled />
      </div>

      <div class="mainItemB">
        <span class="itemTxt">
          <span class="require">*</span>地区：
        </span>
        <div>
          <div>
            <div id="distpicker">
              <select id="select1" class="form-control disable" disabled></select>
              <select id="select2" class="form-control disable" disabled></select>
              <select id="select3" class="form-control disable" disabled></select>
            </div>
          </div>
        </div>
      </div>

      <div class="mainItemB">
        <span class="itemTxt"> 推广地图次数： </span>
        <div id="mappulg" class="rechargeBox">
          <div class="disable noneData"> 暂无 </div>
        </div>
      </div>

      <div class="mainItemB">
        <span class="itemTxt"> 推广商家次数： </span>
        <div id="businesspulg" class="rechargeBox">
          <div class="disable noneData"> 暂无 </div>
        </div>
      </div>

    </div>
  </div>
  <!-- 提示 -->
  <div class="tips" id="tip"></div>
  <!-- 遮罩 -->
  <div class="mask" id="mask"></div>

</body>

</html>