<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <title>推荐配置</title>
    <link rel="stylesheet" href="../css/common/common.css"/>
    <link rel="stylesheet" href="../css/list.css"/>
    <link rel="stylesheet" href="../css/permiss.css"/>
    <link rel="stylesheet" href="../fMap/3/toolBarStyle.css" />
    <script src="../js/common/jquery-1.8.0.min.js"></script>
    <script src="../js/common/url.js"></script>
    <script src="../js/common/common.js"></script>
    <script src="../js/common/page.js"></script>
    <script src="../fMap/3/fengmap.map.min.js"></script>
    <script src="../fMap/3/fengmap.plugins-mapedit.min.js"></script>
    <script src="../fMap/3/fengmap.plugin.min.js"></script>
    <script src="../fMap/3.1.2/fengmap.plugins-compositemarker.min.js"></script>
    <script src="../js/common/initFmap4.js"></script>
    <script src="../js/recommend.js"></script>
</head>

<body>
    <div class="contentTop">
        <span class="contentTitle">推荐配置</span>
        <div class="search">
            <div class="searchItem seleBox">
                关联地图：
                <div class="batchBox mapWidth" onclick="switchSele(event)">
                    <div name="map" class="batchTxt" data-val="">--请选择关联地图--</div>
                    <div class="batchList" id="mapSelect">
                        <div onclick="seleBatch(this,'')">--请选择关联地图--</div>
                    </div>
                </div>
            </div>
            <div class="searchItem seleBox">
                绑定区域：
                <input type="text" onkeyup="this.value=this.value.replace(/\s/g,'')" name="areaname" id="areaname"
                    class="searchInp" autocomplete="off" placeholder="请输入区域名称" style="width:112px" />
            <!-- <div class="batchBox" onclick="switchSele(event)" style="width: 150px;">
                <div name="areaname" class="batchTxt" data-val="" style="width: 137px">--请先选择关联地图--</div>
                <div class="batchList" id="barrierGateId">
                    <div onclick="seleBatch(this,'')">--请先选择关联地图--</div>
                </div>
            </div> -->
        </div>
        <div class="searchItem seleBox">
            推荐级别：
            <div class="batchBox" onclick="switchSele(event)"  style="width: 126px;">
                <div name="recommelevel" class="batchTxt" data-val="">--请选择级别--</div>
                <div class="batchList">
                    <div onclick="seleBatch(this,'')">--请选择级别--</div>
                    <div onclick="seleBatch(this,'3')">高</div>
                    <div onclick="seleBatch(this,'2')">中</div>
                    <div onclick="seleBatch(this,'1')">低</div>
                </div>
            </div>
        </div>
        <span class="searchBtn" onclick="search()">搜索</span>
        <span class="searchBtn resetBtn" onclick="reset()">重置</span>
         <shiro:hasPermission name="rcg:add">
            <div class="topBtn">
                <span onclick="addRecommend()">新增</span>
            </div>
         </shiro:hasPermission>
    </div>
</div>
<!-- 信息 -->
<div class="wrap">
    <table class="tab" id="tab">
        <thead>
        <tr>
            <td name="line" class="line">序号</td>
            <td name="mapName">关联地图</td>
            <td name="areaname">区域名称</td>
            <td name="recommelevel">推荐级别</td>
            <td name="operating">操作</td>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="listFooter clearfix">
        <label class="seleLabel">
            <input id="allCheck" onclick="allCheck(this)" type="checkbox" class="tabCheck" name="tabCheck">
            <span class="seleIcon"></span>全选
        </label>

        <shiro:hasPermission name="rcg:del">
            <span class="deleBtn" onclick="showAllDele()">删除</span>
        </shiro:hasPermission>

        <div class="page">
            <span id="total" class="total"></span>
            <span class="turnPage prev" onclick="prevPage()"></span>
            <ul class="pageList"></ul>
            <span class="turnPage next" onclick="nextPage(this)"></span>
            跳至<input type="text" value="1" class="jumpPage" onkeyup="jumpCurPage(this,event)"/>页
        </div>
    </div>
</div>
<!-- 提示 -->
<div class="tips" id="tip"></div>
<!-- 遮罩 -->
<div class="mask" id="mask"></div>
<!-- 确认提示框 -->
<div class="confimPop" id="delePop">
    <div class="confimPopTop">
        <span class="popClose" onclick="hidePop('#delePop')"></span>
    </div>
    <div class="confimPopInfo">
        <p class="confimPopTitle">是否删除？</p>
        <p class="txtOverFlow">推荐区域：<span id="deleTxt"></span></p>
    </div>
    <div class="confimPopFooter">
        <span class="confimPopEnt" onclick="entDele()">确定</span><span class="confimPopCancel"
                                                                        onclick="hidePop('#delePop')">取消</span>
    </div>
</div>

<!-- 蓝牙信标所在位置 -->
    <div class="mapPop" id="mapPop">
    <div class="mapPopTop">
        推荐区域所在位置
        <div class="close" onclick="hidePop('#mapPop')"></div>
    </div>
        <div class="fengmap" id="fengmap"></div>
</div>

<div id="operating" class="hidden">
     <shiro:hasAnyPermissions name="rcg:see,rcg:edit">
        <span class="tabOper" id="editBtn">详情</span>
     </shiro:hasAnyPermissions>

     <shiro:hasPermission name="rcg:del">
        <span class="tabOper deleOpa" id="deleteBtn">删除</span>
     </shiro:hasPermission>
</div>
<iframe id="addFrame" class="frameClass"></iframe>
<iframe id="editFrame" class="frameClass"></iframe>
</body>
<script>
    //回车搜索
    $("#barrierGateNum").keydown(function (event) {
        if (event.keyCode === 13) {
            search(); //搜索
        }
    });
</script>

</html>