<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
  <meta charset="UTF-8">
  <title>开锁信息</title>
  <link rel="stylesheet" href="../css/common/common.css" />
  <link rel="stylesheet" href="../css/list.css" />
  <script src="../js/common/jquery-1.8.0.min.js"></script>
  <script src="../js/common/url.js"></script>
  <script src="../js/common/common.js"></script>
  <script src="../js/common/page.js"></script>
  <script src="../fMap/2/fengmap.core.min.js"></script>
  <script src="../fMap/2/fengmap.control.min.js"></script>
  <script src="../js/common/initFmap3.js"></script>
  <script src="../js/unlockInfo.js"></script>
</head>

<body>
  <div class="contentTop">
    <span class="contentTitle">开锁信息</span>
    <div class="search">
      <div class="searchItem seleBox">
        关联地图：
        <div class="batchBox mapWidth" onclick="switchSele(event)">
          <div name="map" class="batchTxt" data-val="">--请选择关联地图--</div>
          <div class="batchList" id="mapSelect">
            <div onclick="seleBatch(this,'')">--请选择关联地图--</div>
          </div>
        </div>
      </div>

      <div class="searchItem seleBox">
        公司名称：
        <div class="batchBox" onclick="switchSele(event)" style="width: 150px;">
          <div name="companyId" class="batchTxt" data-val="" style="width: 137px">--请选择关联公司--</div>
          <div class="batchList" id="companySelect">
            <div onclick="seleBatch(this,'')">--请选择关联公司--</div>
          </div>
        </div>
      </div>

      <div class="searchItem seleBox">
        手机号码：<input type="text" onkeyup="this.value=this.value.replace(/\s/g,'')" name="phone" id="phone"
          class="searchInp" autocomplete="off" placeholder="请输入手机号码" style="width:112px" />
      </div>

      <div class="searchItem seleBox">
        车牌号：<input type="text" autocomplete="off" name="licensePlate" id="licensePlate"
          onkeyup="this.value=this.value.replace(/\s/g,'')" class="searchInp" placeholder="请输入车牌号" />
      </div>

      <span class="searchBtn" onclick="search()">搜索</span>
      <span class="searchBtn resetBtn" onclick="resetSearch()">重置</span>

    </div>
  </div>
  <!-- 信息 -->
  <div class="wrap">
    <table class="tab" id="tab">
      <thead>
        <tr>
          <td name="line" class="line">序号</td>
          <td name="mapName">地图名称</td>
          <td name="companyName">公司</td>
          <td name="placeName">车位号</td>
          <td name="licensePlate">车牌号</td>
          <td name="phone">手机号</td>
          <td name="unlockTime">开锁时间</td>
          <td name="parkingStatus">停放状态</td>
          <td name="operating">操作</td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <div class="listFooter clearfix">
      <label class="seleLabel">
        <input id="allCheck" onclick="allCheck(this)" type="checkbox" class="tabCheck" name="tabCheck">
        <span class="seleIcon"></span>全选</label>
      <shiro:hasPermission name="pur:del">
        <span class="deleBtn" onclick="showAllDele()">删除</span>
      </shiro:hasPermission>
      <div class="page">
        <span id="total" class="total"></span>
        <span class="turnPage prev" onclick="prevPage()"></span>
        <ul class="pageList"></ul>
        <span class="turnPage next" onclick="nextPage(this)"></span>
        跳至<input type="text" value="1" class="jumpPage" onkeyup="jumpCurPage(this,event)" />页
      </div>
    </div>
  </div>
  <!-- 提示 -->
  <div class="tips" id="tip"></div>
  <!-- 遮罩 -->
  <div class="mask" id="mask"></div>
  <!-- 确认提示框 -->
  <div class="confimPop" id="delePop">
    <div class="confimPopTop">
      <span class="popClose" onclick="hidePop('#delePop')"></span>
    </div>
    <div class="confimPopInfo">
      <p class="confimPopTitle">是否删除？</p>
      <p class="txtOverFlow">名称：<span id="deleTxt"></span></p>
    </div>
    <div class="confimPopFooter">
      <span class="confimPopEnt" onclick="entDele()">确定</span>
      <span class="confimPopCancel" onclick="hidePop('#delePop')">取消</span>
    </div>
  </div>


  <div id="operating" class="hidden">
    <!-- <shiro:hasAnyPermissions name="pur:edit,pur:see"> -->
    <!-- <span class="tabOper" id="editBtn">编辑</span> -->
    <!-- </shiro:hasAnyPermissions> -->

    <shiro:hasPermission name="pur:del">
      <span class="tabOper" id="deleteBtn">删除</span>
    </shiro:hasPermission>
  </div>

</body>
<script>
  //回车搜索
  $("#phone").keydown(function (event) {
    if (event.keyCode === 13) {
      search(); //搜索
    }
  });

  $("#licensePlate").keydown(function (event) {
    if (event.keyCode === 13) {
      search(); //搜索
    }
  });
</script>

</html>