<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta charset="UTF-8">
	<title>VIP区域管理详情</title>
	<link rel="stylesheet" href="../css/common/common.css" />
    <link rel="stylesheet" href="../css/jedate/jedate.css"/>
	<link rel="stylesheet" href="../css/details.css" />
	<script src="../js/common/jquery-1.8.0.min.js"></script>
	<script src="../js/common/url.js"></script>
	<script src="../js/common/common.js"></script>
    <script src="../js/common/jedate.min.js"></script>
	<script src="../js/vipAreaDetails.js"></script>
</head>
<body>
	<div class="top">
		<span class="topTitle">VIP区域管理 > <span id="titleFlag">新增</span></span>
		<div class="topBtn">
			<shiro:hasAnyPermissions name="vaa:add,vaa:edit">
				<span class="save" onclick="save()">
					<i></i>保存
				</span>
			</shiro:hasAnyPermissions>
			<span class="refresh" onclick="location.reload()">
				<i></i>刷新
			</span><span class="back" onclick="back()">
				<i></i>返回
			</span>
		</div>
	</div>
	<div class="main">
		<div class="mainBox clearfix">
            <div class="mainItemB">
				<span class="itemTxt"><span class="require">*</span>关联地图：</span>
				<div class="batchBox" onclick="switchSele(event)">
					<div name="map" class="batchTxt" data-val="">--请选择关联地图--</div>
					<div class="batchList" id="mapSelect">
						<div data-val="">--请选择关联地图--</div>
					</div>
				</div>
			</div>
			<div class="mainItemB">
				<span class="itemTxt"><span class="require">*</span>绑定区域：</span>
				<!-- <input autocomplete="off" type="text"  name="vipArea" class="itemInput" placeholder="请输入绑定区域"/> -->
				<div class="batchBox" onclick="switchSele(event)">
					<div name="barrierGateId"  class="batchTxt" data-val="">--请选择绑定区域--</div>
					<div class="batchList"  id="barrierGateId">
						<div data-val="">--请选择绑定区域--</div>
					</div>
				</div>
			</div>
            <div class="mainItemB">
				<span class="itemTxt"><span class="require">*</span>车牌号：</span>
				<input autocomplete="off" type="text"  name="license" class="itemInput" placeholder="请输入车牌号"/>
			</div>
            <div class="mainItemB">
				<span class="itemTxt"><span class="require">*</span>VIP客户：</span>
				<input autocomplete="off" type="text"  name="vipCustomers" class="itemInput" placeholder="请输入VIP客户" />
			</div>
            <div class="mainItemB">
				<span class="itemTxt"><span class="require">*</span>预约时间：</span>
				<input class="time itemInput" value="" readonly id="time" name="time" placeholder="请选择开始时间和结束时间"/>
			</div>
            <div class="mainItemB">
				<span class="itemTxt">
					<span class="require">*</span>手机号码：
				</span>
					<input autocomplete="off" data-reg="^.{11}$" placeholder="请输入手机号码" oninput="value=value.replace(/[^\d]/g,'')" onkeyup="this.value=this.value.replace(/\s/g,'')" type="text" name="phone" class="itemInput" maxlength='11' />
			</div>
			
		</div>
	</div>
	<!-- 遮罩 -->
	<div class="mask" id="mask"></div>
	<!-- 提示 -->
	<div class="tips" id="tip"></div>
</body>
</html>