<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tgy.camerademo.mapper.CameraVehicleCaptureMapper">
    <select id="getPlaceById" resultType="com.tgy.camerademo.entity.CameraVehicleCapture">
        select c.id,
        c.event_id,
        c.serial_number,
        c.`number`,
        c.camera_record_time,
        c.place,
        c.place_record_time,
        c.create_time,
        c.update_time,
        m.id     as `map`,
        m.name   as mapName,
        p.license as number,
        p.x,
        p.y,
        p.`floor`,
        mrf.name floorName,
        p.`state`,
        p.fid
        from camera_vehicle_capture c
        left join parking_place p on p.id=c.place
        left join map_2d m on p.map = m.id
        left join map_relevance_floor mrf on mrf.map = m.id AND mrf.level = m.defaultfloor
        <where>
            <if test="id != null">
                p.id=#{id}
            </if>
            <if test="license != null and license != ''">
                and c.number = #{license}
            </if>
            <if test="serialNumbers != null and serialNumbers.size() != 0">
                and c.serial_number in
                <foreach collection="serialNumbers" item="serialNumber" open="(" separator="," close=")">#{serialNumber}</foreach>
            </if>
            <if test="(license != null and license != '') or (serialNumbers != null and serialNumbers.size() != 0)">
                and c.create_time >= NOW() - INTERVAL 3 MINUTE and place is null
            </if>
            order by c.create_time desc
            limit 1
        </where>
    </select>
</mapper>