html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
i,
dl,
dt,
dd,
ol,
ul,
li,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

img {
    vertical-align: top;
}

ol,
ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

input {
    vertical-align: top;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    outline: none;
}

input:focus {
    border-color: #4a60cf;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #9F9F9F;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 ~ 18 */
    color: #9F9F9F;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #9F9F9F;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10 ~ 11 */
    color: #9F9F9F;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #9F9F9F;
}

::placeholder {
    /* 大部分现代浏览器 */
    color: #9F9F9F;
}

.hide {
    display: none;
}

.floatL {
    float: left;
}

.floatR {
    float: right;
}

.require {
    color: #FF5C62;
    margin-right: 4px;
}

/*单行文本溢出隐藏*/
.textOverFlow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*清浮动*/
.clearfix::after {
    display: block;
    content: " ";
    clear: both;
    height: 0;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.remind {
    color: #ff0000;
}

.point {
    cursor: pointer;
}

.batchImport {
    position: relative;
    left: 0;
    top: 0;
}

.importInput {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

/*列表页*/
.content {
    margin-left: 220px;
    font-size: 0;
}

.contentTop {
    padding: 16px 40px 0 20px;
    background-color: #fff;
    margin-left: 1px;
}

.contentTitle {
    color: #222222;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 16px;
}

body {
    font-family: Microsoft YaHei;
    background-color: #ECECEC;
    font-size: 14px;
    min-width: 1160px;
}

#fengmap {
    width: 100%;
    height: calc(100% - 52px);
}

.fengmap {
    /*控件用*/
    position: absolute;
}

/*内容栏的标题*/
.top {
    padding: 0 20px;
    background-color: #fff;
    margin-left: 1px;
    height: 48px;
}

.topTitle {
    color: #222222;
    font-weight: bold;
    font-size: 16px;
    line-height: 48px;
    display: inline-block;
    vertical-align: top;
}

/*top按钮样式*/
.topBack {
    float: right;
    line-height: 32px;
}

.topBtn {
    float: right;
    color: #9F9F9F;
    text-align: center;
    line-height: 32px;
    margin-top: 8px;
}

.topBtn span,
.itemBtn {
    padding: 0 20px;
    height: 32px;
    color: #4A60CF;
    background-color: #DFE7FF;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    margin-left: 16px;
}

.topBtn span {
    float: left;
}

.topBtn span:hover,
.itemBtn:hover {
    background-color: #4A60CF;
    color: #fff;
}

.topBtn1 {
    color: #9F9F9F;
    text-align: center;
    line-height: 32px;
    margin-top: -27px;
    position: relative;
    top: -52px;
    left: -71px;
}

.topBtn1 span,
.itemBtn {
    padding: 0 20px;
    height: 32px;
    color: #4A60CF;
    background-color: #DFE7FF;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    margin-left: 16px;
}

.topBtn1 span {

    display: inline-block;
}

.topBtn1 span:hover,
.itemBtn:hover {
    background-color: #4A60CF;
    color: #fff;
}

/*列表table*/
.tab {
    width: 100%;
    /*border:1px solid #ececec;*/
    background-color: #fff;
}

.tab tbody tr:nth-child(2n) {
    background-color: #FAFBFC;
}

.tab thead {
    background-color: #f4f4f4;
}

.tab thead tr {
    color: #676767;
}

.tab tbody tr {
    color: #020202;
}

.tab tr {
    height: 40px;
}

.tab td {
    padding-left: 8px;
}

.tab td:last-child{
    padding-right: 8px;
}

.tab thead td,
.tab tbody tr {
    border: 1px solid #ececec;
}

.tab tbody tr:hover {
    background-color: #F4F7FD;
}

.imgStatus {
    max-height: 30px;
    vertical-align: baseline;
}

tr td.padLeft40 {
    padding-left: 20px;
}

td.line {
    padding: 0 40px;
    width: 40px;
}

.tabChe {
    margin-right: 10px;
    vertical-align: top;
    user-select: none;
}

.tabImg {
    max-height: 30px;
    vertical-align: middle;
}

.tabOper {
    cursor: pointer;
    color: #4A60D0;
    /*font-weight: bold;*/
}

.deleOpa {
    margin-left: 20px;
}

.permissSet {
    margin-right: 30px;
}

.tabOper:hover {
    border-bottom: 1px solid #0876D7;
    /*text-decoration: underline;*/
}

.tabMessage {
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    background-color: #5473E8;
    color: #fff;
    text-align: center;
    border-radius: 2px;
}

.messageOpa {
    margin-left: 38px;
}

.tabSort {
    position: relative;
    display: inline-block;
    vertical-align: top;
    left: 0;
    top: 0;
    width: 10px;
    height: 18px;
    margin-left: 4px;
    cursor: pointer;
}

.tabSort::before,
.tabSort::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
}

.tabSort::before {
    top: 0;
    width: 0;
    height: 0;
    border-bottom: 8px solid #d8d8d8;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.tabSort::after {
    top: 10px;
    width: 0;
    height: 0;
    border-top: 8px solid #d8d8d8;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.descending::after {
    border-top-color: #5474E8;
}

.ascending::before {
    border-bottom-color: #5474E8;
}

/*自定义checkbox*/
.seleLabel {
    cursor: pointer;
    user-select: none;
}

.seleIcon {
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 14px;
    border: 1px solid #0876d7;
    margin-right: 8px;
    margin-top: 2px;
    text-align: center;
    position: relative;
}

.seleIcon::before {
    position: absolute;
    left: 3px;
    top: 3px;
    content: '';
    width: 8px;
    height: 8px;
}

.tabCheck {
    display: none;
}

.tabCheck:checked+.seleIcon::before {
    background-color: #0876d7;
}

.listFooter {
    padding: 15px 20px;
    line-height: 32px;
    background-color: #fff;
    border: 1px solid #ececec;
    border-top: none;
}

.listFooter .seleLabel .seleIcon {
    margin-top: 8px;
}

.listSele {
    width: 126px;
    height: 34px;
    border: 1px solid #ececec;
    border-radius: 2px;
    margin-left: 12px;
}

.page {
    float: right;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    user-select: none;
    color: #010101;
}

.redColor {
    color: #FF5C62;
}

.pageList {
    overflow: hidden;
    float: left;
}

.pageList li,
.turnPage {
    float: left;
    width: 30px;
    height: 30px;
}

.prev {
    background: url(../../image/common/prev.png) no-repeat center center;
}

.next {
    background: url(../../image/common/next.png) no-repeat center center;
    margin-right: 8px;
}

.turnPage,
.pageList li,
.jumpPage {
    border: 1px solid #ececec;
    border-radius: 2px;
    margin-left: 8px;
    background-color: #fff;
    cursor: pointer;
}

.jumpPage {
    display: inline-block;
    vertical-align: top;
    width: 46px;
    height: 30px;
    padding: 0;
    text-align: center;
    margin-right: 8px;
    cursor: auto;
}

li.curPage,
.pageList li:hover {
    background-color: #5474E8;
    border-color: #5474E8;
    color: #FFFFFF;
}

.pageList li.omitt {
    border: none;
    line-height: 1.5;
    cursor: auto;
    width: auto;
}

/*提示*/
.tips {
    position: fixed;
    padding: 6px 16px;
    background-color: #696969;
    color: #fff;
    min-height: 18px;
    line-height: 18px;
    border-radius: 2px;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    z-index: 999;
    transition: top 0.4s;
}

.showTips {
    position: fixed;
    padding: 6px 16px;
    background-color: #696969;
    color: #fff;
    border-radius: 2px;
    left: 50%;
    top: 80px;
    z-index: 99;
}

/*load*/
#loadMask {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 111;
    top: 0;
    left: 0;
}

#load {
    position: fixed;
    width: 150px;
    height: 160px;
    /*border-radius: 10px;*/
    border-radius: 2px;
    left: 50%;
    top: 50%;
    margin-left: -75px;
    margin-top: -80px;
    background-color: #fff;
    text-align: center;
    padding-top: 20px;
    z-index: 112;
}

/*遮罩*/
.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 99;
}

.content {
    font-size: 0;
    /* overflow: hidden; */
}

/*下拉*/
.batchBox {
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    height: 30px;
    width: 100px;
    border: 1px solid #ececec;
    border-radius: 2px;
    padding-left: 8px;
    position: relative;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center right;
    background-image: url(../../image/common/seleBgRight.png);
    user-select: none;
    z-index: 9;
}

.batchTxt {
    margin-right: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.batchList {
    display: none;
    position: absolute;
    left: -1px;
    width: 100%;
    top: 34px;
    background-color: #fff;
    border: 1px solid #ececec;
    cursor: pointer;
    /* max-height: 520px; */
    max-height: 300px;
    overflow-y: auto;
    -webkit-box-shadow: 0px 0px 4px 0px #bbbbbb;
    box-shadow: 0px 0px 4px 0px #bbbbbb;
}

.batchList div {
    margin-bottom: 1px;
    line-height: 30px;
    padding: 0 8px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.batchList div:last-child {
    margin-bottom: 0;
}

.batchList div:hover,
.curBatch {
    background-color: #4a60cf;
    color: #fff;
}

.levelZ {
    z-index: 10;
    border-color: #4A60CF;
    background-image: url(../../image/common/seleBg.png);
}

.manag {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    right: -50px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-left: -1px;
    border-radius: 0 2px 2px 0;
    color: #4A60CF;
    border: 1px solid #ececec;
    background-color: #DFE7FF;
    cursor: pointer;
}

/*带单位的框*/
.itemUnit {
    margin-left: 140px;
}

.itemUnit input {
    border: none;
    height: 100%;
    width: 262px;
    outline: none;
}

.itemUnit span {
    float: right;
    width: 40px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background-color: #ececec;
}

/*询问框*/
.confimPop {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 460px;
    height: 230px;
    margin-left: -230px;
    margin-top: -115px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 8px 6px rgba(0, 0, 0, .1);
    z-index: 99;
}

.confimPopTop {
    padding: 0 16px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ececec;
}

.confimPopInfo {
    margin: 32px 32px 16px;
    color: #FF5C62;
    font-size: 18px;
    height: 100px;
    overflow-y: auto;
}

.confimPopTitle {
    margin-bottom: 10px;
}

.confimPopFooter {
    text-align: right;
    margin-right: 35px;
}

.confimPopFooter span,
.btnGroup {
    display: inline-block;
    text-align: center;
    width: 78px;
    line-height: 30px;
    border-radius: 2px;
    cursor: pointer;
}

.confimPopEnt {
    background-color: #0876D7;
    color: #fff;
    margin-right: 16px;
    border: 1px solid #0876D7;
}

.confimPopCancel {
    color: #525151;
    border: 1px solid #ececec;
}

.confimPopEnt:hover {
    background-color: #004EA2;
}

/*浅色按钮*/
.lightColBtn {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 60px;
    height: 32px;
    color: #4A60CF;
    line-height: 32px;
    background-color: #DFE7FF;
    border-radius: 2px;
    cursor: pointer;
}

.lightColBtn:hover {
    background-color: #4A60CF;
    color: #fff;
}

/*block*/
.mainItemB {
    clear: both;
}

.mainItem,
.mainItemB {
    /*margin-bottom: 24px;*/
    margin-bottom: 20px;
}

.mainItem {
    float: left;
}

.itemTxt {
    float: left;
    height: 32px;
    line-height: 32px;
    width: 124px;
    text-align: right;
    margin-right: 16px;
}

.itemInput,
.itemUnit {
    width: 310px;
    height: 30px;
    padding: 0 0 0 8px;
    font-size: inherit;
    color: #222222;
    border-radius: 2px;
    border: 1px solid #ececec;
}

.itemDetail {
    display: inline-block;
    vertical-align: top;
    height: 32px;
    line-height: 32px;
    width: 312px;
    padding-left: 8px;
}


.disabPage {
    background-color: #ececec;
    cursor: not-allowed;
}

/*升级*/
.upgrade {
    display: none;
    position: fixed;
    width: 500px;
    left: 50%;
    top: 50%;
    z-index: 99;
    margin-left: -250px;
    margin-top: -150px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 8px 6px rgba(0, 0, 0, .1);
}

.detailTop {
    height: 40px;
    line-height: 40px;
    border-radius: 2px 2px 0 0;
    color: #222222;
    font-size: 16px;
    padding: 0 16px;
    border-bottom: 1px solid #ececec;
}

.detailClose,
.popClose {
    margin-top: 12px;
    float: right;
    cursor: pointer;
}

.popClose {
    width: 16px;
    height: 16px;
    background-image: url('../../image/common/close.png');
}

.popClose:hover {
    background-image: url('../../image/common/closeHover.png');
}

.upgradeCen {
    padding: 20px 20px 0 0;
}

.upgradeRes {
    display: none;
    border-top: 1px solid #ececec;
    padding-top: 20px;
}

.itemInfo {
    line-height: 32px;
}

.uploadBtn {
    margin-right: 16px;
    position: relative;
    left: 0;
    top: 0;
}

.uploadBtn input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

/*图层*/
.layer {
    width: 50px;
    height: 40px;
    line-height: 40px;
    background-color: #36C2CF;
    border-radius: 2px;
    position: absolute;
    top: 20px;
    right: 80px;
    z-index: 9;
    text-align: center;
    color: #FFFFFF;
    cursor: default;
}

.layerPop {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    z-index: 9;
    height: 280px;
    overflow-y: auto;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    padding: 20px 20px 0;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .1);
}

.layerItem {
    margin-bottom: 20px;
}

.layerItemTitle {
    width: 100px;
    word-break: break-all;
    color: #222222;
    margin-bottom: 15px;
}

.layerItemOpa span {
    display: inline-block;
    vertical-align: top;
    width: 42px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    cursor: pointer;
}

.layerOpaMr {
    margin-right: 12px;
}

span.curLayerOpa {
    border-color: #36C2CF;
    background-color: #36C2CF;
    color: #fff;
}

.infoTips {
    line-height: 32px;
    color: #999999;
    font-size: 12px;
    margin-left: 8px;
}



/*关闭按钮*/
.close {
    float: right;
    width: 20px;
    height: 20px;
    position: relative;
    left: 0;
    top: 6px;
    color: #000;
}

.close::before,
.close::after {
    content: '';
    display: block;
    position: absolute;
    width: 18px;
    height: 2px;
    border-radius: 2px;
    top: 9px;
    left: 1px;
    background-color: currentColor;
    cursor: pointer;
}

/* 确定按钮 */
.confirm{
    float: right;
    height: 32px;
    line-height: 32px;
    color: #fff;
    background-color: #5474E8;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    margin-left: 16px;
    text-align: center;
    padding: 0 20px;
    margin-right: 20px;
}

.close::before {
    transform: rotate(-45deg);
}

.close::after {
    transform: rotate(45deg);
}

.close:hover {
    color: #4A60CF;
}


.workorderItem {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    color: #4A60CF;
    line-height: 30px;
    border: 1px solid #4A60CF;
    background-color: #DFE7FF;
    border-radius: 2px;
    margin-right: 8px;
}

.mapPop {
    /* width: 1540px;
    height: 852px; */
    width: calc(100% - 40px);
    height: calc(100% - 30px);
    display: none;
    position: fixed;
    z-index: 99;
    top: 15px;
    left: 20px;
    background-color: #fff;
}

.mapPopTop {
    /* width: 1520px; */
    width: 100% !important;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #e2e2e2;
    height: 52px;
    line-height: 32px;
}

.viewMode1 {
    width: 50px;
    height: 40px;
    background: white;
    position: absolute;
    z-index: 12;
    right: 140px;
    top: 20px;
}

.viewMode3 {
    width: 50px;
    height: 40px;
    background: white;
    position: absolute;
    z-index: 3;
    right: 20px;
    top: 20px;
}

/*蜂鸟2,3D切换*/
.viewMode {
    width: 26px;
    height: 25px;
    background-image: url(../../image/fMap/2D.png);
    border-radius: 2px;
    position: absolute;
    top: 8px;
    left: 12px;
    right: 12px;
    cursor: pointer;
}

.viewMode3D {
    background-image: url(../../image/fMap/3D.png);
}

.disable {
    background-color: #f5f7fa;
    border-color: #e4e7ed;
    cursor: not-allowed;
}

/* 分页 总条数 */
.total {
    margin-right: 10px;
    float: left;
}

.c4A60CF {
    color: #4A60CF
}

.mapPopDetail {
    /* width: 1660px; */
    width: calc(100% - 40px);
    height: calc(100% - 40px);
}

.hidden {
    visibility: hidden;
}

.frameClass {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    display: none;
}

.batchTxt {
    color: #b2b2b2;
}

.batchTxtChange {
    color: #000;
}

.jedate .jedate-time .hmslist {
    width: 206px !important;
}

.jedate .jedate-time .hmslist ul {
    width: 68px !important;
}
