.pop{
	display: none;
	position: fixed;
	width: 1000px;
	height: 530px;
	left: 50%;
	top: 50%;
	margin-left: -500px;
	margin-top:-265px;
	background-color: #fff;
	z-index: 99;
	border-radius: 2px;
    box-shadow: 0 0 8px 6px rgba(0,0,0,.1);
    padding: 0 20px;
}
.popClose{
	height: 30px;
}
.popCloseIcon{
	margin-top: 4px;
    cursor: pointer;
}
.popTitle{
	line-height: 24px;
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0;
	text-align: center;
}
.styleBox{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}
.styleList{
	margin-left: 70px;
	height: 84px;
    overflow-y: auto;
}
.styleItem{
	float: left;
	margin-left: 10px;
	padding: 0 16px;
	height: 32px;
	line-height: 32px;
	color: #0876D7;
    background-color: #DFF0FF;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    margin-bottom: 10px;
    position: relative;
    left: 0;
    top: 0;
}
.styleItemClose{
	position: absolute;
	right: -4px;
	bottom: -4px;
	width: 18px;
    height: 18px;
    background-color: #0876D7;
    border-radius: 2px;
}
.styleItemClose::after,.styleItemClose::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
    top: 8px;
    left: 3px;
}
.styleItemClose::after {
    transform: rotate(-45deg)
}
.curStyleItem,.styleItem:hover,.addItem:hover{
	background-color: #0876D7;
	color: #fff;
}
.styleItemClose:hover{
	background-color: red;
}
.addItem{
	float: left;
	position: relative;
	display: block;
	height: 32px;
	width: 40px;
	border-radius: 2px;
	background-color: #DFF0FF;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #0876D7;
    cursor: pointer;
}
.addItem::after,.addItem::before{
	content: "";
	display: block;
	position: absolute;
	width: 20px;
	height: 2px;
	background-color: currentColor;
	border-radius: 2px;
	top: 15px;
	left: 10px;
}
.addItem::after{
	width: 2px;
	height: 20px;
	top: 6px;
	left: 19px;
}
.styleFill{
	float: left;
	margin-bottom: 10px;
    margin-left: 10px;
    width: 110px;
    height: 32px;
    display: none;
}
.styleFill input{
	width: 90px;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	border-radius: 2px;
	border:1px solid #0876D7;
}
.styleTitle{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
    font-weight: bold;
}
.styleTitle li{
	float: left;
	width: 240px;
}
.addStyle{
	width: 100%;
	overflow:hidden;
}
.addStyleList{
	padding-top: 10px;
	float: left;
	width: 239px;
	border-right:1px solid #e5e5e5;
}
.lastAdd{
	border-right:none;
	width: 240px;
}
.addStyleItem{
	height: 32px;
    line-height: 32px;
	margin-bottom: 10px;
}
.addStyleTxt{
	float: left;
	width: 66px;
	text-align: right;
}
.addStyleFill{
	font-size: 0;
	text-align: center;
}
.mL66{
	margin-left: 66px;
}
.addStyleFill input{
	vertical-align: top;
    border: 1px solid #e5e5e5;
    width: 46px;
    height: 30px;
    padding: 0 10px;
    border-radius: 2px;
	text-align: center;
	outline: none;
	color: #0876D7;
	font-size: 16px;
}
.addStyleFill input:focus{
	border-color:#0876D7;
}
.addStyleFill span{
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	width: 20px;
	text-align: center;
}
.styleBtn{
	margin-top: 10px;
	height: 32px;
	line-height: 32px;
}
.saveStyle{
	float: left;
    background-color: #0876D7;
    color: #fff;
}
.analysis{
	float: right;
	background-color: #27ce2c;
	color: #fff;
}
.showStyleItem{
	height: 24px;
	line-height: 24px;
	margin-bottom: 2px;
}
.showStyleItem input{
	height: 24px;
	border:none;
	text-align: center;
	outline: none;
	width: 80%;
}
.analysisIcon{
	display: inline-block;
	vertical-align: top;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin-top:2px;
	box-shadow: 0 0 6px 1px rgba(0,0,0,.3);
}
.qualified{
	background-color: #00ff00;
}
.failed{
	background-color: #ff0000;
}
.downBox{
	position: relative;
	left: 0;
	top: 0;
	height: 39px;
	line-height: 39px;
}
.downIcon{
	display: inline-block;
	vertical-align: top;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 6px 0 6px;
	border-color: #676767 transparent transparent transparent;
	margin: 16px 0 0 8px;
}
.downList{
	position: absolute;
	left: -50px;
	width: 160px;
	top: 50px;
	line-height: 26px;
	text-align: center;
	border:1px solid #676767;
	background-color: #fff;
	border-radius: 2px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s,transform 0.3s;
	transition: translateY(0);

	cursor: pointer;
}
.downItem{
	width: 80px;
	float: left;
}
.downBox:hover .downList{
	visibility: visible;
	/*top: 38px;*/
	transform: translateY(-12px);
	opacity: 1;
}
.downList li:hover,.downAll:hover{
	background-color: #f4f4f4;
}