.pop{
	display: none;
	position: fixed;
	width: 660px;
	height: 530px;
	left: 50%;
	top: 50%;
	margin-left: -330px;
	margin-top:-265px;
	background-color: #fff;
	z-index: 99;
	border-radius: 2px;
    box-shadow: 0 0 8px 6px rgba(0,0,0,.1);
    padding: 0 20px;
}
.popCloseIcon{
	margin-top: 4px;
    cursor: pointer;
}
.popTitle{
	line-height: 24px;
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0;
	text-align: center;
}
#resultPop .searchItem input,#resultPop .searchItem select{
	width: 100px;
}