html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
i,
dl,
dt,
dd,
ol,
ul,
li,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

input {
  outline: unset;
  border: unset;
}

div,
span {
  user-select: none;
}

button {
  background: none;
  border: none;
  box-shadow: none;
  text-decoration: none;
  cursor: pointer;
}

html,
body {
  width: 100%;
  height: 100%;

  font-size: 3.4667vw;
  overflow: hidden;

  touch-action: none;
}

#fengmapbox {
  width: 100%;
  height: 100%;
}

/* load动画 */
#load {
  display: none;
}

.loadMain {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, .5);
}

.loadCenter {
  width: 26.6667vw;
  height: 26.6667vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #fff;
  border-radius: 1.0667vw;

  display: flex;
  align-items: center;
}

/* load动画 */

/* toast提示 */
#toast {
  display: none;
}

.toastMain {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.toastCenter {
  padding: 1.3333vw 2.6667vw;
  max-width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  border-radius: 1.0667vw
}

/* toast提示 */

/* 重置jq weui 样式 */
.toolbar .picker-button {
  color: #3C69EF !important;
}

.weui-dialog .weui-dialog__btn.primary {
  color: #3C69EF !important;
}

/* 重置jq weui 样式 */

/* 左侧按钮样式 */
.rightCenter {
  position: fixed;
  top: 33.3333vw;
  right: 2.6667vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
}

.rightCenter .itemBox {
  background-color: #fff;
  border-radius: 50%;
  margin-top: 30rpx;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 2.6667vw;
  box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 10%);
}

.rightCenter .itemBox2 {
  border-radius: 5.3333vw;

  display: none;
  overflow: hidden;
}

.rightCenter .operate-item {
  width: 10.6667vw;
  height: 10.6667vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightCenter .operate-icon {
  width: 5vw;
  height: 5vw;
}

.rightCenter .operate-install {
  width: 10.6667vw;
  height: 10.6667vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 10.6667vw;
  position: relative;
}

.opTips {
  line-height: 1;
  font-size: 12px;
}

.rightCenter .operate-longItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 48vw;
  height: 10.6667vw;
}

#selectMap {
  width: 10.6667vw;
  height: 10.6667vw;
  position: absolute;
  top: 0;
  left: 0;
  border: unset;
  opacity: 0;
}

#installList {
  display: none;
}

.installBox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, .5);
}

.installBox .installContent {
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;

  background-color: #EEEEEE;
  border-radius: 2.6667vw 2.6667vw 0 0;
  overflow: hidden;
}

.installBox .installContent .installList {
  width: 100%;
  margin-bottom: 2.6667vw;
}

.installBox .installContent .installItem {
  width: 100%;
  height: 10.6667vw;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-bottom: 1px solid #BFBFBF;
}

.installBox .installContent .installItem:last-child {
  border-bottom: unset;
}

.installBox .installContent .installCancel {
  padding-bottom: 4vw;
}

/* 左侧按钮样式 */


/* 安装样式 */
.installMain {
  width: calc(100vw - 3.7333vw);
  margin: 0 auto;
  border-radius: 2.6667vw 2.6667vw 0 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px;

  position: absolute;
  bottom: 0;
  left: 1.8667vw;
  z-index: 21;
}

#installOperateBox .footer-box {
  width: 100%;
  height: 24.5333vw;
}

.footer-box .detail-name {
  height: 3.8667vw;
  line-height: 100%;
  width: 18.6667vw;
  color: #252525;
  text-align: justify;
}

.footer-box .detail-name::after {
  width: 100%;
  display: inline-block;
  content: '';
}

.footer-box .detailTop {
  box-sizing: border-box;
  padding: 1.8667vw 2.4vw 1.8667vw 4.6667vw;
  height: 11.7333vw;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d3d3d3;
}

.footer-box .detailBottom {
  box-sizing: border-box;
  padding: 1.8667vw 2.4vw 2.4vw 4.6667vw;
  height: 12.6667vw;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.footer-box .colon {
  margin: 0 1.6vw 0 .8vw;
}

.footer-box .inputTop {
  width: 51.7333vw;
  height: 8vw;
  background-color: #f3f4f8;
  padding-left: 1.3333vw;
  font-size: 3.3333vw;
  color: #252525;
}

.footer-box .inputTopSelect {
  color: #898989;
}

.footer-box .nullBtn {
  width: 13.3333vw;
  margin-left: 4vw;
}

.footer-box .scanTopBtn {
  width: 13.3333vw;
  height: 8vw;
  text-align: center;
  border-radius: 1.3333vw;
  background-color: #3c69ef;
  box-sizing: border-box;
  padding-top: 1.6vw;
  margin-left: 4vw;
}

.footer-box .scanTopBtn img {
  width: 4.9333vw;
  height: 4.6667vw;
}

.installMain .footer-features {
  padding: 8vw 4.8vw;
  box-sizing: border-box;
  height: 29.3333vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f3f4f8;
  color: #252525;
  font-size: 3.4667vw;
  text-align: center;
}

.installMain .features-cancel {
  width: 31.4667vw;
  height: 10.1333vw;
  line-height: 10.1333vw;
  border: 1px solid #a0a0a0;
  border-radius: 5.3333vw;
}

.installMain .features-navi {
  width: 31.4667vw;
  height: 10.1333vw;
  line-height: 10.1333vw;
  font-size: 4vw;
  color: #fff;
  background-color: #3c69ef;
  border-radius: 5.3333vw;
}

.DedtiOrPlaceDialog {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.modalHideReplace {
  display: none !important;
}

/* 安装样式 */

.DedtiOrPlaceDialog .weui-mask {
  position: absolute;
  z-index: 101;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: unset;
  visibility: unset;
}

.DedtiOrPlaceDialog .weui-dialog {
  position: absolute;
  z-index: 101;
  top: 45%;
  left: 50%;
  background-color: #fff;
  text-align: center;
  border-radius: 3.2vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height: 90%;
  outline: 0;
  opacity: unset;
  visibility: unset;
}

.DedtiOrPlaceDialog .weui-dialog__bd {
  padding: 0 6.4vw;
  margin-bottom: 8.5333vw;
  font-size: 4.5333vw;
  line-height: 1.4;
  word-wrap: break-word;
  white-space: normal;
  hyphens: auto;
  color: #252525;
}

.DedtiOrPlaceDialog .weui-dialog__ft {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.DedtiOrPlaceDialog .weui-dialog__btn {
  flex: 1;
  display: block;
  line-height: 1.41176471;
  padding: 4.2667vw 0;
  font-size: 4.5333vw;
  color: #5473e8;
  font-weight: 500;
  text-decoration: none;
  user-select: none;
  position: relative;
  z-index: 100;
  white-space: normal;
  word-wrap: break-word;
}

.DedtiOrPlaceDialog .weui-dialog__split {
  width: 1px;
  height: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.1);
}

.DedtiOrPlaceDialog .weui-dialog__hd {
  padding: 8.5333vw 6.4vw 4.2667vw;
}

.DedtiOrPlaceDialog .weui-dialog__cancel {
  display: block;
  position: absolute;
  width: 5.3333vw;
  height: 5.3333vw;
  top: 2.6667vw;
  right: 2.6667vw;
  font-size: 6.1333vw;
  color: #000;
  user-select: none;
  z-index: 100;
}

.DedtiOrPlaceDialog .weui-dialog__cancel img {
  width: 100%;
  height: 100%;
}

.DedtiOrPlaceDialog .weui-dialog__ftItem {
  display: flex;
  flex: 1;
}

.DedtiOrPlaceDialog .weui-dialog__ftItem .weui-dialog__btn {
  display: block;
  line-height: 1.4;
  padding: 2.9333vw 0;
  margin-right: 2px;
  font-size: 3.7333vw;
  color: #5473e8;
  font-weight: 400;
  text-decoration: none;
  user-select: none;
  position: relative;
  z-index: 100;
  white-space: normal;
  word-wrap: break-word;
}

.DedtiOrPlaceDialog .weui-dialog__btn_active {
  background-color: #ececec;
}

.DedtiOrPlaceDialog .weui-dialog__ftItem1 .weui-dialog__btn {
  padding: 4.2667vw 0;
  font-size: 4.5333vw;
}

.DedtiOrPlaceDialog .weui-dialog__ftItem1 .weui-dialog__btn_default {
  color: #252525;
}

.DedtiOrPlaceDialog .weui-dialog__fBContainer {
  position: absolute;
  bottom: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56.5333vw;
  z-index: 101;
}

.DedtiOrPlaceDialog .weui-dialog__fB {
  width: 81.3333vw;
  background-color: #fff;
  max-height: 60%;
  outline: 0;
  text-align: center;
  border-radius: 3.2vw;
  margin-bottom: 4vw;
  overflow: scroll;
}

.DedtiOrPlaceDialog .weui-dialog__fB .weui-dialog__fBI {
  width: 100%;
  height: 13.6vw;
  line-height: 13.6vw;
}

.DedtiOrPlaceDialog .weui-dialog__fBItem {
  height: 13.3333vw;
  line-height: 13.3333vw;
}

.DedtiOrPlaceDialog .weui-dialog__fBSplit {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.DedtiOrPlaceDialog .weui-close {
  width: 5.3333vw;
  height: 5.3333vw;
  font-size: 6.1333vw;
  color: #000;
  user-select: none;
  z-index: 103;
}

.DedtiOrPlaceDialog .weui-dialog__fBClose {
  width: 100%;
  height: 100%;
}

/* 公司时间 */
.configLockBox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}

.configLockBox .configLockMain {
  width: 93.3333vw;
  height: 32vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background: #eeeff1;
  border-radius: 4vw;
  padding: 2.6667vw 0;
}

.configLockBox .configLockMain .closeIcon {
  width: 4.5333vw;
  height: 4.5333vw;
  position: absolute;
  top: 1.8667vw;
  right: 2.4vw;
  z-index: 2;
}

.configLockBox .configLockMain .closeIcon .closeImage {
  display: block;
  width: 100%;
  height: 100%;
}

.configLockBox .configLockMain .clm_content {
  width: 93.3333vw;
  height: 21.3333vw;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  font-size: 4vw;
  color: #252525;
}

.configLockBox .configLockMain .clm_content .configPicker {
  width: 53.3333vw;
  height: 8vw;
  line-height: 8vw;
  border: 1px solid #d2d2d2;
  padding: 0 1.6vw;
  box-sizing: border-box;
  border-radius: 1.6vw;
}

.configLockBox .configLockMain .clm_footer {
  width: 93.3333vw;
  height: 10.6667vw;
  display: flex;
  align-items: center;
  justify-content: space-around;


}

.configLockBox .configLockMain .clm_footer .clmf_b1,
.configLockBox .configLockMain .clm_footer .clmf_b2 {
  width: 26.6667vw;
  height: 10.6667vw;
  border-radius: 5.3333vw;
  line-height: 10.6667vw;
  text-align: center;
  font-weight: 400;
  font-size: 4.8vw;
}

.configLockBox .configLockMain .clm_footer .clmf_b1 {
  background: #eeeff1;
  border: 1px solid #a0a0a0;
  color: #252525;
}

.configLockBox .configLockMain .clm_footer .clmf_b2 {
  background: linear-gradient(90deg, #5473e8, #5793ed);
  color: #ffffff;
}

/* config success */
.modifyBeaconBox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
  background-color: rgba(0, 0, 0, 0.6);
}

.modifyBeaconBox .modifyBeaconMain {
  width: 93.3333vw;
  height: 133.3333vw;
  background: #eeeff1;
  border-radius: 4vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.modifyBeaconBox .modifyBeaconMain .MBH {
  width: 100%;
  height: 14.4vw;

  border-bottom: 1px solid #d2d2d2;
  position: relative;
}

.modifyBeaconBox .modifyBeaconMain .MBH .MBH_text {
  width: 100%;
  line-height: 14.4vw;
  font-weight: 400;
  font-size: 5.3333vw;
  color: #252525;
  text-align: center;
}

.modifyBeaconBox .modifyBeaconMain .MBH .MBH_icon {
  position: absolute;
  top: 1.8667vw;
  right: 2.4vw;
  z-index: 2;
  width: 4.5333vw;
  height: 4.5333vw;
}

.modifyBeaconBox .modifyBeaconMain .MBH .MBH_icon .MBH_i_i {
  display: block;
  width: 100%;
  height: 100%;
}

.modifyBeaconBox .modifyBeaconMain .MBC {
  width: 100%;
  margin-top: 16vw;
  padding: 0 5.8667vw;
  box-sizing: border-box;
}

.modifyBeaconBox .modifyBeaconMain .MBC .MBC_s {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 4vw;
  color: #252525;
}

.modifyBeaconBox .MVC_s_n_t::after {
  content: '、';
}

.modifyBeaconBox .MVC_s_n_t:last-child::after {
  content: '';
}

.modifyBeaconBox .modifyBeaconMain .MBC .MBC_f {
  margin-top: 12.6667vw;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 4vw;
  color: #f61d25;
}

/* 离线安装 */
.offlineFooter {
  position: absolute;
  bottom: 0;
  left: 1.8667vw;
  height: 79.2vw;
  width: 96.2667vw;
  background-color: #f3f4f8;
  border-radius: 3.4667vw 3.4667vw 0 0;
  overflow: hidden;
  box-shadow: 0px 6px 8px 0px rgba(183, 183, 183, 0.5);
}

.offlineFooter .offlineToolbar {
  display: flex;
  align-items: center;
  padding: 3.4667vw;
  border-bottom: 1px solid #dcdcdc;
}

.offlineFooter .picker {
  line-height: 8vw;
  width: 13.3333vw;
  border-radius: 1.3333vw;
  background-color: #3c69ef;
  color: #fff;
  text-align: center;
}

.offlineFooter .offlineScroll {
  height: 64.2667vw;
  overflow: auto;
}

.offlineFooter .offlineBtn {
  line-height: 8vw;
  width: 16vw;
  border-radius: 1.3333vw;
  background-color: #3c69ef;
  color: #fff;
  text-align: center;
  margin-left: 2.6667vw;
}

.offlineFooter .cancelBtn {
  position: fixed;
  bottom: 78.6667vw;
  left: 50%;
  transform: translateX(-50%);
  width: 13.3333vw;
  height: 7.2vw;
  line-height: 7.2vw;
  font-size: 4vw;
  font-weight: 700;
  border-radius: 13.3333vw 13.3333vw 0 0;
  background-color: #f3f4f8;
  color: #3c69ef;
  text-align: center;
  box-shadow: 0px -6px 8px 0px rgba(183, 183, 183, 0.1);
}

.offlineFooter .cancelBtn img {
  width: 3.4667vw;
  height: 3.4667vw;
}

.offlineFooter .devicePicker {
  width: 21.3333vw;
}

.offlineFooter .col {
  display: flex;
  align-items: center;
  height: 11.2vw;
  width: 100%;
  box-sizing: border-box;
  padding: 2.6667vw 5.0667vw;
  color: #020202;
  border-bottom: 1px solid #ddd;
}

.offlineFooter .stallCol {
  width: 17.3333vw;
}

.offlineFooter .listName {
  margin-left: 1.3333vw;
  width: 24vw;
}

.offlineFooter .wanggListName {
  margin-left: 1.3333vw;
  width: 38.6667vw;
}

.offlineFooter .listNameMac {
  width: 37.8667vw;
}

.offlineFooter .deleteBtn img {
  width: 4.6667vw;
  height: 4.6667vw;
  vertical-align: middle;
}

/* 列表 */
.deviceListView {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}

.deviceListView .searchContainer {
  height: 79.2vw;
  width: calc(100vw - 3.7333vw);
  margin: 0 auto;
  border-radius: 2.6667vw 2.6667vw 0 0;
  background-color: #f3f4f8;
  position: relative;
}

.searchContainer .toolbar2 {
  box-sizing: border-box;
  height: 33.8667vw;
  padding: 3.3333vw 3.3333vw 2.1333vw 3.3333vw;
  border-bottom: 1px solid #dcdcdc;
  font-size: 4vw;
  border-radius: 2.6667vw 2.6667vw 0 0;
}

.deviceListView .marR {
  margin-right: 4vw;
}

.deviceListView .radio {
  width: 12vw;
}

.deviceListView .cheRadio {
  width: 19.7333vw;
}

.deviceListView .toobarTop {
  display: flex;
  align-items: center;
  margin-bottom: 3.4667vw;
}

.deviceListView .searchInput {
  width: 34.6667vw;
  height: 7.3333vw;
  padding: 0 1.3333vw;
  background-color: #fff;
  margin-right: 2.6667vw;
}

.deviceListView .searchXinInput {
  width: 34.6667vw;
}

.deviceListView .searchCheInput {
  width: 47.3333vw;
}

.deviceListView .picker {
  line-height: 8vw;
  width: 13.3333vw;
  border-radius: 1.3333vw;
  background-color: #3c69ef;
  color: #fff;
  text-align: center;
}

.deviceListView .toolIBtn {
  box-sizing: border-box;
  width: 13.3333vw;
  height: 8vw;
  padding-top: 1.7333vw;
  text-align: center;
  background-color: #3c69ef;
  border-radius: 1.3333vw;
}

.deviceListView .lockconfig {
  color: #fff;
  padding-top: unset !important;
  line-height: 8vw;
}

.deviceListView input[type="checkbox"] {
  background-color: #fff;
}

.listItemNum input[type="checkbox"] {
  margin-right: 1.0667vw;
}


.deviceListView .sortI {
  width: 3.2vw;
  height: 4.5333vw;
}

.deviceListView .refreshBtn {
  width: 5.2vw;
  height: 4.5333vw;
}

.deviceListView .scanBtn {
  width: 4.9333vw;
  height: 4.6667vw;
}

.deviceListView .devicePicker {
  width: 21.3333vw;
}

.deviceListView .toolbarMiddle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.8667vw;
}

/* 关闭按钮 */
.deviceListView .cancelBtn {
  position: absolute;
  top: -6.6667vw;
  left: 50%;
  transform: translateX(-50%);
  width: 13.3333vw;
  height: 7.2vw;
  line-height: 7.2vw;
  font-size: 4vw;
  font-weight: 700;
  border-radius: 13.3333vw 13.3333vw 0 0;
  background-color: #f3f4f8;
  color: #3c69ef;
  text-align: center;
}

.deviceListView .cancelBtn img {
  width: 3.4667vw;
  height: 3.4667vw;
}

/* 关闭按钮 */
.deviceListView .marLeft {
  margin-left: 2.6667vw;
}

.deviceListView .toolBtn {
  width: 13.3333vw;
  line-height: 8vw;
  text-align: center;
  background-color: #3c69ef;
  border-radius: 1.3333vw;
  color: #fff;
}

.deviceListView .sousuoBtn {
  width: 15.0667vw;
}

.deviceListView .toolbarBottom {
  display: flex;
  height: 7.7333vw;
  line-height: 7.4667vw;
  justify-content: space-between;
}

.deviceListView .toolbarBottomR {
  display: flex;
  align-items: center;
}

.deviceListView .toolbarBottom .span1 {
  margin-right: 1.3333vw;
  color: #6c6c6c;
  font-size: 3.3333vw;
}

.deviceListView .searchScroll {
  height: 34.1333vw;
  overflow: auto;
}

.deviceListView .col {
  display: flex;
  align-items: center;
  height: 11.2vw;
  width: 100%;
  box-sizing: border-box;
  padding: 2.6667vw 5.0667vw;
  color: #020202;
  border-bottom: 1px solid #ddd;
}

.deviceListView .listName {
  margin-left: 1.3333vw;
  width: 24vw;
}

.deviceListView .baseNet {
  width: 17.3333vw;
}

.deviceListView .online {
  color: #00b522;
}

.deviceListView .offline {
  color: #ff1b1b;
}

.deviceListView .batteryVolt {
  width: 17.0667vw;
}

.deviceListView .locationBtn {
  width: 13.3333vw;
}

.deviceListView .locationBtn img {
  width: 4.4vw;
  height: 5.4667vw;
  vertical-align: middle;
}

.deviceListView .deleteBtn img {
  width: 4.6667vw;
  height: 4.6667vw;
  vertical-align: middle;
}

.deviceListView .bestallCol {
  width: 14.6667vw;
}

.deviceListView .bestallCol div {
  width: 14.6667vw;
}

.deviceListView .bestallListName {
  width: 20vw;
}

.deviceListView .stallCol {
  width: 17.3333vw;
}

.deviceListView .wanggListName {
  margin-left: 1.3333vw;
  width: 38.6667vw;
}

.deviceListView .baseNet {
  width: 17.3333vw;
}

.deviceListView .p1b {
  position: relative;
}

.deviceListView .p1b .p1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.deviceListView .listH {
  width: 100%;
  height: 11.2vw;
  display: flex;
  align-items: center;
  background: #3c69ef;
  font-size: 3.4667vw;
  color: #ffffff;
}

.deviceListView .listContent {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 3.4667vw;
  height: 11.2vw;
  line-height: 11.2vw;
}

.deviceListView .listItemNum {
  flex: 4;
  flex-shrink: 0;
  text-align: center;

  display: flex;
  align-items: center;
  padding-left: 1.0667vw;
  box-sizing: border-box;

  overflow: hidden;
}

.deviceListView .listItemNum div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}



.deviceListView .listItem {
  flex: 3;
  line-height: unset;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.deviceListView .listItem .lockloca {
  width: 4.4vw;
  height: 5.4667vw;
  display: block;
  margin: 0 auto;
}

.deviceListView .listItem .lockd {
  width: 4.6667vw;
  height: 4.6667vw;
  display: block;
  margin: 0 auto;
}

.deviceListView .imgBoxWidth {
  width: 9.3333vw;
  flex-shrink: 0;
  flex: unset;
  text-align: center;
}

.deviceListView .icsbox {
  display: flex;
  align-items: center;
}

.weui-picker-container.weui-picker-container-visible {
  height: 100%;
}

/* 巡检 */
.inspectionView {
  height: 92.2667vw;
  width: calc(100vw - 3.2vw);
  border-radius: 2.6667vw 2.6667vw 0 0;
  background-color: #f3f4f8;
  font-size: 3.7333vw;
  position: absolute;
  bottom: 0;
  left: 1.8667vw;
  z-index: 21;
}

.inspectionView .cancelBtn {
  position: absolute;
  top: -6.6667vw;
  left: 50%;
  transform: translateX(-50%);
  width: 13.3333vw;
  height: 7.2vw;
  line-height: 7.2vw;
  font-size: 4vw;
  font-weight: 700;
  border-radius: 13.3333vw 13.3333vw 0 0;
  background-color: #f3f4f8;
  color: #3c69ef;
  text-align: center;
  box-shadow: 0px -6px 8px 0px rgba(183, 183, 183, 0.1);
}

.inspectionView .cancelBtn img {
  width: 3.4667vw;
  height: 3.4667vw;
}

.inspectionView .inspectionB {
  padding: 1.3333vw 2.1333vw;
  border-bottom: 1px solid #dcdcdc;
  box-sizing: border-box;
}

.inspectionView .inspectionBT {
  display: flex;
  justify-content: space-between;
  margin-bottom: .8vw;
}

.inspectionView .inspectionBT button {
  padding: 1.6vw 3.4667vw;
  margin: 1.3333vw 0;
  background-color: #3c69ef;
  color: #fff;
  border-radius: .8vw;
}

.inspectionView .radioGroup {
  display: flex;
  align-items: center;
}

.inspectionView .radioGroup input {
  margin-right: .8vw;
}

.inspectionView .radioGroup label {
  margin-right: 4.2667vw;
}

.inspectionView .inputView {
  display: flex;
  margin-top: 1.3333vw;
  justify-content: space-between;
  align-items: center;
}

.inspectionView .inputView input {
  width: 0;
  flex: 1;
  height: 7.7333vw;
  line-height: 7.7333vw;
  padding: 0 2.6667vw;
  box-sizing: border-box;
  border-radius: .8vw;
}

.inspectionView .inputView .inputTip {
  margin-right: 2.6667vw;
}

.inspectionView .inputView .fillTxt {
  margin-left: 2.6667vw;
}

.inspectionView .inputView .updateBtn {
  padding: 1.6vw 3.4667vw;
  background-color: #3c69ef;
  color: #fff;
  margin-left: 2.6667vw;
  border-radius: .8vw;
}

.inspectionView .info {
  padding: 0 2.1333vw;
  box-sizing: border-box;
  border-bottom: 1px solid #dcdcdc;
}

.inspectionView .info>div {
  height: 6.6667vw;
  line-height: 6.6667vw;
}

.inspectionView .scroll {
  height: 48vw;
  overflow: auto;
}

.inspectionView .scroll .col {
  height: 9.8667vw;
  padding: 2.6667vw 1.0667vw;
  font-size: 3.2vw;

  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  color: #020202;
  border-bottom: 1px solid #ddd;
}

.inspectionView .scroll .col .slaveid {
  /* width: 21.3333vw; */
  flex: 3;
  display: flex;
  align-items: center;
}

.inspectionView .scroll .col .type {
  /* width: 17.3333vw; */
  flex: 2;
}

.inspectionView .scroll .col .txPower {
  /* width: 17.3333vw; */
  flex: 2;
}

.inspectionView .scroll .col .rssi {
  /* width: 32vw; */
  flex: 4;
}

.inspectionView .scroll .col .signal {
  /* width: 24vw; */
  flex: 3;
}


.noneInspeclistBox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 199;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
}

.noneInspeclistBox .inspectionFooter {
  position: absolute;
  width: calc(100% - 3.2vw);
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  background-color: #f3f4f8;
  font-size: 3.7333vw;
  border-radius: 2.6667vw 2.6667vw 0 0;
  box-shadow: 0 0 1.3333vw 0 rgba(183, 183, 183, 0.5);
  overflow: hidden;
  z-index: 2;
}

.noneInspeclistBox .noInspecTitle {
  font-size: 5.0667vw;
  font-weight: 700;
  margin-top: 2.6667vw;
  text-align: center;
  margin-bottom: 2.6667vw;
}

.noneInspeclistBox .noInspectionScroll {
  height: 33.3333vw;
  margin-bottom: 2.6667vw;
  margin-left: 4vw;
  width: 88vw;
  overflow: auto;
}

.noneInspeclistBox .noInspectionB {
  padding: 1.3333vw 2.1333vw;
  text-align: center;
}

.noneInspeclistBox .noInspectionB button {
  padding: 1.0667vw 1.6vw;
  box-sizing: border-box;
  border-radius: 1.0667vw;
  border: 1px solid #ddd;
}

.noneInspeclistBox .noInspectionB .clearNoInspecBtn {
  background-color: #3c69ef;
  color: #fff;
  margin-left: 5.3333vw;
  border: 1px solid #3c69ef;
}



.tips {
  position: fixed;
  width: 66.6667vw;
  height: 46.4vw;
  z-index: 9999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
  margin-top: -23.2vw;
  background-color: #fff;
  border-radius: 2.4vw;
  box-shadow: 0 0 2.6667vw .5333vw rgba(0, 0, 0, 1);
  text-align: center;
}

.tips .tipsTxt {
  color: #252525;
  font-size: 4.2667vw;
  height: 32vw;
  line-height: 32vw;
}

.tips .tipsBtn {
  display: flex;
  font-size: 3.2vw;
  justify-content: center;
}

.tips .enter {
  width: 18.1333vw;
  height: 8.2667vw;
  line-height: 8.2667vw;
  border-radius: 1.0667vw;
  border-width: .2667vw;
  border-style: solid;
  border-color: #5473e8;
  color: #ffffff;
  background-color: #5473e8;
}

.tips .loading {
  position: relative;
  width: 13.3333vw;
  height: 13.3333vw;
  margin: 5.3333vw auto;
  font-size: 6.4vw;
  -webkit-animation: ball-spin-fade-rotate 6s infinite linear;
  animation: ball-spin-fade-rotate 6s infinite linear;
}

.tips .loadTxt {
  color: #252525;
  font-size: 4.2667vw;
  margin-bottom: 4.2667vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tips .loadTxt .modify {
  color: #ff0f0f;
  margin-left: .8vw;
}

.failTips {
  position: fixed;
  top: 5.3333vw;
  right: 3.2vw;
  width: 72vw;
  max-height: 26.6667vw;
  background-color: #fff;
  border-radius: 1.3333vw;
  display: flex;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 3px;
  overflow: auto;
}

.failTips .failTxt {
  margin: 1.3333vw 0 1.3333vw 2.1333vw;
  flex: 1;
  line-height: 6.6667vw;
  color: #3c69ef;
}

.failTips .failClose {
  width: 4.5333vw;
  height: 4.5333vw;
  position: relative;
  left: 0;
  top: 0;
  margin: 1.6vw;
}

.failTips .failClose .failCloseImg {
  width: 100%;
  height: 100%;
}

.loading div {
  background-color: #4a8ae8;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3.7333vw;
  height: 3.7333vw;
  margin-top: -1.8667vw;
  margin-left: -1.8667vw;
  border-radius: 100%;
  -webkit-animation: ball-spin-fade 1s infinite linear;
  animation: ball-spin-fade 1s infinite linear;
}

.loading div:nth-child(1) {
  top: 5%;
  left: 50%;
  -webkit-animation-delay: -1.125s;
  animation-delay: -1.125s;
}

.loading div:nth-child(2) {
  top: 18%;
  left: 81%;
  -webkit-animation-delay: -1.25s;
  animation-delay: -1.25s;
}

.loading div:nth-child(3) {
  top: 50%;
  left: 95%;
  -webkit-animation-delay: -1.375s;
  animation-delay: -1.375s;
}

.loading div:nth-child(4) {
  top: 81%;
  left: 81%;
  -webkit-animation-delay: -1.5s;
  animation-delay: -1.5s;
}

.loading div:nth-child(5) {
  top: 94%;
  left: 50.0000000005%;
  -webkit-animation-delay: -1.625s;
  animation-delay: -1.625s;
}

.loading div:nth-child(6) {
  top: 81%;
  left: 18%;
  -webkit-animation-delay: -1.75s;
  animation-delay: -1.75s;
}

.loading div:nth-child(7) {
  top: 49.9999750815%;
  left: 5.0000051215%;
  -webkit-animation-delay: -1.875s;
  animation-delay: -1.875s;
}

.loading div:nth-child(8) {
  top: 18.179464974%;
  left: 18.1803700518%;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@-webkit-keyframes ball-spin-fade-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes ball-spin-fade-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes ball-spin-fade {

  0%,
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    opacity: 0.25;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@keyframes ball-spin-fade {

  0%,
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    opacity: 0.25;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

.lh0 {
  line-height: 0;
  font-size: 12px;
}

.state1 {
  color: #67C23A;
}

.priority1 {
  color: #ff0000;
}

.priority2 {
  color: #E6A23C;
}

.priority3 {
  color: #909399;
}

.colorBox {
  margin-top: -1px;
}

.colorBox .colorBox1 {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #67C23A;
}

.colorBox .colorBox2 {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #ff0000;
}

.colorBox .colorBox3 {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #E6A23C;
}

.colorBox .colorBox4 {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #909399;
}

.colorBox span {
  font-size: 12px;
  line-height: 0;
}