html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
i,
dl,
dt,
dd,
ol,
ul,
li,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

div,
span {
    user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.disNone {
    display: none;
}

.disBlock {
    display: block;
}

#fengmap {
    width: 100%;
    height: 100%;
}

.operateLeft {
    left: .9333vw;
}

.operateRight {
    right: 1.8667vw;
}

.operate {
    position: absolute;
    /* bottom: 250px; */
    bottom: 66.6667vw;
}

.operate-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10.6667vw;
    height: 10.6667vw;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .2);
    margin-top: 2.6667vw;

    font-size: 4.2667vw;
    color: #5473E8;
    font-weight: bold;
    overflow: hidden;

}

.operate-item .TDbox {
    width: 100%;
    transform: translate(0, 0);
    transition: all .8s cubic-bezier(.24, 0, .5, 1);
}

.operate-item .TDitem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.operate-item .TDbox.D2 {
    transform: translate(0, 0);
}

.operate-item .TDbox.D3 {
    transform: translate(0, -100%);
}

.operate-item .TDitem {
    width: 100%;
    height: 100%;
}

.operate-item img {
    width: 6.2667vw;
    height: 6.2667vw;
    vertical-align: middle;
}

.operateLeft .operate-item img {
    width: 4vw;
    height: 4vw;
}

.helpText {
    font-size: 2.4vw;
    color: #626262;
    white-space: nowrap;
}

.operate-item .operate-exitIcon {
    position: absolute;
    top: 1.8667vw;
    left: 50%;
    transform: translateX(-50%);
    width: 4.1333vw;
    height: 4.1333vw;
}

.operate-item .operate-iconText {
    position: absolute;
    top: 6.4vw;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.4vw;
    color: #626262;
    white-space: nowrap;
}

.operate-item .operate-carIcon {
    position: absolute;
    top: 1.8667vw;
    /* left: 3.4667vw; */
    left: 50%;
    transform: translate(-50%, 0);
    /* width: 4vw;
    height: 4vw; */
    width: 4.1333vw;
    height: 4.1333vw;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.footer-box {
    display: inline-block;
    width: 96.2667vw;
    margin-left: 1.8667vw;
    border-radius: 2.6667vw 2.6667vw 0 0;
    box-shadow: 0 0 1.3333vw 0 rgba(183, 183, 183, .5);
    background-color: #fff;
    transition: all 0.2s;
}

#footerMain {
    transform: translateY(25.6vw);
}

#footerMain .footer-box {
    padding-top: 1.3333vw;
    box-sizing: border-box;
}

.footer-box-actions {
    transform: translateY(0);
}

.footer-search {
    position: relative;
    display: flex;
    align-items: center;
    height: 10.6667vw;
    margin: 0 2.1333vw;
    margin-top: 2.4vw;
    border-radius: 1.3333vw;
    padding: 0 2.4vw;
    background-color: #f3f4f8;
}

.search-icon {
    width: 6.1333vw;
    height: 6.1333vw;
    margin-right: 5.0667vw;
}

.search-text {
    font-size: 3.2vw;
    color: #6c6c6c;
}

.footer-voice {
    position: absolute;
    right: 2.1333vw;
    width: 4.9333vw;
    height: 6.1333vw;
}

.nav {
    padding: 3.7333vw 2.1333vw 7.4667vw;
    font-size: 3.2vw;
}

.nav_ul {
    display: flex;
    justify-content: space-around;
}

.nav .clickItem {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 13.3333vw;
}

.nav img {
    width: 11.4667vw;
    height: 11.3333vw;
    margin-bottom: 1.6vw;
}

.detail {
    padding: 4vw;
}

.detail-name {
    margin-bottom: 4.8vw;
    font-size: 4.8vw;
    white-space: break-spaces;
    color: #252525;

    /* ... */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.detail-desc {
    font-size: 4vw;
    color: #626262;
}

.detail-operate {
    display: flex;
    font-size: 3.4667vw;
    margin-top: 4vw;
}

.detail-operate img {
    width: 4.2667vw;
    height: 4.2667vw;
    margin-bottom: .8vw;
}

.detail-operate .features-icon {
    width: 2.8vw;
    height: 4.2667vw;
    margin-bottom: .8vw;
}

.detail-operate>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 6.6667vw;
}

.footer-features {
    display: flex;
    justify-content: space-between;
    padding: 6.6667vw 4.8vw;
    background-color: #f3f4f8;
}

.footer-features>div {
    width: 21.3333vw;
    height: 10.6667vw;
    line-height: 10.1333vw;
    border-radius: 5.3333vw;
    text-align: center;
    font-size: 4vw;
}

.features-cancel {
    width: 21.3333vw;
    height: 10.6667vw;
    border: .2667vw solid #a0a0a0;
    box-sizing: border-box;
}

.features-navi {
    position: relative;
}

.features-navi img {
    position: absolute;
    top: 0;
    left: 0;
    ;
    width: 100%;
    height: 100%;
}

.features-navi span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.outerNaviTitle {
    padding: 4vw;
    font-size: 4.6667vw;
    font-weight: 400;
    color: #000;
}

.outerNaviMeter {
    color: #5C72E1;
}

.navi-btn {
    padding: 0 4vw 9.3333vw;
    font-size: 4vw;
}

.navi-box {
    display: flex;
    justify-content: space-between;
}

.navi-box>div {
    width: 40vw;
    height: 10.6667vw;
    line-height: 10.1333vw;
    text-align: center;
    border-radius: 5.3333vw;
    cursor: pointer;
}

.navi-end {
    box-sizing: border-box;
    border: .2667vw solid #a0a0a0;
}

.navi-box .navi-start {
    width: 40vw;
    height: 10.6667vw;
    line-height: 10.6667vw;
    background: linear-gradient(90deg, #5473E8, #5793ED);
    color: #fff;
}

.enterNaviTitle {
    padding: 4.2667vw 5.3333vw 0;
    font-size: 4.8vw;
    color: #181818;
    /* ... */
    display: -webkit-box;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-line;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

.description {
    padding: 3.4667vw 5.3333vw;
    font-size: 4.8vw;
    color: #535353;
}

.ml {
    width: 23.4667vw;
    height: 10.6667vw;
    line-height: 10.1333vw;
    text-align: center;
    border-radius: 5.3333vw;
    margin-left: auto;
}

.exit-tips {
    display: flex;
    align-items: center;
    z-index: 11;
    height: 24vw;
    line-height: 24vw;
    font-size: 5.6vw;
    text-align: center;
    color: #252525;
    transition: transform 0.2s;
    transform: translateY(110%);
}

.exit-show {
    transform: translateY(0);
}

.exit-hide,
.enter-exit {
    flex: 1;
}

.enter-exit {
    color: #e22c2c;
}

.exit-line {
    width: .2667vw;
    height: 8vw;
    background-color: #e1e1e1;
}

.naviTip {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 96vw;
    height: 20vw;
    margin-left: 2vw;
    background-color: #010101;
    z-index: 2;
    border-radius: 2.6667vw;
}

.naviTip img {
    margin-left: 5.3333vw;
    width: 11.3333vw;
    height: 12vw;
}

.navTipTxt {
    position: absolute;
    top: 50%;
    left: 19.3333vw;
    transform: translate(0, -50%);
    font-size: 6vw;
    color: #fff;
}

.naviTipTxtL {
    margin-right: 1.3333vw;
}

.navTipTxtM {
    color: #9d9d9d;
    margin-right: 1.3333vw
}

.navTipTxtR {
    font-size: 7.3333vw;
    /* margin-right: 2.6667vw; */
}

.closeBtn {
    width: 66.6667vw;
    margin: 2.6667vw auto 6.6667vw;
    border-radius: 5.3333vw;
    text-align: center;
    line-height: 10.6667vw;
    background: linear-gradient(90deg, #5473E8, #5793ED);
    color: #fff;
}

.dedtiOrPlaceDialog {
    width: 100%;
    height: 100%;
}

.dialog-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 21;
    background-color: rgba(0, 0, 0, .6);
}

.dialog-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 81.3333vw;
    min-height: 140px;
    border-radius: 8px;
    overflow: hidden;
    z-index: 22;
}

.dialog .dialog-container {
    display: flex;
    flex-direction: column;
    background: #fff;
}

.dialogBody {
    border-radius: 2.4vw;
    background-color: #fff;
    color: #000;
    font-size: 4.2vw;
    margin-bottom: 4vw;
}

.dialog .dialogBody {
    flex: 1;
    flex-shrink: 0;
    text-align: center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialogFooter {
    display: flex;
    height: 56px;
    line-height: 56px;
    border-bottom-left-radius: 2.4vw;
    border-bottom-right-radius: 2.4vw;
    background-color: #fff;
}

.dialogFooter div {
    height: 100%;
    flex: 1;
    text-align: center;
}

.dialogFooter .cancelBtn {
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.dialogFooter .comfirmBtn {
    font-weight: 600;
    color: #5473E8;
}

.dialogBtn {
    display: inline-block;
    width: 100%;
    line-height: 14.4vw;
    text-align: center;
    font-size: 4.5333vw;
    color: #252525;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.dialogBtn i {
    font-style: normal;
    color: #5473E8;
}

.dialogBtn:last-child {
    border: none;
}

.dialogClose {
    text-align: center;

}

.dialogClose img {
    width: 5.3333vw;
    height: 5.3333vw;
    justify-content: center;
}

.pop-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, .5);
}

.page-container {
    position: absolute;
    bottom: 0;
    left: 1.8667vw;
    width: 96.2667vw;
    height: 90vh;
    background-color: #fff;
    border-radius: 5.3333vw 5.3333vw 0 0;
    z-index: 21;
}

.pop-header {
    padding: 5.3333vw 5.3333vw 0;
    font-size: 3.2vw;
    border-bottom: 1px solid #ebebeb;
    ;
}

.page-scroll {
    /* height: 80vw; */
    height: calc(90vh - 53.6667vw);
    overflow-y: scroll;

}

.pop-search {
    display: flex;
    align-items: center;
    height: 10.6667vw;
    padding: 0 2.4vw;
    border: 0;
    background-color: #f3f4f8;
}

.pop-search input {
    flex: 1;
    box-sizing: border-box;
    height: 100%;
    border: 0;
    background-color: #f3f4f8;
    outline: none;
}

.clear {
    position: relative;
    left: 0;
    top: 0;
    display: inline-block;
    width: 5.3333vw;
    height: 5.3333vw;
    color: #5473E8;
}

.clear::before,
.clear::after {
    content: '';
    position: absolute;
    top: 2.4vw;
    left: .6667vw;
    width: 4vw;
    height: .5333vw;
    border-radius: .8vw;
    background-color: currentColor;
}

.clear::before {
    transform: rotate(45deg);
}

.clear::after {
    transform: rotate(-45deg);
}

.type-list {
    display: flex;
    justify-content: space-between;
    height: 10.6667vw;
    line-height: 10.6667vw;
    color: #6c6c6c;
}

.cur-type {
    color: #5473E8;
}

.delete {
    font-size: 2.6667vw;
}

.search-item {
    display: flex;
    align-items: center;
    padding: 0 5.3333vw;
}

.search-item img {
    width: 3.3333vw;
}

.search-info {
    flex: 1;
    margin-left: 2.6667vw;
    padding: 2.6667vw 0;
    border-bottom: 1px solid #ebebeb;
}

.search-title {
    font-size: 3.7333vw;
}

.search-desc {
    margin-top: .8vw;
    font-size: 2.9333vw;
    color: #929292;
}

.outdoor-type {
    margin-right: 2.1333vw;
}

.search-delete img {
    width: 2.6667vw;
    height: 2.6667vw;
    margin-left: 5.3333vw;
}

#nedIcon {
    position: relative;
}

.nedtip {
    position: absolute;
    /* left: 20px; */
    /* bottom: 340px; */
    bottom: 40px;
    left: 10px;
    width: 58px;
    height: 35px;
    animation: jump .8s ease-in-out 6 alternate;
}

@keyframes jump {
    from {
        /* bottom: 340px; */
        bottom: 40px;
    }

    to {
        /* bottom: 350px; */
        bottom: 50px;
    }
}

.nedtip img {
    width: 100%;
    height: 100%;
}

.voicePop {
    position: fixed;
    top: 50%;
    left: 15vw;
    right: 15vw;
    transform: translateY(-70%);
    background-color: #4c4c4c;
    border-radius: 5vw;
    max-height: 90%;
    z-index: 100;
}

.voive_top_animation text {
    animation: loading 2.5s infinite linear;
    animation-delay: calc(0.2s * var(--d));
}

.voive_top_noanimation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: 25px 0 10px;
}

.voive_top_noanimation text {
    display: inline-block;
    background: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
    width: 4px;
    height: 20%;
    border-radius: 2px;
    margin-right: 4px;
}

@keyframes loading {
    0% {
        background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
        height: 20%;
        border-radius: 2px;
    }

    50% {
        background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
        height: 100%;
        border-radius: 4px;
    }

    100% {
        background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
        height: 20%;
        border-radius: 2px;
    }
}

.voive_top_tips {
    height: 10vw;
    color: hsla(0, 0%, 100%, .9);
    font-size: 15px;
    text-align: center;
}

.voice_bottom_btn {
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #5473E8;
    margin: 0 auto 20px;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
}

.weui-dialog__cancel {
    display: block;
    position: absolute;
    width: 6vw;
    height: 6vw;
    top: 2vw;
    right: 2vw;
    font-size: 15px;
    color: #000;
    user-select: none;
    z-index: 100;
}

.weui-dialog__cancel img {
    width: 100%;
    height: 100%;
}

.newNav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6.67vw;
    color: #6C6C6C;
    padding: 2.67vw 0;
}

.newNav .line {
    width: 1px;
    height: 100%;
    background: #D2D2D2;
}

.newNav .navitem {
    width: 24vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 3.2vw;
}

.newNav .active {
    background: #EFEFEF;
    border-radius: 1.0667vw;
}

.newNav .icon {
    width: auto;
    height: 4.2667vw;
    margin-right: 2vw;
}

.newNav .img {
    height: 100%;
}

.search-item input {
    vertical-align: middle;
    margin-top: -2px;
    margin-bottom: 1px;
    /* 前面三行代码是为了让radio单选按钮与文字对齐 */
    width: 4vw;
    height: 4vw;
    appearance: none;
    /*清楚默认样式*/
    -webkit-appearance: none;
    /* 注意不能设置为display:none*/
    border: 1px solid #BFBFBF;
    border-radius: 50%;
}

.search-item input:checked {
    background: #5473E8;
    position: relative;
    overflow: hidden;
}

.search-item input:checked::after {
    content: "";
    position: absolute;
    left: 8px;
    top: 2px;
    width: 5px;
    height: 12px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: translate(-40%, -35%) rotate(45deg);
    ;
}

.m_footer {
    position: absolute;
    bottom: 0;
    height: 15vw;
    width: 100%;
    border-top: 1px solid #D2D2D2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3.7333vw;
    color: #252525;
}

.m_footer .m_text {
    margin-left: 2.6667vw;
    margin-top: -4px;
}

.m_footer .m_dele {
    padding: 0 5.3333vw;
}

.cinput {
    margin-right: 1.8667vw;
}

.strong {
    color: #f73131;
}

/* 指引 */
.guideSwitch {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999999999;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .6);
}

.switchBox {
    display: flex;
}

.switchLi {
    position: absolute;
    bottom: 37.3333vw;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 99;
}

.switchspan {
    display: inline-block;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    margin: 0 2.6667vw;
    background-color: #fff;

}

.switchactive {
    background-color: #26FF15 !important;
}

.switchImg {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
}

.switchImg img {
    width: 100%;
    height: 100%;
}

.startusing {
    position: absolute;
    bottom: 15vw;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 99;
    width: 22vw;
    height: 8vw;
    border-radius: 1.0667vw;
    background-color: #26FF15;
    font-size: 4.2667vw;
    text-align: center;
    line-height: 8vw;
    color: #fff;
    display: none;
}

.guide_footer_btn {
    width: 80vw;
    position: absolute;
    bottom: 20vw;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 99;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.guide_f_btn {
    width: 26.6667vw;
    height: 10.6667vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5.3333vw;
    font-size: 4vw;
}

.guide_f_btn1 {
    color: #252525;
    background-color: #FFFFFF;
}

.guide_f_btn2 {
    color: #FEFEFE;
    background: linear-gradient(-90deg, #5793ED, #5473E8);
}

.showusing {
    display: block;
}

.leftText {
    text-align: left;
}

.dialogHeader {
    text-align: left;
    margin-left: 20%;
    line-height: 1.5;
    padding-bottom: 2vw;
}

.dialogBody2 {
    padding: 4vw 4vw 8vw 4vw !important;
}


/* 动画效果 */
.animation_hide {
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    transition: all .3s cubic-bezier(.24, 0, .5, 1);
}

.animation_hide2 {
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0, -110%, 0);
    transition: all .3s cubic-bezier(.24, 0, .5, 1);
}

.animation_show {
    visibility: visible !important;
    opacity: 1 !important;
    transform: translate3d(0, 0, 0) !important;
}

.animation_scale {
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all .3s cubic-bezier(.24, 0, .5, 1);
}

.animation_show2 {
    visibility: visible !important;
    opacity: 1 !important;
    transform: translate(-50%, -50%) scale(1) !important;
}

.animation_opac {
    opacity: 0;
    transition: all .3s cubic-bezier(.24, 0, .5, 1);
}

.animation_show3 {
    opacity: 1 !important;
}

.animation_x1 {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}

.animation_x3 {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}

.animation_x2 {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.animation_xx {
    transition: all .3s cubic-bezier(.24, 0, .5, 1);

}

/* 动画效果 */

.isNoDataList {
    text-align: center;
    padding: 4vw;
    box-sizing: border-box;
    font-size: 3.2vw;
    color: #a0a0a0;
}

.smore {
    text-align: center;
    color: #a0a0a0;
    font-size: 3.2vw;
    padding: 2.6667vw 0;
}

.input_font {
    font-size: 3.7333vw;
}

/* 楼层空车位 */
.emptybox {
    width: max-content;
    height: 5.3333vw;
    line-height: 5.3333vw;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0);
    border-radius: 2.6667vw;
    border: 1px solid #FFFFFF;
    background: rgba(191, 191, 191, .9);
    font-size: 3.2vw;
    color: #494949;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.emptynum {
    color: #000;
}

.emptycolor {
    display: inline-block;
    width: 2.6667vw;
    height: 2.6667vw;
    background: #07C864;
    border: 1px solid #FFFFFF;
    margin-left: 1.3333vw;
    margin-right: .2667vw;
    margin-bottom: .1333vw;
}

/* .fm-layer {
    flex-direction: column;
    font-size: 1.0667vw;
} */


.customFloorGroupsBox {
    /* width: 42px; */
    width: 11.2vw;
    position: absolute;
    border-radius: 2px;
    z-index: 9;
    box-shadow: rgb(0 0 0 / 20%) 0 0 6px;
    inset: 10px 7px auto auto;
}

.fm-floor-list-btn {
    /* width: 42px;
    height: 20px; */
    width: 11.2vw;
    height: 5.3333vw;
}

/* .customFloorGroupBox {
    overflow: auto;
} */

.fm-layer {
    flex-direction: column;
}

.fm-layer .fmlayerText {
    font-size: 2.4vw;
    color: #626262;
    white-space: nowrap;
    font-weight: 700;
}

.clickItem:active {
    background-color: #eee;
}

/* 多层时楼层标签样式 */
.fm-control-popmarker2 {
    box-sizing: border-box;
    width: 30px;
    padding: 2px 0;
    background-color: #fff;
    border: 1px solid rgb(0, 0, 0, .2);
    border-radius: 6px;
    position: absolute;
    top: -20px;
    /* top: 0; */
    left: 0;
    text-align: center;
    line-height: 20px;
    font-size: 4vw;
    color: #5473E8;
}

/* .fm-control-popmarker2 .content {
    text-shadow: 2px -1px 0 #fff, 2px -1px 0 #fff, -1px 2px 0 #fff, 1px 2px 0 #fff;
    font-weight: bold;
} */


.fm-control-popmarker-bot2 {
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    position: absolute;
    border: 8px dashed transparent;
    border-top: 8px solid rgb(0, 0, 0, .2);
    left: 6px;
    bottom: -16px;
}

.fm-control-popmarker-top2 {
    width: 0;
    height: 0;
    font-size: 0;
    overflow: auto;
    position: absolute;
    border: 8px dashed transparent;
    border-top: 8px solid #fff;
    left: 6px;
    bottom: -15px;
}

.upIcon,
.nextIcon {
    position: relative;
}

.upIcon .upIconItem {
    display: inline-block;
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    border: 8px dashed transparent;
    border-bottom: 8px solid #5473E8;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 0);
}

.nextIcon .nextIconItem {
    display: inline-block;
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    border: 8px dashed transparent;
    border-top: 8px solid #5473E8;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 0);
}

.border-top-color-none {
    border-top: 8px solid #9f9f9f !important;
}

.border-bottom-color-none {
    border-bottom: 8px solid #9f9f9f !important;
}

/* 多层时楼层标签样式 */

/* 预约样式 */
.booking {
    width: calc(100vw - 140px);
    height: 5.3333vw;
    line-height: 5.3333vw;
    position: absolute;
    left: 50%;
    top: 10.6667vw;
    transform: translate(-50%, 0);
    border-radius: 2.6667vw;
    border: 1px solid #FFFFFF;
    background: rgba(191, 191, 191, .9);
    font-size: 3.2vw;
    color: #494949;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.bookContent {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
}

/* 选择出口弹窗样式 */
.dialogBtn2 {
    height: 14.6667vw;
    line-height: unset !important;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dialogBtn2 .textName {
    font-size: 3.7333vw;
    color: #686868;
    line-height: 1;
    margin-top: .8vw;

    display: -webkit-box;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-line;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

.setOTColor {
    color: #f73131;
}





.error_box {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    word-break: break-all;
    overflow: scroll;
    background-color: #fff;
    height: 300px;
}

.error_hide {
    transform: translate3d(0, 100%, 0);
}

#error_conent div {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
    user-select: text;
}

.quickPosition {
    width: 26.6667vw;
    height: 8vw;
    position: absolute;
    /* bottom: 66.6667vw; */
    bottom: 46.9333vw;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 3.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4vw;
    background: linear-gradient(-90deg, #5793ED, #5473E8);
    color: #fff;
}

.footer_box_hTip {
    width: 100%;
    /* height: 2.6667vw; */
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.footer_box_hTip .footer_box_hTip_icon {
    width: 7.7333vw;
    height: 1.3333vw;
    display: block;
}

.footer_box_hTip .fbhi_actions {
    transform: rotate(180deg);
}

.footer_box_hTip .ofTip {
    font-size: 2.6667vw;
    color: #6c6c6c;
}

.infoText {
    font-size: 3.4667vw;
    color: #626262;
}

.infoText .infoText1 {
    max-width: 7.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    text-align: center;
}

.infoText .infoTextHide {
    display: none;
}

.morePlaceViewMain {
    display: inline-block;
    width: 96.2667vw;
    margin-left: 1.8667vw;
    border-radius: 2.6667vw 2.6667vw 0 0;
    box-shadow: 0 0 1.3333vw 0 rgba(183, 183, 183, .5);
    background-color: #fff;
    transition: all 0.2s;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 4.8vw;
    box-sizing: border-box;
}

.morePlaceViewTopTitle {
    font-size: 4.8vw;
    color: #252525;
}

.morePlaceViewTip {
    font-size: 4vw;
    color: #626262;
}

.morePlaveViewList {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 4vw;
    margin-top: 2.6667vw;
}

.morePlaceItem {
    padding: 1.0667vw 2.4vw;
    line-height: 0;
    box-sizing: border-box;
    border-radius: 1.3333vw;
    background: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #000000;
    color: #3D3D3D;
    text-align: center;
    line-height: 4vw;
    margin-right: 2.6667vw;
    margin-bottom: 2.6667vw;
}

.morePlaceItemActive {
    background: #568CEC;
    color: #fff;
    border: 1px solid #568CEC;
}

.morePlaceViewBottomMain{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.6667vw;
}

.morePlaceViewBMBtn1{
    font-size: 4.2667vw;
    color: #3D3D3D;
    width:  40vw;
    height: 10.6667vw;
    border-radius: 5.3333vw;
    border: 1px solid #a0a0a0;
    background-color: #fff;
    text-align: center;
    line-height: 10.1333vw;
    font-size: 4vw;
}

.morePlaceViewBMBtn2 {
    font-size: 4.2667vw;
    color: #3D3D3D;
    width:  40vw;
    height: 10.6667vw;
    border-radius: 5.3333vw;
    border: 1px solid #a0a0a0;
    background: linear-gradient(-90deg, #5793ED, #5473E8);
    text-align: center;
    line-height: 10.1333vw;
    font-size: 4vw;
    color: #fff;
}