<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>智能巡检</title>

  <link rel="stylesheet" href="./fmap/global.css">
  <link rel="stylesheet" href="./fmap/toolBarStyle.css">
  <script src="./fmap/fengmap.map.min.js"></script>
  <script src="./fmap/fengmap.plugin.markers.min.js"></script>
  <script src="./fmap/fengmap.plugin.ui.min.js"></script>

  <link rel="stylesheet" href="./static/weui/jquery-weui.min.css">
  <link rel="stylesheet" href="./static/weui/weui.min.css">
  <script src="./static/weui/jquery-2.1.4.js"></script>
  <script src="./static/weui/jquery-weui.min.js"></script>

  <script src="./static/uni.webview.1.5.4.js"></script>

  <link rel="stylesheet" href="./static/index.css">
  <script src="./static/index.js"></script>
</head>

<body>
  <div id="fengmapbox"></div>

  <div class="rightCenter">
    <!-- 右侧中间操作区
				退出登录 -->
    <div class="itemBox">
      <div class="operate-item">
        <img class="operate-icon" onclick="quit()" src="./static/images/tuichu.png">
      </div>
    </div>
    <!-- 巡检 -->
    <div class="itemBox">
      <div class="operate-item">
        <img onclick="openInspection()" id="img4" class="operate-icon" src="./static/images/noInspection.png">
      </div>
    </div>
    <!-- 操作菜单 -->
    <div class="itemBox" id="menu">
      <div class="operate-install">
        <img onclick="tapBtn()" class="operate-icon" src="./static/images/total.png"></img>
        <div class="opTips">菜单</div>
      </div>
    </div>
    <div class="itemBox itemBox2" id="menuList">
      <div class="operate-longItem">
        <div class="operate-install">
          <img onclick="changeInstall()" id="img1" class="operate-icon" src="./static/images/noAnz.png">
          </img>
          <div class="opTips">安装</div>
        </div>
        <div class="operate-install">
          <img onclick="searchAll()" id="img2" class="operate-icon" src="./static/images/noSousuo.png"></img>
          <div class="opTips">查看</div>
        </div>
        <div class="operate-install">
          <img onclick="earlyWarn()" id="img5" class="operate-icon" src="./static/images/noEwarn.png"></img>
          <div class="opTips">预警</div>
        </div>
        <div class="operate-install">
          <img id="img3" class="operate-icon" src="./static/images/noMap.png"> </img>
          <div class="opTips">地图</div>
          <input onclick="update()" id="selectMap" type="text" value="">
        </div>
      </div>
    </div>
  </div>


  <div id="load">
    <div class="loadMain">
      <div class="loadCenter">
        <div class="weui-loadmore">
          <i class="weui-loading"></i>
          <div class="weui-loadmore__tips">正在加载</div>
        </div>
      </div>
    </div>
  </div>

  <div id="toast"></div>

  <div id="installList">
    <div class="installBox" onclick="hideInstallList()">
      <div class="installContent">
        <div class="installList">
          <div class="installItem" onclick="installItem(event,0)">信标安装</div>
          <div class="installItem" onclick="installItem(event,5)">道钉安装</div>
          <div class="installItem" onclick="installItem(event,1)">检测器安装</div>
          <div class="installItem" onclick="installItem(event,2)">网关安装</div>
          <div class="installItem" onclick="installItem(event,3)">地锁安装</div>
          <div class="installItem" onclick="installItem(event,4)">离线存储</div>
        </div>
        <div class="installItem installCancel">取消</div>
      </div>
    </div>
  </div>


  <div id="installOperateBox"></div>

  <div id="modelReplaceBox"></div>

  <div id="showConfigLockBox"></div>

  <div id="showModifyBeaconBox"></div>

  <div id="showDeviceListBox"></div>

  <div id="showInspectionListBox"></div>

  <div id="showNoneInspecList"></div>

  <div id="unisuccessTip"></div>

  <div id="unishowFailPop"></div>

  <div id="unimodifyTip"></div>
</body>

<script>
  document.addEventListener('UniAppJSBridgeReady', function () {
    uni.postMessage({
      data: {
        todo: 'init',
      }
    });
  });
</script>

</html>