html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
i,
dl,
dt,
dd,
ol,
ul,
li,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

input {
  outline: unset;
  border: unset;
}

div,
span {
  user-select: none;
}

button {
  background: none;
  border: none;
  box-shadow: none;
  text-decoration: none;
  cursor: pointer;
}

html,
body {
  width: 100%;
  height: 100%;
  min-width: 780px;

  overflow: hidden;
  touch-action: none;
}

#fengmapbox {
  width: calc(100% - 27.7083vw);
  height: 100%;
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 8.5938vw;
  background-image: url(./images/hearBG.png);
  background-size: 100% 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.125vw;
  box-sizing: border-box;
}

.rightBox {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9;
  width: 27.7083vw;
  height: calc(100vh - 6.9792vw);
  background-color: #fff;
  border: 1px solid #D7D7D7;
}


.fm-layer {
  display: none !important;
}

.fm-control-groups {
  inset: auto 28.2292vw 2.6042vw auto !important;
}

.fm-compass-container {
  inset: 8.5938vw auto auto 1.0417vw !important;
  top: 8.5938vw !important;
  left: 1.0417vw !important;
}



/* 选择地图 */
#selectMapBox {
  padding: 0 2.6042vw;
  box-sizing: border-box;
}

.headerText {
  margin-top: 1.8229vw;
  font-size: 1.5625vw;
  color: #000000;
}

.selectMapListMain {
  width: 22.7083vw;
  height: 3.1771vw;
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #A0A0A0;
  position: relative;
  margin-top: 1.6146vw;
}

.selectMapListBox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}

.selectMapListBox .selectMapListText {
  font-weight: 400;
  font-size: 1.5104vw;
  color: #464646;
}

.selectMapListBox .selectMapListIcon {
  width: 2.0833vw;
  height: 1.1979vw;
}

.selectMapListBox .selectMapListIconImg {
  display: block;
  width: 100%;
  height: 100%;
}

.selectMapListList {
  width: 22.7083vw;
  max-height: 18.2292vw;
  overflow: auto;
  border: 1px solid #A0A0A0;
  border-radius: 5px;

  display: none;
}

.selectMapListList .selectMapListItem {
  width: 100%;
  height: 2.6042vw;
  text-align: center;
  line-height: 2.6042vw;
  border-bottom: 1px solid #A0A0A0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

/* 选择地图 */

/* ::-webkit-scrollbar {
  width: 0px;
} */

/* 选点 */
.selectloadTextBox {
  margin-top: 1.6146vw;
  width: 22.7083vw;
  height: 3.1771vw;
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #A0A0A0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectloadTextBox .selectloadText {
  font-weight: 400;
  font-size: 1.5104vw;
  color: #464646;
}

.selectloadTextBox .selectloadText2 {
  font-weight: 400;
  font-size: 1.5104vw;
  color: #5473E8;
}

.selectloadSuccess {
  width: 10.1042vw;
  height: 3.5417vw;
  background: #5473E8;
  border-radius: 5px;
  border: 1px solid #5473E8;
  margin: 10.6771vw auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 32px;
  color: #FFFFFF;
}

.selectloadBack {
  width: 6.3021vw;
  height: 2.9688vw;
  background: #5473E8;
  border-radius: 1.5104vw;
  position: absolute;
  bottom: 1.25vw;
  right: 2.0833vw;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  width: .625vw;
  height: .625vw;
  background-color: transparent;
  /* 模块背景为透明 */
  border-color: #fff;
  border-style: solid;
  border-width: 2px 2px 0 0;
  transform: rotate(-135deg);
  margin-top: 2px;
}

.backText {
  font-weight: 400;
  font-size: 1.25vw;
  color: #FFFFFF;
}

/* 选点 */

/* logo */
.logoBox {
  display: flex;
  align-items: center;
  margin-top: -1.5625vw;
}

.logoBox .logoimg {
  width: 2.9688vw;
  height: 3.5938vw;
}

.logoimg .logoimgicon {
  display: block;
  width: 100%;
  height: 100%;
}

.logotext {
  margin-left: 1.25vw;
  font-weight: 500;
  font-size: 2.2917vw;
  color: #5473E8;
}

.timeBox {
  margin-top: -1.5625vw;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 1;
  text-align: center;
}

.timeBox .timetext {
  font-size: 2.2917vw;
}

.timeBox .timeyeartext {
  font-size: 1.5104vw;
  margin-top: .5208vw;
}

.emptybox {
  width: auto;
  height: 3.6458vw;
  background: #5473E8;
  box-shadow: 0px 4px 5px 0px rgba(167, 167, 167, 0.5);
  border-radius: 5px;
  position: fixed;
  top: 6.7708vw;
  left: calc(50% - (27.7083vw / 2));
  z-index: 9;
  transform: translate(-50%, 0);
  font-weight: 400;
  font-size: 36px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}


/* 查询 */
#searchListBox {
  width: 100%;
  height: 100%;
}

.searchMainBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.searchTypeNav {
  width: 100%;
  height: 3.75vw;
  flex-shrink: 0;

  display: flex;
}

.navItem {
  flex: 1;
  height: 100%;
  background: #EEEEEE;
  border: 1px solid #BFBFBF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  background: #FFFFFF;
  color: #5473E8;
}

.searchCenterMain {
  flex: 1;
  width: 100%;
  flex-shrink: 0;
  overflow: hidden;
}

.lp_input_box {
  width: 100%;
  height: 8.0208vw;
  border-bottom: 1px solid #BFBFBF;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lp_input {
  display: flex;
  justify-content: space-around;
}

.lp_input_item {
  width: 3.0208vw;
  height: 3.0208vw;
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #BFBFBF;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  font-size: 1.5104vw;
  color: #000000;

  transition: 0.2s;
}

.noneIsNewLP {
  background: #EEEEEE;
  border: 1px dashed #BFBFBF;
}

.lpActive {
  border: 1px solid #5473E8;
}

.lp_input_new {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: .5208vw;
}

.lp_input_new input {
  width: 1.25vw;
  height: 1.25vw;
}

.lp_input_new_text {
  font-weight: 400;
  font-size: 1.25vw;
  color: #000000;
  margin-left: .4167vw;
}

.lp_input_search_list {
  width: 100%;
  height: calc(100% - 12.9167vw);
  overflow: hidden;
}

.lpInputSearchListBox {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  z-index: 99999;
}

.lp_btn_box {
  width: 100%;
  height: 3.5417vw;

  display: flex;
  align-items: flex-end;

  margin-left: 8.8542vw;
  margin-top: .5208vw;
}

.lp_search {
  width: 10.1042vw;
  height: 3.5417vw;
  background: #5473E8;
  border-radius: 5px;
  border: 1px solid #5473E8;
  font-weight: 400;
  font-size: 1.6667vw;
  color: #FFFFFF;

  display: flex;
  align-items: center;
  justify-content: center;
}

.lp_clear {
  width: 6.3021vw;
  height: 2.5vw;
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #5473E8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1.25vw;
  color: #5473E8;
  margin-left: .8333vw;
}

.lp_clear_icon {
  display: block;
  width: 1.6146vw;
  height: 1.6146vw;
}

.licenseInputBox {
  width: 100%;
  height: 13.5417vw;
  flex-shrink: 0;

  background-color: #c7c7c7;
  padding: 1.0417vw 0;
  box-sizing: border-box;
}

.keyList {
  width: 100%;
  height: calc(100% / 4);
  display: flex;
  justify-content: center;
}

.keyItem {
  width: calc((100% / 10) - .5208vw);
  height: calc(100% - .5208vw);
  margin: .2604vw;
  box-shadow: 0 2px 0 #979797;
  background-color: #fff;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.LPsearchItem {
  width: 100%;
  height: 3.4375vw;
  border-bottom: 1px solid #BFBFBF;
  display: flex;
  align-items: center;
  padding: 0 .8333vw;
  box-sizing: border-box;
}

.LPsearchIcon {
  display: block;
  width: 1.5625vw;
  height: 1.5625vw;
}

.LPsearchItemLPName {
  font-weight: 400;
  font-size: 1.5104vw;
  color: #000000;
  line-height: 1;
  margin-top: -0.2604vw;
  margin-left: .5208vw;
}

.LPstrong {
  color: #E60000;
}

.FLTargetBox {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}

.FLTarget {
  width: 12.6042vw;
  height: 6.9271vw;
  overflow: hidden;

  padding: 1.25vw .8333vw;
  box-sizing: border-box;

  font-weight: 400;
  font-size: 1.25vw;
  color: #454545;

  margin-top: .7292vw;
}

.FLTarget1 {
  background-image: url('./images/FLTarget1.png');
  background-size: 100% 100%;
}

.FLTarget2 {
  background-image: url('./images/FLTarget2.png');
  background-size: 100% 100%;
}

.FLTarget3 {
  background-image: url('./images/FLTarget3.png');
  background-size: 100% 100%;
}

.FLTarget4 {
  background-image: url('./images/FLTarget4.png');
  background-size: 100% 100%;
}

.FLTarget5 {
  background-image: url('./images/FLTarget5.png');
  background-size: 100% 100%;
}

.FLTarget6 {
  background-image: url('./images/FLTarget6.png');
  background-size: 100% 100%;
}

.FLTargetListHeader {
  width: 100%;
  height: 2.9167vw;
  background: linear-gradient(-90deg, rgba(79, 184, 247, 0.58), rgba(30, 75, 218, 0.58));
  padding: 0 1.25vw;
  box-sizing: border-box;

  display: flex;
  align-items: center;
}

.FLTHicon {
  display: block;
  width: 1.1979vw;
  height: 1.3542vw;
}

.FLTargetListHeaderText {
  font-weight: 400;
  font-size: 1.25vw;
  color: #FFFFFF;
  margin-left: .8333vw;
}

.FLTargetListBox {
  width: 100%;
  height: calc(100% - 6.9271vw);
  overflow: auto;

  position: relative;
  z-index: 99999;
}

.FLTargetListBockBox {
  width: 6.3021vw;
  height: 2.9688vw;
  background: #5473E8;
  border-radius: 1.5104vw;
  margin: .5208vw 2.0833vw 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mapSheShiItem {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.8646vw;
  border-bottom: 1px solid #BFBFBF;

  font-size: 1.25vw;
  color: #4D4C4C;
  padding: 0 1.25vw;
  box-sizing: border-box;
}

.mapSheShiItemIndex {
  color: #8E8E8E;
}

.mapSheShiItemName {
  margin-left: 1.0417vw;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.mapSheShiItemLevel {
  margin-left: .7292vw;
}

.PN_input_box {
  width: 100%;
  height: 5.2083vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #BFBFBF;
}

.PN_input {
  width: 91%;
  height: 3.8021vw;
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #BFBFBF;
  padding: 0 1.25vw;
  box-sizing: border-box;
  font-size: 1.5104vw;
}

.PN_input_search_list {
  width: 100%;
  height: calc(100% - 9.7917vw);
  overflow: hidden;
}

.QRCodeMainBox {
  width: 100%;
  height: calc(100% - 4.0104vw);
  overflow: auto;
}

.QRCodeLoad {
  width: 3.0729vw;
  height: 4.5313vw;
  display: block;
  margin: 3.0208vw auto 0 auto;
}

.QRCodeLoadName {
  width: 98%;

  font-weight: 400;
  font-size: 1.875vw;
  color: #FF6600;
  text-align: center;
  line-height: 1.2;
  margin: 1.1458vw auto 0 auto;
}

.QRCodeImgBox {
  width: 18.3854vw;
  height: 17.9688vw;
  margin: 1.1458vw auto 0 auto;
}

.QRCodeImg {
  display: block;
  width: 100%;
  height: 100%;
}

.QRCodeBoxText {
  width: 18.3854vw;
  font-weight: 400;
  font-size: 1.5104vw;
  color: #444444;
  margin: 1.1458vw auto 0 auto;
  text-align: center;
}

/* 查询 */

.noshow {
  display: none;
}