html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img,i, dl, dt, dd, ol, ul, li,table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
img{
    vertical-align: top;
}
ol, ul {
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
input{
    vertical-align: top;
    padding: 0;
    box-sizing: content-box;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#9F9F9F;
}
:-moz-placeholder { /* Mozilla Firefox 4 ~ 18 */
   color:#9F9F9F;
   opacity:1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#9F9F9F;
   opacity:1;
}
:-ms-input-placeholder { /* Internet Explorer 10 ~ 11 */
   color:#9F9F9F;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:#9F9F9F;
}

::placeholder { /* 大部分现代浏览器 */
   color:#9F9F9F;
}
.hide{
    display: none;
}
.floatL{
    float: left;
}
.floatR{
    float: right;
}
/*清浮动*/
.clearfix::after{
    display: block;
    content: " ";
    clear: both;
    height: 0;
    visibility: hidden;
}
.clearfix{
    zoom: 1;
}
.point{
    cursor: pointer;
}
body {
    font-family: Microsoft YaHei;
    background-color: #ECECEC;
    font-size: 14px;
    min-width: 1160px;
}
/*菜单*/
.menu{
    overflow: hidden;
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #FBFBFB;
    font-size: 16px;
    z-index: 1;
    color: #676767;
}
.menuList{
    height: 100%;
    width: 220px;
    overflow-y: scroll;
}
.menuItem>a{
    display: block;
    height: 48px;
    line-height: 48px;
    padding-left: 36px;
}
.menuTwo{
    margin-left:10px; 
}
.curMenu .curA,.curMenu{
    color: #0876D7;
}
.menuTwo .menuItem:hover{
    background-color: #F4F4F4;
}
.main{
    margin-left: 200px;
}
/*header*/
.header{
    padding: 0 20px;
    background-color: #fff;
    margin-left: 1px;
}
.search{
    overflow: hidden;
}
.searchItem {
    display: inline-block;
    vertical-align: top;
    margin: 10px 24px 10px 0;
    line-height: 30px;
}
.searchInp{
    width: 230px;
    height: 30px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding: 0 0 0 8px;
    font-size: inherit;
    color: #999999;
    margin-left: 8px;
}
.mainBtn{
    display: inline-block;
    padding: 0 16px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    vertical-align: top;
    cursor: pointer;
    user-select: none;
}
.searchBtn{
    margin: 10px 24px 10px 0;
    background-color: #0876D7;
}
.center{
    margin: 20px;
}
.txtCen{
    text-align: center;
}
/*列表table*/
.tab{
    width: 100%;
    /*border:1px solid #ececec;*/
    background-color: #fff;
}
.tab thead{
    background-color: #f4f4f4;
}
.tab thead tr{
    color:#676767;
}
.tab tbody tr{
    color: #010101;
}
.tab tr{
    height: 40px;
}
.tab td{
    padding-left: 8px;
}
.tab thead td,.tab tbody tr{
    border:1px solid #ececec;
}
.tab tbody tr:hover{
    background-color: #F4F7FD; 
}
.tabChe{
    margin-right: 10px;
    vertical-align: top;
    user-select: none;
}
.imgStatus{
    max-height: 30px;
    vertical-align: baseline;
}
.tabOper{
    cursor: pointer;
    color: #0876D7;
    /*font-weight: bold;*/
}
.delete{
    margin-left: 32px;
}
.permissSet{
    margin-right: 30px;
}
.tabOper:hover{
    border-bottom: 1px solid #0876D7;
    /*text-decoration: underline;*/
}
.listFooter{
    padding: 10px 24px;
    line-height: 32px;
    background-color: #fff;
    border: 1px solid #ececec;
    border-top: none;
}
.listFooter .tabChe{
    margin: 8px 8px 0 16px;
}
.listSele{
    width: 126px;
    height: 34px;
    border: 1px solid #ececec;
    border-radius:2px;
    margin-left: 12px;
}
.listEnt{
    text-align: center;
}
.page{
    float: right;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    user-select: none;
    color: #010101;
}
.redColor{
    color: #FF5C62;
}
.pageList{
    overflow: hidden;
    float: left;
}
.pageList li,.turnPage{
    float: left;
    width: 30px;
    height: 30px;
}
.prev{
    background: url(../../image/common/prev.png) no-repeat center center;
}
.next{
    background: url(../../image/common/next.png) no-repeat center center;
    margin-right: 8px;
}
.turnPage,.pageList li,.jumpPage{
    border: 1px solid #ececec;
    border-radius:2px;
    margin-left: 8px;
    background-color: #fff;
    cursor: pointer;
}
.jumpPage{
    display: inline-block;
    vertical-align: top;
    width: 46px;
    height: 30px;
    padding: 0;
    text-align: center;
    margin-right: 8px;
    cursor: auto;
}
li.curPage{
    background-color: #0876D7;
    border-color: #0876D7;
    color: #FFFFFF;
}
.disabPage{
    background-color: #ececec;
    cursor: not-allowed;
}
.pageList li.omitt{
    border:none;
    line-height: 1.5;
    cursor: auto;
    width: auto;
}
.tabSort{
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 8px;
    background-image: url(../../image/common/sortSprite.png);
    margin-left: 16px;
    margin-top: 6px;
    cursor: pointer;
}
.sortUp{
    background-position-x: -14px;
}
td.line {
    padding: 0 40px;
    width: 40px;
}
tr td.padLeft40{
    padding-left: 40px;
}
/*遮罩*/
.mask{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 98;
    display: none;
    /*background-color: transparent;*/
    background-color: rgba(0,0,0,0.3);
}
/*询问框*/
.inquiryBox{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    width:460px;
    height:174px;
    margin-left: -230px;
    margin-top: -87px;
    background-color: #fff;
    border-radius:2px;
    box-shadow: 0 0 8px 6px rgba(0,0,0,.1);
    z-index: 99;
}
.inquiryBoxTop{
    height: 31px;
    border-bottom: 1px solid #ececec;
}
.closeBox{
    margin:8px 16px 0 0;
    cursor: pointer;
}
.inquiryBoxInfo{
    margin:20px 32px;
    color: #FF5C62;
    font-size: 18px;
    height:50px;
    line-height: 50px;
    text-align: center;
}
.inquiryBoxTxt{
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    max-width: 200px;
}
.inquiryBoxFooter{
    text-align: center;
    margin: 20px 32px;
}
.inquiryBoxFooter span{
    display: inline-block;
    text-align: center;
    width: 78px;
    line-height: 30px;
    border-radius: 2px;
    cursor: pointer;
}
.inquiryEnt{
    background-color: #0876D7;
    color: #fff;
    margin-right: 16px;
    border: 1px solid #0876D7;
}
.inquiryCancel{
    color: #525151;
    border: 1px solid #e5e5e5;
}
.inquiryEnt:hover{
    background-color: #004EA2;
}
.lineNo{
    line-height: 20px;
    display: inline-block;
    vertical-align: top;
}
/*提示*/
.tips{
    position: fixed;
    padding: 6px 16px;
    background-color: #696969;
    color: #fff;
    border-radius: 2px;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    z-index: 999;
    transition: top 0.4s;
}
.showTips{
    position: fixed;
    padding: 6px 16px;
    background-color: #696969;
    color: #fff;
    border-radius: 2px;
    left: 50%;
    top: 80px;
    z-index: 99;
}
/*load*/
#loadMask{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 111;
    top: 0;
    left: 0;
}
#load{
    position: fixed;
    width: 150px;
    height: 160px;
    /*border-radius: 10px;*/
    border-radius: 2px;
    left: 50%;
    top:50%;
    margin-left: -75px;
    margin-top: -80px;
    background-color: #fff;
    text-align: center;
    padding-top: 20px;
    z-index: 112;
}
/*无数据时表格显示*/
.noData{
    text-align: center;
}
.noData img{
    margin: 20px 0;
}
.noData p{
    margin-bottom: 20px;
}
.searchTime{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 320px;
    border:1px solid #ECECEC;
    border-radius:2px;
    margin-right: 34px;
    background-color: #fff;
    position: relative;
    left: 0;
    top: 0;
}
.searchTime::after{
    position: absolute;
    right: 12px;
    top: 12px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #969696 transparent transparent transparent;
    border-width: 8px 7px 0px 7px;
}
.searchTime input{
    border:none;
    outline: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding-left: 8px;
    color: #010101;
    box-sizing: border-box;
}