.wrap{
	background-color: #fff;
	padding: 20px;
	margin: 20px;
	color: #222222;
}
.rosterBox{
	margin-right: 322px;
	/*border:1px solid #ECECEC;*/
}
.overFlowX{
	width: 100%;
	overflow-x: scroll;
}
.rosterTab{
    table-layout: fixed;
    width: 100%;
	text-align: center;
}
.rosterTab tr{
    height: 40px;
}
.rosterTab td{
	width: 40px;
    border:1px solid #ececec;
}
.pointTab tbody td{
	cursor: pointer;
}
.tdF3{
	background-color: #F3F3F3;
}
td.tabDesc{
	width: 80px;
	background: url(../image/common/rosterTab.png) no-repeat;
	background-size: 100% 100%;
}
td.reportTabDesc{
	width: 80px;
	background: url(../image/common/reportTab.png) no-repeat;
	background-size: 100% 100%;
}
td.insReportTabDesc{
	width: 80px;
	background: url(../image/common/insReportTab.png) no-repeat;
	background-size: 100% 100%;
}

.squadBox{
	float: right;
	width: 300px;
	border:1px solid #ECECEC;
}
.squadTitle{
	margin:20px 0;
	font-size: 16px;
	text-align: center;
}
.squadOpa{
	height: 32px;
	margin-right: 20px;
	text-align: right;
}
.squadOpa span,.opaBtn{
	display: inline-block;
	vertical-align: top;
	text-align: center;
	min-width: 60px;
	padding:0 10px;
	height: 32px;
	color: #4A60CF;
	line-height: 32px;
	background-color: #DFE7FF;
	border-radius: 2px;
	cursor: pointer;
}
.btnSpac{
	margin-right: 14px;
}
.squadOpa span:hover,.opaBtn:hover{
	background-color: #4A60CF;
	color: #fff;
}
.squadTabBox{
	overflow-y: auto;
}
.squadItem{
	margin-top:20px;
	padding: 0 8px;
}
.squadTop{
	height: 40px;
	line-height: 40px;
	border:1px solid #ECECEC;
	border-bottom: none;
	padding:0 10px;
}
.squadTopChe{
	float: left;
    margin-top: 10px;
    height: 18px;
}
.squadTopNum{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    margin-right: 120px;
    margin-left: 30px;
}
.squadTab{
	border:1px solid #ECECEC;
	text-align: center;
	width: 100%;
}
.squadTab thead{
	background-color: #F3F3F3;
}
.squadTab tr{
	height: 40px;
}
.squadTab td{
	padding-left: 8px;
}
.squadTabShow{
	display: inline-block;
}
.pageSpac{
	margin:10px 8px;
}
.rosterFooter{
	height: 40px;
    border: 1px solid #ececec;
    border-top: none;
	padding:0 20px;
	line-height: 40px;
}
.rosterFooter span{
	/*margin-right: 60px;*/
}
.tickIcon,.absenteeismIcon,.latenIcon,.leaveIcon{
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
}
.tickIcon{
	width: 16px;
	height: 12px;
	background-image: url(../image/common/tick.png);
}
.absenteeismIcon{
	width: 18px;
	height: 18px;
	background: url(../image/common/absenteeism.png);
}
.latenIcon{
	width: 20px;
	height: 18px;
	background: url(../image/common/laten.png) no-repeat;
}
.leaveIcon{
	width: 20px;
	height: 18px;
	background: url(../image/common/leave.png) no-repeat;
}
.rosterTrAdd{
	float: right;
	padding-top: 4px;
}
.tdClose{
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	position:relative;
	left: 0;
	top: 0;
	color: #FF5C62;
}
.tdClose::before,.tdClose::after{
	content:'';
	display:block;
	position:absolute;
	height: 2px;
	width: 16px;
	left: 2px;
	top: 9px;
	background-color: currentColor;
	border-radius:2px;
}
.tdClose::before{
	transform:rotate(45deg);
}
.tdClose::after{
	transform:rotate(-45deg);
}
/*选择班次*/
.squadPop{
	display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 460px;
    transform: translate(-50%,-50%);
    background-color: #fff;
    box-shadow: 0 0 8px 6px rgba(0,0,0,.1);
    z-index: 99;
	border: 1px solid #E5E5E5;
	border-radius: 4px;
}
.squadPopTop{
    height: 39px;
    line-height: 39px;
    border-bottom: 1px solid #E5E5E5;
    padding:0 20px;
}
.squadPopClose{
	float: right;
	margin-top: 12px;
    cursor: pointer;
}
.squadPopCen{
    padding:20px;
    overflow-y: auto;
}
.heig20{
	height: 20px;
}
.squadPopItem{
	margin-bottom: 20px;
}
.squadInfo{
	height: 20px;
}
.squadNum{
	display: inline-block;
	vertical-align: top;
	width: 200px;
	margin-right: 10px;
}
.squadSys{
	margin-top: 20px;
	margin-left: 28px;
	height: 32px;
	text-align: center;
}
.squadSys span,.squadTabShow{
	width: 30px;
	height: 30px;
	color: #FFFFFF;
	line-height: 30px;
	border: 1px solid #222222;
	border-radius: 2px;
}
.squadSys span{
	float: left;
	margin-right: 18px;
}
.threeOrEight span,.tOe{
	background-color: #74BA74;
	border-color:#349434;
}
.fourOrSix span,.fOs{
	background-color: #FFDB33;
	border-color:#E5E5E5;
}

.squadPopSave{
	width: 80px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: 2px;
	float: right;
	margin:20px;
	background-color: #5474E8;
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.squadPopSave:hover{
	background-color: #4A60CF;
}
.cWhite{
	color: #fff;
}
.rosterTop{
	width: 600px;
	height: 32px;
	margin:24px auto;
}
.monthBox{
	float: left;
	text-align: center;
}
.monthBox span{
	float: left;
}
.monthBtn{
	width: 30px;
	height: 30px;
	border: 1px solid #969696;
	border-radius: 2px;
	cursor: pointer;
}
.monthBtn:hover{
	border-color:#4A60CF;
}
.curMonth{
	width: 80px;
	line-height: 32px;
	color: #222222;
	font-size: 16px;
}
.searchTime {
    cursor: pointer;
    width: 452px;
    background: #fff url(../image/common/seleBg.png) no-repeat center right;
}
.c4A60CF{
	color: #4A60CF;
}
.b4A60CF{
	background-color: #4A60CF;
	color: #fff;
}

.reportPop{
	display: none;
	position: absolute;
	left: 100px;
	top: 100px;
    width: 240px;
    padding:20px;
    background-color: #fff;
    box-shadow: 0 0 8px 6px rgba(0,0,0,.1);
    z-index: 99;
    border-radius: 4px;
    transition: left 0.5s,top 0.5s;
}
.reportItem{
	line-height: 32px;
}
.reportTxt{
	float: left;
	width: 80px;
	text-align: right;
	margin-right: 10px;
}
.reportItem div{
	margin-left: 90px;
	height: 32px;
}
.hoverTd:hover{
	background-color: #DFE7FF;
}
.reportUserInfo{
	line-height: 32px;
	border-bottom: 1px solid #ececec;
}
.reportUserInfo span{
	display: inline-block;
	vertical-align: top;
	width: 100px;
	margin-right: 20px;
}
.inspectionList{
	/*max-height: 212px;
	overflow: auto;*/
}
.inspectionItem{
	padding-top:10px;
}
.insItemTitle{
	display: inline-block;
	vertical-align: top;
	max-width: 250px;
	line-height: 32px;
	margin-right: 20px;
}
.insItemInfo{
	line-height: 32px;
}