.wrap{
	background-color: #fff;
	padding: 20px;
	margin: 20px;
	color: #222222;
	overflow:hidden;
}
.list{
	float: right;
	width: 800px;
}
.listTitle{
	font-size: 16px;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	margin-bottom: 20px;
}
.listTitle span{
	display: inline-block;
	vertical-align: top;
	width: 5px;
	height: 16px;
	background-color: #4A60CF;
	border-radius: 2px;
	margin-right: 10px;
	margin-top: 2px;
}
.listOpa{
	height: 32px;
	margin-bottom: 20px;
}
.listOpaItem{
	line-height: 32px;
	display: inline-block;
	vertical-align: top;
}
.listTab .page{
	margin-top: 15px;
}
.map{
	margin-right: 820px;
	height: 300px;
	border:1px solid #ECECEC;
	position: relative;
	left: 0;
	top: 0;
	overflow:hidden;
}
.mapSelectBox{
	position: absolute;
	left: 16px;
	top: 16px;
}

.rightPop{
	display: none;
	width: 798px;
	height: 300px;
	border:1px solid #ECECEC;
	background-color: #fff;
	position: absolute;
	top:88px;
	right: 40px;
	z-index: 9;
	overflow-y:auto;
}
.popMain{
	padding-top: 24px;
}
.inpR input{
	width: 90px;
    margin-right: 10px;
}
.popMain .batchBox{
	width: 310px;
}
.popTop{
	text-align: right;
	padding-top: 20px;
	padding-right: 20px;
}
.popTop .save{
	margin-right: 20px;
}

/*区域管理*/
.listOpaItem{
	margin-right: 8px;
}
.listOpaItem input{
	width: 118px;
}
.areaList{
	width: 640px;
}
.areaMap{
	margin-right: 660px;
}

/*线路管理*/
.detailMask{
	display: none;
	position: fixed;
	width: 420px;
	right: 20px;
	top: 0;
	bottom: 0;
	background-color: transparent;
    z-index: 99;
}
.routeR{
	float: right;
	width: 400px;
}
.routeMap{
	margin-right: 420px;
}
.detailPop,.pointPop{
	display: none;
    position: fixed;
    z-index: 99;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 8px 6px rgba(0,0,0,.1);
}
.detailPop{
    right: 20px;
    top: 50%;
    width: 420px;
    transform: translateY(-50%);
    margin-left: -230px;
}
.detailTop{
    height: 40px;
    line-height: 40px;
    border-radius: 2px 2px 0 0;
    color: #222222;
    font-size: 16px;
    padding: 0 20px;
    border-bottom: 1px solid #ececec;
}
.detailClose{
    margin-top: 12px;
    float: right;
    cursor: pointer;
}
.detailCen{
    margin:0 20px;
}
.addBox{
    margin:20px 0;
}
.addBox input{
    width: 270px;
    height: 30px;
    padding: 0 0 0 8px;
    font-size: inherit;
    color: #222222;
    border-radius: 2px;
    border: 1px solid #ececec;
}
.managBtn,.managBtnCen{
    width: 80px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    background-color: #5474E8;
    text-align: center;
    border-radius: 2px;
    vertical-align: top;
    cursor: pointer;
    user-select: none;
}
.managBtn{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
.managBtnCen{
    margin:0 auto;
}
.managBtn:hover{
    background-color: #4A60CF;
}
.detailTips{
	line-height: 32px;
	font-style:italic;
}

.pointPop{
	top: 50%;
	left: 50%;
	width: 420px;
	height: 256px;
	margin-left: -200px;
	margin-top: -128px;
    padding:20px;
}
.pointPop .itemTxt,.detailPop .itemTxt{
	width: 84px;
}
.btnBox{
	height: 32px;
	text-align: center;
	font-size: 0;
}
.btnBox span{
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	padding:0 20px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    background-color: #5474E8;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
}
.save{
	margin-right: 20px;
}
.routePoint{
	position:absolute;
	left: -50px;
	top: -50px;
	width: 40px;
	height: 40px;
	background-color: #4a60cf;
	color: #fff;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
}
.fmapPoint{
	width: 40px;
	height: 40px;
	background-color: #4a60cf;
	color: #fff;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
}
.disfixTd{
	width: 120px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/*提示框*/
.routePop{
    background-color: #fff;
    box-shadow: 0 0 4px 2px rgb(0 0 0 / 20%);
    position: absolute;
    border: 1px solid #E5E5E5;
    z-index: 9;
    width: 100px;
    bottom: 50px;
    left: -30px;
    color: #000;
    display: none;
}
.routePop::before{
    content:'';
    position: absolute;
    width: 0;
    height: 0;
    left: 42px;
    bottom: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
}
.routePopItem{
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}
.routePopItem:hover{
	background-color: #4a60cf;
    color: #fff;
}
.dotName{
	cursor: pointer;
}