.wrap {
    margin: 20px;
}
.searchItem {
    display: inline-block;
    vertical-align: top;
    margin: 0 24px 16px 0;
    line-height: 30px;
}
.searchInp {
    width: 190px;
    height: 30px;
    border: 1px solid #ECECEC;
    border-radius: 2px;
    padding: 0 0 0 8px;
    font-size: inherit;
    color: #676767;
}
.searchBtn,.topBtn span,.deleBtn{
	display: inline-block;
    padding: 0 20px;
	height: 32px;
	line-height: 32px;
	color: #fff;
	background-color: #5474E8;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	user-select: none;
    border-radius:2px;
}
.searchBtn:hover,.topBtn span:hover,.deleBtn:hover{
	background-color: #4A60CF;
}
.topBtn {
    margin-top: 0;
}
.resetBtn {
    margin-left: 16px;
}
.deleBtn{
    margin-left: 16px;
}
/*弹窗*/
.pop,.personnel{
    display: none;
    left: 50%;
    z-index: 99;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 8px 6px rgba(0,0,0,.1);
}
.pop{
    width: 460px;
    position: fixed;
    top: 50%;
    transform: translate(-50%,-50%);
}
.popTop{
    height: 40px;
    line-height: 40px;
    border-radius: 2px 2px 0 0;
    color: #222222;
    font-size: 16px;
    padding: 0 20px;
    border-bottom: 1px solid #ececec;
}
.popCen{
    margin:0 20px;
}
.addBox {
    margin: 20px 0;
}
.addBox input {
    width: 310px;
    height: 30px;
    padding: 0 0 0 8px;
    font-size: inherit;
    color: #222222;
    border-radius: 2px;
    border: 1px solid #ececec;
}
.managBtn{
    margin-left: 20px;
}

/*人员弹窗*/
.personnel{
	position: fixed;
	width: 960px;
	top: 20px;
	margin-left: -500px;
	margin-bottom: 20px;
	padding:20px;
}
.addList,.userList{
	float: left;
	width: 470px;
}
.addList{
	margin-right: 20px;
}
.listTop{
	border: 1px solid #ececec;
	border-bottom: none;
	padding: 20px;
}
.listTxt{
	color: #222222;
    font-size: 16px;
    font-weight: bold;
}
.lineIcon {
    display: inline-block;
    vertical-align: top;
    width: 5px;
    height: 16px;
    border-radius: 4px;
    background-color: #4A60CF;
    margin-top: 3px;
    margin-right: 16px;
}
.listInfo{
	line-height: 32px;
	margin-top: 16px;
	padding-left: 21px;
}
.listSearch{
	margin-top: 16px;
}
.listSearch .batchBox{
	width: 74px;
}
.keyItem{
	margin: 0 24px 0 0;
}
.keyItem input{
	width: 256px;
}
.popListFooter{
    padding: 12px 8px;
    line-height: 32px;
    border: 1px solid #ececec;
    border-top: none;
}
.popListFooter .tabChe{
    margin-top: 8px;
}
.popListFooter .next{
	margin-right: 0;
}
.personnelBtn{
	text-align: center;
	margin:20px 0 0;
}
.personSave{
	margin-right: 20px;
}
.tabOverflow{
	overflow-y: auto;
}