.main {
	margin: 20px;
	background-color: #fff;
	overflow: hidden;
	padding: 40px 30px;
}

.mainItemB {
	margin-bottom: 0;
}

.mainItem {
	margin-right: 20px;
}

.mainBox .itemTxt {
	width: auto;
}

.smallInput {
	width: 150px;
}

.placeList {
	height: 126px;
	border: 1px solid #E5E5E5;
	overflow-y: scroll;
	padding: 10px 20px 0 20px;
	color: #222222;
	line-height: 32px;
	text-align: center;
}

.placeItem {
	float: left;
	border: 1px solid #e5e5e5;
	width: 98px;
	height: 30px;
	border-radius: 2px;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.otherPlace {
	background-color: #41bd56;
	color: #fff;
	border-color: #41bd56;
}

.curPlace {
	background-color: #4A60CF;
	color: #fff;
	border-color: #4A60CF;
}

.fengmap {
	border: 1px solid #E5E5E5;
	margin-top: 10px;
}

.tipsSpan {
	position: relative;
}

.imgHint {
	width: 27px;
	left: 365px;
	position: relative;
	top: -37px;
}

.hint {
	/*visibility: hidden;*/
	position: absolute;
	border: 1px solid #F8B3D0;
	background-color: #FFF5FA;
	color: #ff0000;
	/*display: inline;*/
	min-width: 220px;
	min-height: 24px;
	top: -50px;
	left: 460px;
	z-index: 1;
	border-radius: 24px;
	text-align: center;
	font-size: 15px;
}

.hint2 {
	position: absolute;
	border: 1px solid #F8B3D0;
	background-color: #FFF5FA;
	color: #ff0000;
	min-width: 240px;
	min-height: 50px;
	top: -57px;
	left: 460px;
	z-index: 27;
	border-radius: 24px;
	text-align: center;
	font-size: 15px;
}

.recomContent {
	display: flex;
	height: 814px;
	width: 100%;
}

.mainItem .recomConLButton  {
	margin-bottom: 0;
}
.recomConLButton {
	margin-bottom: 12px;
}

.recomConLButton .noActiveBtn {
	display: inline-block;
	width: 70px;
	height: 32px;
	line-height: 32px;
	background-color: #e5e5e5;
	border-radius: 2px;
	text-align: center;
	color: #222;
	font-size: 14px;
	margin-right: 14px;
	cursor: pointer;
}
.recomConLButton .avtiveSpan {
	background-color: #5473E8;
	color: #fff;
}
.recomConLButton .noActiveBtn:first-child {
	width: 90px;
}

.recomConLMap {
	width: 1034px;
	height: 770px;
}

.recomContentR {
	box-sizing: border-box;
	width: 550px;
	height: 814px;
	margin-left: 18px;
	border: 1px solid #e5e5e5;
}

.recomContentRT {
	width: 100%;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #E5E5E5;
}

.recomContentRC {
	box-sizing: border-box;
	width: 100%;
	height: 722px;
	padding: 20px 0 0 18px;
	overflow-y: scroll;
}

.recomContentRB {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 45px;
	line-height: 45px;
	border-top: 1px solid #E5E5E5;
	padding: 0 18px;
	box-sizing: border-box;
}

.recomContentRTIcon {
	display: inline-block;
	width: 5px;
	height: 20px;
	border-radius: 2px;
	background-color: #5473E8;
	vertical-align: middle;
	margin: 0 4px 0 18px;
}

.recomPlaceItem {
	position: relative;
	display: inline-block;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-right: 18px;
	margin-bottom: 18px;
	color: #2A2939;
	border: 1px solid #e5e5e5;
	cursor: pointer;
	user-select: none;
}

.recomContentRC .recomPlaceItem:nth-child(5n) {
	margin-right: 0;
}

.recomPlaceItemCheck {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	border: 1px solid #BFBFBF;
	border-radius: 50%;
	background-color: #fff;
	color: #c2c2c2;
	font-size: 14px;

}

.recomPlaceItemChecked {
	border: 1px solid #FF0000;
	background-color: #FF0000;
	color: #fff;
}

.recomConCheckIcon {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 14px;
	border: 1px solid #5473E8;
	margin-right: 4px;
}

.recomConCheckIcon::before {
	position: absolute;
	left: 3px;
	top: 3px;
	content: '';
	width: 8px;
	height: 8px;
}

.delRecomPlace {
	display: inline-block;
	width: 80px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	background: #DFE7FF;
	border-radius: 2px;
	color: #4A60CF;
	margin-left: 16px;
	cursor: pointer;
}

.recomConPageNum {
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border: 1px solid #E5E5E5;
	border-radius: 2px;
	margin-right: 6px;
}
.curRecomConPageNum {
	border: 1px solid #5473E8;
	background-color: #5473E8;
	color: #fff;
}

#fengmap {
	width: 100%;
	height: 100%;
}
.seleAllPlaceLabel {
	cursor: pointer;
	user-select: none;
}
.seleAllPlaceCheck .recomConCheckIcon::before {
	background-color: #0876d7;
}
.recomConLTip {
	color: #ff0000
}

