.itemBtn {
    display: inline-block;
    vertical-align: top;
    line-height: 32px;
}

.topBtn span:hover,
.itemBtn:hover {
    background-color: #4A60CF;
    color: #fff;
}

.main {
    margin: 20px;
    background-color: #fff;
    overflow: hidden;
    /* padding:40px 0 16px 20px; */
    padding: 40px 0 40px 20px;
}

.mainBox {
    width: 1000px;
    height: 520px;
}

.mainBoxPad {
    padding-top: 20px;
    border-top: 1px dashed #ececec;
}

.mapqrcode {
    width: 150px;
    height: 150px;
    padding: 8px;
    border-radius: 2px;
    border: 1px solid #ececec;
    resize: none;
    font-family: inherit;
    font-size: inherit;
}

.textarea {
    width: 300px;
    height: 50px;
    padding: 8px;
    border-radius: 2px;
    border: 1px solid #ececec;
    resize: none;
    font-family: inherit;
    font-size: inherit;
}

.textarea:focus {
    outline: none;
    border: 1px solid #4a60cf;
}

.detailTab tr {
    height: 32px;
}

.detailTd {
    background-color: #E5E5E5;
}

.itemDisable {
    background-color: #F5F5F5;
}

.marginR {
    margin-right: 60px;
}

.uploadImg {
    width: 167px;
    height: 107px;
    line-height: 100px;
    text-align: center;
    position: relative;
    left: 0;
    top: 0;
    margin-left: 140px;
    border: 1px solid #ececec;
    background-color: #FAFAFA;
    border-radius: 2px;
}

.uploadImgIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
}

.uploadImg img {
    max-height: 90%;
    max-width: 90%;
    vertical-align: middle;
}

.uploadImgInp {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.batchBox {
    width: 310px;
}

.managWid {
    width: 259px;
}

.typeDetail {
    width: 598px;
    border: 1px dashed #E5E5E5;
    border-radius: 2px;
    margin-left: 140px;
    margin-bottom: 20px;
    padding: 24px 0 0;
}

.typeDetail .itemTxt {
    width: 90px;
}

.typeDetail .uploadImg,
.typeDetail .itemUnit,
.styleIcon {
    margin-left: 106px;
}

.styleIcon {
    height: 32px;
}

.iconItem {
    float: left;
    width: 28px;
    height: 32px;
    position: relative;
    left: 0;
    top: 0;
    margin-right: 16px;
    text-align: center;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
}

.checkIcon::before {
    content: '';
    position: absolute;
    right: -5px;
    top: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #FF5C62;
}

.styleIcon img {
    vertical-align: middle;
}

/*管理弹窗*/
.pop {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 99;
    width: 460px;
    transform: translateY(-50%);
    margin-left: -230px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 8px 6px rgba(0, 0, 0, .1);
}

.popTop {
    height: 40px;
    line-height: 40px;
    border-radius: 2px 2px 0 0;
    color: #222222;
    font-size: 16px;
    padding: 0 20px;
    border-bottom: 1px solid #ececec;
}

.popClose {
    margin-top: 12px;
    float: right;
    cursor: pointer;
}

.popCen {
    margin: 0 20px;
}

.addBox {
    margin: 20px 0;
}

.addBox input {
    width: 310px;
    height: 30px;
    padding: 0 0 0 8px;
    font-size: inherit;
    color: #222222;
    border-radius: 2px;
    border: 1px solid #ececec;
}

.managBtn,
.managBtnCen {
    width: 80px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    background-color: #5474E8;
    text-align: center;
    border-radius: 2px;
    vertical-align: top;
    cursor: pointer;
    user-select: none;
}

.managBtn {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.managBtnCen {
    margin: 0 auto;
}

.managBtn:hover {
    background-color: #4A60CF;
}

.pageM {
    margin: 15px 0;
}

.pageM .next {
    margin-right: 0;
}

.colorBox {
    margin-left: 100px;
    font-size: 0;
}

.colorBox span,
.colorSpan {
    display: inline-block;
    vertical-align: top;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
}

.colorBox span {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    cursor: pointer;
}

.colorSpan {
    width: 20px;
    height: 20px;
}

.c36C2CF {
    background-color: #36C2CF;
    border-color: #0096a4;
}

.cff8f8f {
    background-color: #FF8F8F;
    border-color: #C54646;
}

.c73B973 {
    background-color: #73B973;
    border-color: #349434;
}

.cffdb33 {
    background-color: #ffdb33;
    border-color: #daa300;
}

.cab8fe3 {
    background-color: #ab8fe3;
    border-color: #7D52D4;
}

.cff9dfc {
    background-color: #ff9dfc;
    border-color: #CB2ECB;
}

.c349434 {
    background-color: #349434;
    border-color: #73B973;
}

.colorCheck {
    position: relative;
    left: 0;
    top: 0;
    color: #ffffff;
}

.colorCheck::before {
    content: '';
    display: block;
    left: 6px;
    top: -2px;
    position: absolute;
    width: 8px;
    height: 16px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    transform-origin: bottom left;
    transform: rotate(45deg);
}

.addIcon {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid #ececec;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    left: 0;
    top: 0;
    color: #bfbfbf;
}

.addIcon::before,
.addIcon::after {
    content: '';
    top: 14px;
    left: 6px;
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: currentColor;
}

.addIcon::before {
    transform: rotate(90deg);
}

.addIcon:hover,
.ruleItemR:hover {
    border-color: #5473E8;
    color: #5473E8;
}

.rule {
    margin-left: 140px;
}

.ruleItem {
    float: left;
    width: 410px;
    margin-bottom: 20px;
}

.mr40 {
    margin-right: 40px;
}

.ruleItemL {
    float: left;
    width: 368px;
    border: 1px dashed #ececec;
    padding-top: 20px;
}

.ruleItemR {
    float: left;
    width: 30px;
    height: 30px;
    margin-left: 8px;
    border: 1px solid #ececec;
    color: #bfbfbf;
    cursor: pointer;
}

.ruleItemR::before {
    content: '';
    display: block;
    width: 18px;
    height: 2px;
    background-color: currentColor;
    margin: 14px auto;
}

.ruleTxt {
    float: left;
    height: 32px;
    line-height: 32px;
    width: 84px;
    text-align: right;
    margin-right: 16px;
}

.ruleTypeWid {
    width: 158px;
}

.whiteList {
    display: inline-block;
    vertical-align: top;
    width: 78px;
    height: 30px;
    border: 1px solid #ececec;
    text-align: center;
    line-height: 30px;
    margin-left: 8px;
    cursor: pointer;
}

.ruleTimeBox {
    margin-left: 100px;
}

.ruleTimeBox .batchBox {
    width: 70px;
    margin-right: 8px;
}

.timeTo {
    text-align: center;
    margin: 10px 0;
}

.startDrawBtn {
    display: inline-block;
    vertical-align: top;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    background-color: #36C2CF;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}

.drawMap {
    display: none;
    position: fixed;
    z-index: 99;
    top: 20px;
    left: 20px;
    background-color: #fff;
    font-size: 0;
}

.drawBtn {
    position: absolute;
    bottom: 10px;
    width: 160px;
    left: 50%;
    margin-left: -70px;
    font-size: 14px;
}

/*班次*/
.styleList {
    margin-left: 140px;
    height: 32px;
}

.styleItem {
    float: left;
    border-width: 1px;
    border-style: solid;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    margin-right: 8px;
    cursor: pointer;
    position: relative;
    left: 0;
    top: 0;
}

.checkStyle::before {
    content: '';
    display: block;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 14px;
    height: 14px;
    background: url(../image/common/roundTick.png) no-repeat;
}

.wordOrInfo {
    margin-left: 74px;
}

.wordOrTxt {
    width: 50px;
    text-align: right;
    float: left;
    line-height: 32px;
    margin-right: 16px;
}

.wordOrItem {
    float: left;
    width: 436px;
    margin-bottom: 20px;
}

.itemDetail {
    padding-left: 0;
}

/* 图片预览 */
.down_btn_a {
    margin-top: 6px;
    width: 100px;
    height: 27px;
    background-color: #dfe7ff;
    border: 1px solid #dfe7ff;
    border-radius: 5%;
    color: #4A60CF;
    display: inline-block;
    line-height: 27px;
    text-align: center;
}

.down_btn_a:hover {
    background-color: #4a60cf;
    color: #FFFFFF;
}

#allmap {
    height: 825px;
    width: 1540px;
    top: 11px;
    left: -10px;
    overflow: hidden;
}

#r-result {
    width: 50%;
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 200px;
    z-index: 10;
}

#eyes {
    width: 18px;
    position: absolute;
    margin-left: -37px;
    margin-top: 8px;
}

#eyes1 {
    width: 18px;
    position: absolute;
    margin-left: -27px;
    margin-top: 8px;
}

.tipsSpan {
    position: relative;
}

.hint {
    visibility: hidden;
    position: absolute;
    border: 1px solid #F8B3D0;
    background-color: #FFF5FA;
    color: #ff0000;
    display: inline;
    min-width: 130px;
    min-height: 24px;
    top: -60px;
    left: 212px;
    z-index: 1;
    border-radius: 24px;
    text-align: center;
    font-size: 15px;
}

.deleBtn {
    display: inline-block;
    min-width: 60px;
    height: 32px;
    color: #fff;
    background-color: #5474E8;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    margin-left: 16px;
    text-align: center;
    padding: 0 10px;
}

.delImgs {
    position: relative;
    left: 110px;
    bottom: 53px;
}

.delImg {
    width: 22px;
    height: 20px;
}

.mapMainBox {
    float: left;
    width: 840px;
    height: 790px;
}

.mapInput {
    width: 590px;
}

.mapTextarea {
    width: 582px;
}

.mapWelcome,
.mapLogo {
    display: flex;
    float: left;
    width: 300px;
    height: 360px;
}

.mapWelcomeL {
    width: 90px;
    font-size: 14px;
    color: #222;
}

.mapWelcomeR {
    display: flex;
    flex-direction: column;
}

.mapWelPic {
    position: relative;
    width: 160px;
    height: 287px;
    line-height: 286px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    background-color: #fafafa;
    margin-bottom: 4px;
    text-align: center;
}

.mapWelPic .uploadImgShow {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

.mapWelPic .delImgIcon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 3;
    display: none;
}

.mapWelPicDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #535353;
    border: 1px solid #E5E5E5;
    opacity: 0.5;
    border-radius: 2px;
    display: none;
}

.mapWelInp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    background-color: cyan;
}

.mapWelTip {
    font-size: 14px;
    color: #A4A4A4;
}

.mapNone {
    display: none;
}

.mapBlock {
    display: block;
}

.mapWelPic .uploadImgIcon1 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    z-index: 1;
}

.mapWelPicHover:hover .mapWelPicDiv,
.mapWelPicHover:hover .uploadImgIcon1,
.mapWelPicHover:hover .delImgIcon {
    display: block;
}

/* 短信服务 */
.rechargeBox {
    display: -webkit-box;
    display: table;
}

.rechargeItem {
    display: inline-block;
    width: 80px;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    background-color: #f5f7fa;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.rechargeItem:hover {
    background-color: #4A60CF;
    color: #fff;
}

.recharge_btn {
    width: 80px;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    display: inline-block;
    background-color: #f5f7fa;
    border-radius: 4px;
    border: unset !important;
    padding: unset !important;
    text-align: center;
    margin-bottom: 5px;
}

.rechargeItem_active {
    background-color: #4A60CF !important;
    color: #fff !important;
}

.recharge_money {
    font-size: 24px;
    line-height: 32px;
    color: #4A60CF;
    margin-bottom: 10px;
}

.QrBox {
    padding: 12px 5px 12px 12px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #e4e7ed;
}

.wxQrBox {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #e4e7ed;
}

.wxqrcode img {
    width: 208px;
    height: 208px;
}

.QrIframe {
    width: 208px;
    height: 208px;
}

.Qrtext {
    width: 208px;
    text-align: center;
    color: #787e80;
    margin-left: -6px;
}

.wxQrtext {
    width: 100%;
    text-align: center;
    color: #787e80;
}

.seleMoreItem {
    position: relative;
}

.seleMoreItemAction::after {
    content: '√';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    z-index: 2;
    color: #349434;
    font-size: 18px;
    font-weight: bold;
}