body{
	color: #010101;
}.wrap{
    padding: 20px;
    margin: 20px;
    background-color: #fff;
}
/*权限设置*/
.permiss_info{
	height: 39px;
	line-height: 39px;
	border-top: 1px solid #ECECEC;
	border-left: 1px solid #ECECEC;
	border-right: 1px solid #ECECEC;
    padding-left: 20px;
    background-color: #F4F4F4;
    color: #676767;
}
.permiss_info .seleIcon{
	margin-top: 11px;
}
.permiss_tab{
	width: 100%;
    border: 1px solid #ECECEC;
    background-color: #fff;
    table-layout: fixed;
    margin-bottom: 16px;
}
.permiss_tab tbody tr{
    height: 40px;
}
.permiss_tab td{
	padding-left: 20px;
    border: 1px solid #ECECEC;
}
.permiss_tips{
	color: #9F9F9F;
	font-size: 18px;
}
.checkAll{
	width: 198px;
	height: 38px;
	line-height: 38px;
	border:1px solid #E5E5E5;
	text-align: center;
	border-radius: 2px;
	background-color: #F4F4F4;
	margin:25px auto 15px;
	user-select: none;
}
.checkAll .seleIcon{
	margin-top:11px;
}
.permiss_save{
	width:200px;
	height:40px;
	line-height: 40px;
	background-color: #ff5c62;
	border-radius:2px;
	text-align: center;
	color: #fff;
	margin: 0 auto 2px;
	cursor: pointer;
}
.managBox{
    border: 1px solid #ECECEC;
    margin-bottom: 16px;
    margin-top:-1px;
    padding-left: 20px;
    line-height: 38px;
}
.managPro{
	display: inline-block;
	width:80px;
	height:32px;
	line-height: 32px;
	margin-top: 4px;
	margin-left: 8px;
	background-color:#4a60cf;
	border-radius:2px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.popMain{
	padding: 24px;
}
.popSearch{
	padding-bottom: 16px;
}
.searchBtn{
	display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    background-color: #4a60cf;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    margin-left: 20px;
}
.search_inp{
	width:230px;
	height:30px;
	border:1px solid #ECECEC;
	padding-left: 8px;
	border-radius:2px;
}
.proItem{
	display: inline-block;
	width: 173px;
	height: 38px;
	line-height: 38px;
	border:1px solid #ECECEC;
	padding: 0 10px;
	margin-bottom: 16px;
	margin-right: 20px;
}
.proItem .seleIcon{
	margin-top: 11px;
}
#proWrap{
	height: 100px;
	overflow-y: scroll;
}
.proTitle{
	margin-bottom: 16px;
}
.proItem .proTxt{
	display: inline-block;
    vertical-align: top;
    width: 140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.topBtn {
    margin-top: 5px;
}

.titleTop {
    color: #222222;
    line-height: 38px;
    height: 38px;
    background-color: #fff;
    padding-left: 20px;
    border: 1px solid #ececec;
}
/*管理弹窗*/
.pop{
    display: none;
    position: fixed;
    left: 50%;
    top: 20px;
    width: 970px;
    margin-left: -485px;
    z-index: 99;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 8px 6px rgba(0,0,0,.1);
}
.pop_top{
    height: 39px;
    line-height: 39px;
    border-radius: 2px 2px 0 0;
    color: #222222;
    font-size: 16px;
    padding: 0 16px;
    border-bottom: 1px solid #E5E5E5;
}
.pop_main {
   padding: 24px 32px 0;
}
.pop_item {
    line-height: 32px;
    margin-bottom: 24px;
}
.pop_txt{
    float: left;
    width: 110px;
    text-align: right;
    margin-right: 16px;
}
.pop_fill {
    width: 290px;
    height: 30px;
    padding: 0 0 0 8px;
}
.info_item input, .info_item textarea, .inp_common{
    font-size: inherit;
    color: #222222;
    border-radius: 2px;
    border: 1px solid #e5e5e5;
}
.require {
    color: #FF5C62;
    margin-right: 4px;
}
.pop_save {
    background-color: #FF5C62;
    margin: 24px auto 24px;
}
.automatic{
    color: #9F9F9F;
    font-style: normal;
}
/*内容栏的标题*/
.topHeadTitle{
    color: #222222;
    font-weight: bold;
    font-size: 16px;
    line-height: 48px;
    display: inline-block;
    vertical-align: top;
}