html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img,i, dl, dt, dd, ol, ul, li,table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
img{
    vertical-align: top;
}
body{
    font-family:Microsoft YaHei;
    font-size: 14px;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
.page,.horPage{
    padding:1cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.page{
    width: 17cm;
}
.printBtn{
    width: 80px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    background-color: #5474E8;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    margin: 0 auto;
}
/*列表table*/
.title{
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.searchTxt{
	margin:0 0 10px 0;
    text-align: center;
}
.tab{
	width: 100%;
    background-color: #fff;
    text-align: center;
}
.tab tr {
    height: 30px;
}
.tab td {
    border: 1px solid #000;
    word-break: break-all;
}
.lineNo{
	width: 40px;
}
/*提示*/
.tips{
    position: fixed;
    padding: 6px 16px;
    line-height: 22px;
    background-color: #696969;
    color: #fff;
    border-radius: 2px;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    z-index: 999;
    transition: top 0.4s;
}
/*横屏布局*/
.horPage{
    width: 25cm;
}
.reportTabDesc{
    width: 60px;
    background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lIHgxPSIwIiB5MT0iMCIgeDI9IjEwMCUiIHkyPSIxMDAlIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjEiLz48L3N2Zz4=) no-repeat 100% center;
}
.rosterFooter{
    height: 40px;
    border: 1px solid #000;
    border-top: none;
    padding: 0 20px;
    line-height: 40px;
}
.rosterFooter span{
    margin-right: 1cm;
}
.tdF3{
    background-color: #c3c3c3;
}
.tickIcon,.absenteeismIcon,.latenIcon,.leaveIcon{
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
}
.tickIcon{
    width: 16px;
    height: 12px;
    background-image: url(../image/common/tick.png);
}
.absenteeismIcon{
    width: 18px;
    height: 18px;
    background: url(../image/common/absenteeism.png);
}
.latenIcon{
    width: 20px;
    height: 18px;
    background: url(../image/common/laten.png) no-repeat;
}
.leaveIcon{
    width: 20px;
    height: 18px;
    background: url(../image/common/leave.png) no-repeat;
}
.tdClose{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    position:relative;
    left: 0;
    top: 0;
    color: #FF5C62;
}
.tdClose::before,.tdClose::after{
    content:'';
    display:block;
    position:absolute;
    height: 2px;
    width: 16px;
    left: 2px;
    top: 9px;
    background-color: currentColor;
    border-radius:2px;
}
.tdClose::before{
    transform:rotate(45deg);
}
.tdClose::after{
    transform:rotate(-45deg);
}
.legendBox{
    border:1px solid #000;
    margin-top: -1px;
}
.legendTitle{
    height: 30px;
    line-height: 30px;
    padding-left:10px; 
}
.legendList{
    border-top: 1px solid #000;
}
.legendItem{
    display: inline-block;
    vertical-align: top;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
}
.legItemC{
    display: inline-block;
    vertical-align: top;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
    margin: 5px 10px 0;
    color: #fff;
}

@media print {
    .page,.horPage{
        margin: 0;
        border: initial;
        width: initial;
        box-shadow:initial;
        page-break-after: always;
    }
}