.wrap{
	background-color: #fff;
	padding: 20px;
	margin: 20px;
	color: #222222;
	overflow:hidden;
}
.map{
	height: 300px;
	border:1px solid #ECECEC;
	position: relative;
	left: 0;
	top: 0;
	overflow: hidden;
}
.mapSelectBox{
	position: absolute;
	left: 20px;
	top: 20px;
}
.mapCanvas{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.user{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 12;
    width: 20px;
    height: 24px;
}
.userName{
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}
.userHover{
	position: absolute;
    padding: 6px;
    border-radius:10px;
    border:1px solid #fff;
    color:#fff;
    min-width:120px;
    bottom:105%;
    left: -51px;
    text-align: left;
    background-color:rgba(70,69,230,0.7);
}
.showInfo{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 200px;
    background-color: #4A60CF;
    overflow:auto;
    color: #fff;
    padding-left: 8px;
    z-index: 9;
}
.showInfo div{
    margin-bottom: 10px;
}
.wrapL{
    margin-right: 660px;
}
.topList{
    height: 116px;
    color: #fff;
    margin-bottom: 20px;
}
.topItem{
    float: left;
    width: 23.5%;
    height: 116px;
    border-radius: 6px;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.mineCanvasBox{
    float: right;
    height: 70px;
    margin-right: 20px;
}
.itemMr{
    margin-right: 2%;
}
.stoppedPlaceBox{
    background-image:url(../image/common/stoppedPlace.png);
}
.freePlaceBox{
    background-image:url(../image/common/freePlace.png);
}
.stoppedChargeBox{
    background-image:url(../image/common/stoppedChargingPile.png);
}
.freeChargeBox{
    background-image:url(../image/common/freeChargingPile.png);
}
.topNum{
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    padding: 0 16px;
}
.topTxt{
    height: 30px;
    line-height: 30px;
    padding: 0 16px;
    font-size: 18px;
}
.topTxt img{
    float: right;
    margin-top: 4px;
    cursor: pointer;
    margin-right: 110px;
}
.wrapR{
    width: 640px;
    float: right;
}
.traffic{
    height: 360px;
}
.trafficBar{
    height: 328px;
}
.areaBox{
    border: 1px solid #ECECEC;
    padding: 10px 20px;
    color: #222222;
}
.areaTop{
    height: 32px;
    line-height: 32px;
    font-size: 16px;
}
.lineIcon{
    display: inline-block;
    vertical-align: top;
    width: 5px;
    height: 16px;
    background-color: #4A60CF;
    border-radius: 3px;
    margin-top: 8px;
    margin-right: 8px;
}
.areaList{
    overflow-y: auto;
}
.areaItemCanvas{
    float: right;
    width: 70px;
    height: 70px;
}
.areaItemL{
    margin-right: 70px;
}
.areaItem{
    float: left;
    width: 162px;
    height: 114px;
    border-radius: 2px;
    border: 1px solid #DFE7FF;
    padding:10px;
    margin-top: 20px;
    margin-right: 10px;
    background-color: #F6F8FF;
}
.areaItem:nth-child(3n){
  margin-right: 0;
}
.aItemCen{
    height: 60px;
    line-height: 60px;
    margin-top:10px;
}
.areaCurNum{
    color: #36C2CF;
    font-size: 30px;
}
.aItemBot{
    height: 24px;
    line-height: 24px;
}
.aItemMore{
    float: right;
    margin-top: 5px;
}
.trackIcon{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 32px;
    border-radius: 2px;
    -webkit-box-shadow: box-shadow: 0px 0px 2px 1px #ececec;
    box-shadow: 0px 0px 2px 1px #ececec;
    cursor: pointer;
    text-align: center;
    z-index: 3;
}
.trackIcon:hover,.curTrack{
    background: #36C2CF;
}
.trackIconSpan{
    display: inline-block;
    vertical-align: top;
    width: 22px;
    height: 20px;
    margin-top: 6px;
    background-image: url(../image/common/track.png);
}
.curTrack .trackIconSpan{
    background-image: url(../image/common/trackClick.png);
}
.trackPop{
    display: none;
    position: absolute;
    bottom: 20px;
    right: 90px;
    width: 500px;
    height: 84px;
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: box-shadow: 0px 0px 2px 1px #ececec;
    box-shadow: 0px 0px 2px 1px #ececec;
    z-index:3;
}
.pItem{
    margin-bottom: 20px;
}
.pItemTxt{
    float: left;
    height: 32px;
    line-height: 32px;
    width: 80px;
    text-align: right;
    margin-right: 16px;
}
.pItemVal{
    background: #fff url(../image/common/seleBg.png) no-repeat center right;
    height: 30px;
    border: 1px solid #ECECEC;
    border-radius: 2px;
    padding: 0 0 0 8px;
    font-size: inherit;
    color: #676767;
    cursor: pointer;
}
.itemTime{
    width: 394px;
}
.trackPop .batchList{
    top:auto;
    bottom: 32px;
}
.inquire{
    float: right;
    width: 80px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #DFE7FF;
    border-radius: 2px;
    color: #4A60CF;
    cursor: pointer;
}
.inquire:hover{
    background-color: #4A60CF;
    color: #fff;
}
.search{
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: -150px;
    width: 300px;
    height: 32px;
    z-index: 9;
}
.searchBtn{
    display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    background-color: #5474E8;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    margin-left: 10px;
}
.mapMax{
    width: 26px;
    height: 27px;
    position: absolute;
    z-index: 11;
    background-image: url(../image/common/mapEnlarge-default.png);
    cursor: pointer;
    top: 7px;
    left: 12px;
    right: 12px;
    border-radius: 2px;
}
.mapMin{
    background-image: url(../image/common/mapEnlarge-selected.png);
}

.rightBtn{
    float: right;
    color: #676767;
}
.rightBtn span{
    float: left;
    height: 30px;
    border:1px solid #ECECEC;
    border-radius: 2px;
    padding:0 16px;
    margin-left: 16px;
    cursor: pointer;
}
span.curRight{
    border-color: #4A60CF;
    background-color:#4A60CF;
    color: #fff;
}
/*新增报警数*/
.addWarn{
    height: 430px;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    overflow: hidden;
    position: relative;
    left: 0;
    top: 0;
}
#newWarn{
    height: 430px;
}
.echartSet{
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    cursor: pointer;
    background-image: url(../image/common/echartSet.png);
}
.addWarnTime{
    display: none;
    position: absolute;
    right: 20px;
    top: 60px;
    width: 288px;
    height: 178px;
    background-color: #fff;
    border-radius: 2px;
    padding:16px;
    -webkit-box-shadow: box-shadow: 0px 0px 2px 1px #ececec;
    box-shadow: 0px 0px 2px 1px #ececec;
}
.warnTimeTitle{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
}
.warnTimeTxt{
    line-height: 32px;
}
.warnTimeInp{
    cursor: pointer;
    background: #fff url(../image/common/seleBg.png) no-repeat center right;
    height: 30px;
    border: 1px solid #ECECEC;
    border-radius: 2px;
    padding: 0 0 0 8px;
    font-size: inherit;
}


/******弹窗样式******/
.alertBox,.deviceAlert{
    background-color: #fff;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.2);
    position: absolute;
    padding:10px;
    border:1px solid #E5E5E5;
    z-index: 9;
}
.alertBox{
    bottom: 40px;
    left: -10px;
}
.detailPop{
    display: none;
    width: 200px;
}
.alertBox::before,.deviceAlert::before{
    content:'';
    position: absolute;
    width: 0;
    height: 0;
    left: 12px;
    bottom: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
}
.userDetailItem{
    overflow: hidden;
    margin-bottom: 6px;
}
.userDetailItem div{
    margin-left: 80px;
}
.uDetailTxt{
    width: 80px;
    text-align: right;
    float: left;
}
.alertBox{
    color: #010101;
}
.alertIcon{
    margin-right: 20px;
}
.alertClose{
    width: 12px;
    cursor: pointer;
    float: right;
}
.alertTxt{
    margin-top:10px;
    white-space: nowrap;
}
/*人员弹窗*/
.personnel{
    display: none;
    position: absolute;
    width: 960px;
    top: 20px;
    margin-left: -500px;
    margin-bottom: 20px;
    padding:20px;
    left: 50%;
    z-index: 99;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 8px 6px rgba(0,0,0,0.1);
}
.listTop{
    border: 1px solid #ececec;
    border-bottom: none;
    padding: 20px 20px 0;
}
.listTxt{
    color: #222222;
    font-size: 16px;
    font-weight: bold;
}
.listInfo{
    line-height: 32px;
    margin-top: 16px;
    padding-left: 21px;
}
.listSearch{
    margin-top: 16px;
}
.searchItem {
    display: inline-block;
    vertical-align: top;
    margin: 0 24px 16px 0;
    line-height: 30px;
}
.listSearch .batchBox{
    width: 74px;
}
.keyItem{
    margin: 0 24px 0 0;
}
.keyItem input{
    width: 256px;
    height: 30px;
    border: 1px solid #ECECEC;
    border-radius: 2px;
    padding: 0 0 0 8px;
    font-size: inherit;
    color: #676767;
}
.popListFooter{
    padding: 12px 8px;
    line-height: 32px;
    border: 1px solid #ececec;
    border-top: none;
}
.popListFooter .next{
    margin-right: 0;
}

.filter{
    position: absolute;
    left: 220px;
    top: 20px;
    z-index: 9;
    color: #676767;
}
.filterItem{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    margin-left:24px;
    line-height: 32px;
}
.filterInp {
    width: 190px;
    height: 30px;
    border: 1px solid #ECECEC;
    border-radius: 2px;
    padding: 0 0 0 8px;
}
/*状态*/
.state{
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ECECEC;
    width: 40px;
    height: 20px;
}
.state1{
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #DE7065;
    width: 40px;
    height: 20px;
}
.state2{
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #009417;
    width: 40px;
    height: 20px;
}
/*已停*/
.stopped{
    background-color: #FEA1A1;
}
/*预约*/
.reserve{
    background-color: #d3d6e7;
}
.idle{
    background-color: #1BC736;
}

.toView{
    float: right;
    padding: 0 20px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    background-color: #5474E8;
    /* text-align: center; */
    vertical-align: top;
    cursor: pointer;
    user-select: none;
    border-radius: 2px;
    margin-top: 8px;
}
.layer1Img{
    background-color: #f1f2f7;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom-left-radius: 27px;
    position: absolute;
    right: 0%;
    bottom: 3px;
    z-index: 9;
    cursor: pointer;
}
.imgs1{
    width: 320px;
    position: relative;
    left:-12px;
    bottom:0px;
}