.wrap{
	background-color: #fff;
    margin: 20px;
    padding: 20px;
}
.titleTop {
    color: #222222;
    line-height: 40px;
    padding-left: 20px;
    border-bottom: 1px solid #E5E5E5;
}
.tabInfo{
	float: left;
    width: 49%;
}
.tabTitle{
	width: 188px;
	background-color: #F3F3F3; 
	color:#676767;
}
.tabInfo td{
    border: 1px solid #ececec;
    padding-left: 20px;
}
.tabInfo tr{
	height: 40px;
}
.tabTxt{
	width: 188px;
    background-color: #F3F3F3;
    color: #676767;
}
.switchBox{
	display: inline-block;
	vertical-align: top;
	width: 60px;
	height: 30px;
    border: 1px solid #ececec;
    border-radius: 20px;
    margin: 4px 10px 0;
    position: relative;
    left: 0;
    top: 0;
    cursor: pointer;
    transition: background-color 0.3s;
}
.switchSlider{
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    transform: translateX(0);
    transition: transform 0.3s;
}
.curSwitch{
    background-color: #4A60CF;
}
.curSwitch .switchSlider{
    transform: translateX(32px);
}
.pop{
    display: none; 
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 99;
    width: 460px;
    transform: translateY(-50%);
    margin-left: -230px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 8px 6px rgba(0,0,0,.1);
}
.popTop{
    height: 40px;
    line-height: 40px;
    border-radius: 2px 2px 0 0;
    color: #222222;
    font-size: 16px;
    padding: 0 20px;
    border-bottom: 1px solid #ececec;
}
.popClose{
    margin-top: 12px;
    float: right;
    cursor: pointer;
}
.popCen{
    margin:0 20px;
}
.addBox{
    margin:20px 0;
}
.addBox input{
    width: 310px;
    height: 30px;
    padding: 0 0 0 8px;
    font-size: inherit;
    color: #222222;
    border-radius: 2px;
    border: 1px solid #ececec;
}
.managBtn{
    width: 80px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    background-color: #5474E8;
    text-align: center;
    border-radius: 2px;
    vertical-align: top;
    cursor: pointer;
    user-select: none;
}
.managBtn{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
.managBtn:hover{
    background-color: #4A60CF;
}