html,
body,
div,
input,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
i,
dl,
dt,
dd,
ol,
ul,
li,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

img {
    vertical-align: top;
}

ol,
ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

input:focus {
    border-color: #4a60cf;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #9F9F9F;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 ~ 18 */
    color: #9F9F9F;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #9F9F9F;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10 ~ 11 */
    color: #9F9F9F;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #9F9F9F;
}

.hide {
    display: none;
}

html,
body {
    min-width: 1024px;
    min-height: 768px;
    height: 100%;
    overflow: hidden;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 5.125rem;
    background-image: url(../image/common/标题栏.png);
    background-size: 100% 6.25rem;
    background-repeat: no-repeat;
    z-index: 3;
    text-align: center;
    color: #fff;
}

.headerTitle {
    font-weight: 400;
    font-size: 2.375rem;
    color: #FFFFFF;
    text-shadow: 0px 5px 11px rgba(6, 24, 61, 0.3);
}

.headerTime {
    font-size: 1rem;
}

.headerTime span {
    margin: 0 6px;
}

.dropdownSelectionBox {
    position: absolute;
    top: .875rem;
    right: 2.5rem;
    z-index: 99;
    font-size: .875rem;

    display: flex;
}

.dropdownSelectionBox .selectTitle {
    height: 1.625rem;
    line-height: 1.625rem;
    font-weight: 400;
    font-size: .875rem;
    color: #B8D3F1;
    margin-right: 10px;
}

.dropdownSelectionBox .selectBox {
    text-align: center;
    margin-right: 10px;
}

.dropdownSelectionBox .selectNameBox {
    width: 9.375rem;
    height: 1.625rem;
    line-height: 1.625rem;
    background: #062259;
    border-radius: 2px;
    border: 1px solid #4DA3FF;
    position: relative;
    cursor: pointer;
    z-index: 99;
}

.dropdownSelectionBox .selectNameIcon {
    position: absolute;
    top: 50%;
    right: 1.25rem;
    z-index: 99;

    display: inline-block;
    width: .5625rem;
    height: .5625rem;
    border-top: 1px solid #4DA3FF;
    border-right: 1px solid #4DA3FF;
    transform: rotate(45deg) translate(0, -50%);
}

.dropdownSelectionBox .selectUl {
    display: none;
    cursor: pointer;
}

.dropdownSelectionBox .showSelect {
    display: block;
}

.dropdownSelectionBox .selectLi {
    width: 9.375rem;
    height: 1.625rem;
    line-height: 1.625rem;
    background: #062259;
    border: 1px solid #4DA3FF;
    position: relative;
}

.dropdownSelectionBox .aTimes {
    width: 17.5rem;
    height: 1.75rem;
    line-height: 1.625rem;
    background: #062259;
    border-radius: 2px;
    border: 1px solid #4DA3FF;
    padding: 0 8px;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
    font-size: .875rem;
}


.disableColor {
    color: #B8D3F1 !important;
}

.fengmap {
    width: 100%;
    height: 100%;
    background-color: #153160;
    /* background: url(../image/common/大屏背景图.png) no-repeat; */
    /* background-size: 100% 100%; */
}

.l,
.r {
    position: absolute;
    top: 3.125rem;
    width: 35.9375rem;
    height: calc(100% - 3.25rem);
    z-index: 2;
    transition: transform 0.5s, background-color 0.3s;
}

.l {
    z-index: 5;
}

.main {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: 0 .625rem;
    box-sizing: border-box;
}

.lHide {
    transform: translateX(-35.3125rem);
    background-color: transparent;
}

.rHide {
    transform: translateX(35.3125rem);
    background-color: transparent;
}

.arror {
    width: 1.5625rem;
    height: 3.0625rem;
    position: absolute;
    top: 14.375rem;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-color 0.5s;
}

.arror:hover {
    background-color: #153160;
}

.arrorRotate {
    transform: rotate(180deg);
}

.toRight {
    transform-origin: 0% 50%;
    left: .375rem;
    background-image: url(../image/common/arrowNewRight.png);
    background-size: 100% 100%;
}

.toLeft {
    transform-origin: 100% 50%;
    right: .25rem;
    background-image: url(../image/common/arrowNewLeft.png);
    background-size: 100% 100%;
}

.box {
    padding: 10px;
    width: 25.875rem;
    margin: 10px 0;
    border-radius: 8px;
    background-color: #0d1f3e;
}

.title-box {
    height: 3.125rem;
}

.title,
.titleNotBg {
    width: 9.375rem;
    height: 3.125rem;
    line-height: 3.125rem;
    text-align: center;
    color: #fff;
    font-size: 1.125rem;
    user-select: none;
}

.titleNotBg {
    float: left;
    cursor: pointer;
    background: url(../image/common/titleBg-gray.png);
}

.title,
.cur-title {
    background: url(../image/common/titleBg.png);
}

.list {
    text-align: center;
    overflow: hidden;
}

.item {
    float: left;
    width: 8.125rem;
    height: 4.375rem;
    background-color: #153160;
    border-radius: 6px;
    overflow: hidden;
    margin-top: .625rem;
}

.number {
    margin-top: .375rem;
    font-size: 1.5rem;
    color: #62CDFF;
}

.unit {
    font-size: .75rem;
}

.text {
    margin-top: .125rem;
    font-size: 1rem;
    color: #758CB2;
}

.fff {
    color: #fff;
}

.mr10 {
    margin-right: .625rem;
}

.pie {
    height: 8.625rem;
}

.uc_pie {
    height: 11.1875rem;
}

.realpie {
    height: 19.625rem;
}

.tableWrap {
    width: 100%;
    overflow: hidden;
}

.tableBox {
    width: 27.125rem;
    max-height: 18.75rem;
    overflow-y: scroll;
}

.table {
    text-align: center;
    width: 100%;
    cursor: default;
}

.table thead {
    color: #9CB0D0;
    font-size: 1rem;
}

.table tbody {
    color: #fff;
    font-size: .875rem;
}

.table tr {
    height: 2.25rem;
}

.table tbody tr:hover {
    background-color: rgba(105, 131, 172, 0.3);
}

.r {
    right: 0;
}

.income {
    width: 24.0625rem;
    height: 6.875rem;
    border-radius: 6px;
    background: linear-gradient(90deg, #4A60CF, #1478B2);
    margin: .9375rem auto;
    position: relative;
    font-size: 1.125rem;
    color: #FFFFFF;
}

.incomeIcon {
    position: absolute;
    top: .8125rem;
    right: 1.125rem;
}

.incomeInfo {
    margin-left: 1.625rem;
    padding-top: 1rem;
}

.incomeNumber {
    font-weight: bold;
    font-size: 2rem;
    margin-right: 2rem;
}

.incomeText {
    margin-top: .625rem;
}

.filter {
    overflow: hidden;
    font-size: .875rem;
    color: #A5C4F6;
    margin-top: .9375rem;
}

.seleBox {
    float: left;
    border-radius: .8125rem;
    text-align: center;
    height: 1.625rem;
    line-height: 1.625rem;
    overflow: hidden;
    margin-left: 1.25rem;
    cursor: pointer;
    margin-right: 1.375rem;
}

.seleBox div {
    float: left;
    padding: 0 10px;
    background-color: #5B86C6;
    border-right: 1px solid #569CFF;
}

.seleBox div:last-child {
    border-right: none;
}

.seleBox .curSele {
    color: #fff;
    background-color: #569CFF;
}

.time {
    float: left;
    width: 15.625rem;
    padding-left: 10px;
    height: 1.625rem;
    background-color: #5175AB;
    border-radius: 4px;
    border: none;
    outline: none;
    color: #fff;
}

.bar {
    height: 18.125rem;
    width: 100%;
}


/*提示*/
.tips {
    position: fixed;
    padding: .375rem 1rem;
    background-color: #696969;
    color: #fff;
    min-height: 1.125rem;
    line-height: 1.125rem;
    border-radius: 2px;
    left: 50%;
    top: -1.875rem;
    transform: translateX(-50%);
    z-index: 999;
    transition: top 0.4s;
    font-size: 1rem;
}

.showTips {
    position: fixed;
    padding: .375rem 1rem;
    background-color: #696969;
    color: #fff;
    border-radius: 2px;
    left: 50%;
    top: 5rem;
    z-index: 99;
}


/*load*/
#loadMask {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 111;
    top: 0;
    left: 0;
}

#load {
    position: fixed;
    width: 9.375rem;
    height: 10rem;
    border-radius: 2px;
    left: 50%;
    top: 50%;
    margin-left: -4.6875rem;
    margin-top: -5rem;
    background-color: #fff;
    text-align: center;
    padding-top: 1.25rem;
    z-index: 112;
}

#load img {
    width: 6rem;
    height: 8.4375rem;
}


/*蜂鸟2,3D切换*/
.oper-l,
.oper-r {
    position: absolute;
    top: 3.125rem;
    z-index: 4;
}

.oper-r {
    width: 2.625rem;
    right: 3.125rem;
}

.operItem {
    width: 1.625rem;
    height: 1.6875rem;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../image/fMap/rotate.png);
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    position: relative;
}

.viewMode {
    width: 1.625rem;
    height: 1.625rem;
    background-image: url(../image/fMap/2D.png);
    background-size: 100% 100%;
    border-radius: 2px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.rotate {
    width: 2.625rem;
    height: 2.5rem;
    background: white;
    position: absolute;
    right: 1.5rem;
    top: 6.25rem;
    border-radius: 2px;
}

.viewMode3 {
    width: 2.625rem;
    height: 2.5rem;
    background: white;
    position: absolute;
    right: 1.5rem;
    top: 3.125rem;
    border-radius: 2px;
    z-index: 4;
}

.viewMode2D {
    background-image: url(../image/fMap/2D.png);
}

.viewMode3D {
    background-image: url(../image/fMap/3D.png);
}

.rotates {
    background-image: url(../image/fMap/rotates.png);
}


.oper-l {
    left: 3.75rem;
}

.oper-box {
    height: 2.75rem;
    line-height: 2.75rem;
    font-size: 1.125rem;
    color: #fff;
    text-align: center;
}

.oper-btn {
    float: left;
    border-radius: 1.25rem;
    width: 8.125rem;
    background-color: #0094F2;
    margin-left: 1.875rem;
    cursor: pointer;
    user-select: none;
}

.current-oper {
    background-color: #185DCF;
}

.realtime {
    width: 15.625rem;
    margin-top: .9375rem;
    border-radius: .375rem;
    font-size: .875rem;
    display: none;
}

.realtime-header {
    padding: 1.125rem;
    height: 2rem;
    line-height: 2rem;
}

.realtime-tab-header {
    background-color: #F5F5F5 !important;
}

.realtime-header div,
.realtime-header input {
    float: left;
}

.realtime-fill {
    width: 8.75rem;
    height: 1.875rem;
    border: 1px solid #ececec;
    border-radius: .125rem;
    padding-left: .75rem;
}

.realtime-search {
    width: 5rem;
    height: 2rem;
    text-align: center;
    border-radius: 2px;
    margin-left: .5rem;
    color: #fff;
    background-color: #5473E8;
    cursor: pointer;
}

.realtime-list-box {
    border-radius: .375rem;
    overflow: hidden;
    position: relative;
    padding-bottom: 1.25rem;
    box-sizing: border-box;
    background-color: #fff;
}

.realtime-list {
    padding: 1px;
    box-sizing: border-box;
    overflow-y: auto;
    height: 12.5rem;
}

.realtime-icon {
    width: 1.875rem;
    height: .625rem;
    position: absolute;
    bottom: .375rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9;
}

.realtime-icon img {
    width: 100%;
    height: 100%;
}

/*列表table*/
.realtime-tab {
    width: 100%;
    color: #222222;
    border-radius: .375rem;
    border: 1px solid #C5C5C5;
    table-layout: fixed;
}

.realtime-tab thead {
    background-color: #F5F5F5;
}

.realtime-tab thead tr {
    color: #676767;
}

.realtime-tab tr {
    height: 2.875rem;
    border: 1px solid #C5C5C5;
}

/* 在线用户详情 */
.realtime-detail {
    width: 15.625rem;
    height: 11.25rem;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #C5C5C5;
    border-radius: 6px;
    margin-top: 1.25rem;

    display: none;
}

.r-detail-header {
    width: 100%;
    height: 3rem;
    padding: 0 .875rem;
    box-sizing: border-box;
    border-bottom: 1px solid #C5C5C5;
    display: flex;
    align-items: center;
}

.r-detail-header-line {
    width: .25rem;
    height: 1.125rem;
    background: #5473E8;
    border-radius: 2px;
}

.r-detail-header-name {
    margin-left: .625rem;
    font-size: 1.125rem;
    font-weight: 400;
    color: #222222;
}

.r-detail-info {
    width: 100%;
    padding: 1.25rem .875rem 0 .875rem;
    box-sizing: border-box;
    font-size: .875rem;
    font-weight: 400;
    color: #222222;
    line-height: 1.875rem;
}

.r-detail-info-subtext {
    display: inline-block;
    width: 3.5rem;
    text-align: justify;
    text-align-last: justify;
}

.order {
    width: 3.75rem;
    text-align: center;
}

.user {
    padding: 0 1.25rem;
}

.realtime-tab td {
    border-right: 1px solid #C5C5C5;
}

.realtime-tab tbody tr:hover {
    background-color: #F4F7FD;
}

.user-text {
    margin-right: 1.875rem;
    line-height: 1.375rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.checkbox {
    float: right;
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid #BFBFBF;
    border-radius: 50%;
    cursor: pointer;
}

.checked-radiu {
    width: 1rem;
    height: 1rem;
    margin: .125rem;
    border-radius: 50%;
    background-color: #fff;
}

.current-check {
    border-color: #45C464;
}

.current-check .checked-radiu {
    background-color: #45C464;
}

.realtime-footer {
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    padding: 1.5rem 0;
    font-size: 0;
}

.realtime-footer div {
    display: inline-block;
    width: 10.6667vw;
    font-size: .875rem;
    border-radius: 2px;
}

.realtime-cancel {
    margin-right: 10.6667vw;
    color: #5473E8;
    background-color: #DFE7FF;
}

.realtime-enter {
    color: #fff;
    background-color: #5473E8;
}

.beacon {
    padding: .9375rem;
    background-color: #fff;
    border-radius: 6px;
    text-align: center;
    line-height: 2.5rem;
    width: 13.3333vw;
    margin-top: .9375rem;
    margin-left: 11.875rem;
    display: none;
}

.beacon-btn {
    width: 13.0667vw;
    height: 2.5rem;
    border: 1px solid #E5E5E5;
    border-radius: 1.25rem;
    cursor: pointer;
    margin-bottom: .9375rem;
}

.reset {
    margin-top: 1.25rem;
}

.legend {
    padding: .9375rem;
    background-color: #fff;
    border-radius: 6px;
    text-align: center;
    line-height: 2.5rem;
    width: 13.3333vw;
    margin-top: .9375rem;
    margin-left: 21.875rem;
    display: none;
}

.legend-item {
    height: 2.5rem;
    color: #fff;
    border-radius: 1.25rem;
    margin-bottom: .9375rem;
}

.haveCar {
    background-color: #DE7065;
}

.idle {
    background-color: #009417;
}

.current-marker {
    background-color: #0094F2;
    color: #fff;
    border-color: #0094F2;
}

.pop {
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #C5C5C5;
    border-radius: 6px;
    overflow: hidden;
}

.pop-title {
    height: 3rem;
    line-height: 3rem;
    border-bottom: 1px solid #C5C5C5;
}

.pop-line {
    display: inline-block;
    vertical-align: top;
    width: .25rem;
    height: 1.125rem;
    background-color: #5473E8;
    border-radius: 2px;
    margin: .9375rem .375rem 0 1.25rem;
}

.pop-content {
    margin: .75rem 1.875rem;
}

.pop-item {
    margin-bottom: .625rem;
}

.pop-text {
    float: left;
    width: 4.375rem;
}

.pop-info {
    margin-left: 4.375rem;
    max-width: 6.25rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.pop-value {
    margin-left: 6px;
}

/*关闭按钮*/
.close {
    float: right;
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    left: 0;
    top: 0;
    color: #000;
    margin: .875rem .875rem 0 0;
}

.close::before,
.close::after {
    content: '';
    display: block;
    position: absolute;
    width: 1.125rem;
    height: .125rem;
    border-radius: 2px;
    top: .5625rem;
    left: 1px;
    background-color: currentColor;
    cursor: pointer;
}

.close::before {
    transform: rotate(-45deg);
}

.close::after {
    transform: rotate(45deg);
}

.close:hover {
    color: #5473E8;
}

.stateHas {
    color: #00B522;
}

.stateNot {
    color: #FF1B1B;
}

.stateWarn {
    color: #f5ca03;
}

.layer1Img {
    width: 20.3125rem;
    height: 2.8125rem;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.imgs2 {
    z-index: 9;
    position: absolute;
    width: 100%;
    height: 100%;
}


/* 文字隐藏 */
.moreTextHide {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-break: break-all;
}

/* 车位实时数据 */
.carTable {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #B8D3F1;
    font-size: .75rem;
    overflow: hidden;
}

.carTitle {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #0E70EA;
    height: 1rem;
    line-height: 1rem;
}

.carRealTimeTable {
    width: 100%;
    height: calc(100% - 1rem);
    margin-top: .5rem;
}

.carRealTimeTable ul li {
    display: flex;
    text-align: center;
    margin-bottom: .5rem;
}

.carRealTimeTable ul li span,
.carTitle span {
    flex: 3;
    text-align: center;
}

.carRealTimeTable ul li span:nth-child(2),
.carTitle span:nth-child(2) {
    flex: 2;
    width: 2.8125rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.carRealTimeTable ul li span:nth-child(3),
.carTitle span:nth-child(3) {
    flex: 1.8;
    text-align: center;
}

.carTable .green {
    font-style: normal;
    color: #00B500;
}

.carTable .orange {
    font-style: normal;
    color: #FF970D;
}

.str_wrap {
    overflow: hidden;
    width: 100%;
    line-height: 1rem;
    position: relative;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    white-space: nowrap;
}

.str_move {
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
}

.str_move_clone {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    left: 100%;
    top: 0;
}

.str_vertical .str_move_clone {
    left: 0;
    top: 100%;
}

.str_down .str_move_clone {
    left: 0;
    bottom: 100%;
}

.str_vertical .str_move,
.str_down .str_move {
    white-space: normal;
    width: 100%;
}

.str_static .str_move,
.no_drag .str_move,
.noStop .str_move {
    cursor: inherit;
}

.str_wrap img {
    max-width: none !important;
}


/* 用户统计 */
.userCountBox {
    width: calc(100% - .75rem);
    height: 6.875rem;
    background: linear-gradient(55deg, #1478B2, #4A60CF);
    border-radius: 6px;
    margin: 10px 6px 0 6px;
    padding: .625rem;
    box-sizing: border-box;
}

.userCountNum {
    font-size: 1.5rem;
    color: #fff;
}

.userCountNum .ucAllText {
    font-size: 1rem;
}

.notextstyle {
    font-size: .75rem;
    text-align: center;
    color: #fff;
    line-height: 5rem;
}

.certenBox {
    width: 47.1875rem;
    height: 7.875rem;
    position: absolute;
    top: 5.125rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
    overflow: hidden;
    margin: 0 auto;
    cursor: pointer;
    user-select: none;
    background-color: #153160;
}

.certenBox .Hitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.certenBox .HitemName {
    display: flex;
    align-items: center;
}

.certenBox .HitemNL {
    width: 4.625rem;
    height: .1875rem;
    background: linear-gradient(-90deg, #45FCFF 0%, rgba(1, 9, 42, 0) 100%);
    border-radius: 2px;
}

.certenBox .HitemN {
    font-weight: 400;
    font-size: .9375rem;
    color: #FFFFFF;
    line-height: 1.875rem;
    margin: 0 .625rem;
}

.certenBox .HitemNR {
    width: 4.625rem;
    height: .1875rem;
    border-radius: .125rem;
    background: linear-gradient(90deg, #45FCFF 0%, rgba(1, 9, 42, 0) 100%);
}

.certenBox .HitemNum {
    font-weight: 400;
    font-size: 1.5rem;
    color: #00DBF9;
    line-height: 1.1875rem;
}

.certenBox .MTMain {
    width: 100%;
    margin-top: .625rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.MTMain .MTMainItem {
    width: 8.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carYi2 {
    text-align: center;
    font-weight: 500;
    font-size: 1.125rem;
    margin-bottom: .5rem;
    height: 1.875rem;
}

.carYiNum {
    width: 8.4375rem;
    height: 1.875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
    font-size: .75rem;
    text-align: center;
}

.occupyTitle {
    color: #FFD725;
}

.freeTitle {
    color: #00FF00;
}

.chargeTitle {
    color: #1FEDBD;
}

.specialTitle {
    color: #DF6AE9;
}

.vipTitle {
    color: #67FFE8;
}

.smallText {
    font-size: .2rem;
    margin-left: .1333rem;
}

.bigArea {
    width: 100%;
    height: 17.9375rem;
    background-color: #153160;
    background-image: url(../image/common/大框.png);
    background-size: 100% 100%;
}

.newboxheight {
    height: 15.375rem;
}

.marginTop10 {
    margin-top: .875rem;
}

.padding10 {
    padding: 0 .625rem;
    box-sizing: border-box;
}

.areaT {
    line-height: 2.375rem;
    height: 2.375rem;
    font-size: .875rem;
    font-weight: 700;
    font-family: "Microsoft YaHei";
    color: #fff;
}

.areaTIcon {
    width: 2.375rem;
    height: 2.375rem;
    vertical-align: middle;
    margin-right: -0.375rem;
}

.countTLine {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 12.1875rem;
    height: .3125rem;
    margin-left: .375rem;
}

.countTLineT {
    position: absolute;
    top: 0;
    left: 0;
    width: .9375rem;
    height: .1875rem;
    background-color: #4DA3FF;
}

.countTLineB {
    position: absolute;
    top: 1px;
    left: 0;
    width: 12.1875rem;
    height: .125rem;
    background: linear-gradient(90deg, rgba(77, 163, 255, 1), rgba(77, 163, 255, 0));
}


.carParkFlexView {
    width: 100%;
    height: calc(100% - 2.375rem);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.carParkIcon1 {
    background-image: url(../image/common/carParkicon1.png) !important;
    background-repeat: no-repeat !important;
    background-position: 88% 84% !important;
}

.carParkIcon2 {
    background-image: url(../image/common/carParkicon2.png) !important;
    background-repeat: no-repeat !important;
    background-position: 88% 84% !important;
}

.carParkIcon3 {
    background-image: url(../image/common/carParkicon3.png) !important;
    background-repeat: no-repeat !important;
    background-position: 88% 84% !important;
}

.carParkFlexView .carParkItem {
    width: 10.3125rem;
    height: 5.75rem;
    background: rgba(255, 255, 255, 0.08);
    border-radius: .5rem;
    text-align: center;
    font-weight: 400;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carParkFlexView .carParkrInfoNum {
    width: 100%;
    height: 3.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 400;
    font-size: 1.5rem;
    color: #00DBF9;
}

.carParkFlexView .carParkrInfoRound {
    width: 100%;
    height: 3.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carParkFlexView .carParkrInfoNum2 {
    font-weight: 400;
    font-size: 1.5rem;
    color: #00DBF9;
    margin-left: .25rem;

    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;

    cursor: pointer;
}

.carParkFlexView .carParkInfoName {
    font-weight: 400;
    font-size: .875rem;
    color: #FFFFFF;
    margin-top: .5rem;
}

.sphearicColor1 {
    background: linear-gradient(0deg, #0A6BE9, #49ACFE);
}

.sphearicColor2 {
    background: linear-gradient(0deg, #8561FF, #5D2DFE);
}

.sphearicColor3 {
    background: linear-gradient(0deg, #11ECBB, #2190DD);
}

.sphericalAnimation {
    width: 2.875rem;
    height: 2.875rem;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}

.sphericalAnimation .sphearicA {
    width: 150%;
    height: 0;
    border-radius: 70%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}

.small {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.smallArea {
    width: calc(50% - 5px);
    height: 17.9375rem;
    background-color: #153160;
    background-image: url(../image/common/小框.png);
    background-size: 100% 100%;
}

.shorterline {
    width: 6.875rem;
}

.dayTitle2,
.dayTitle {
    font-weight: 400;
    font-size: .625rem;
    color: #FFFFFF;
    position: absolute;
    top: -1.75rem;
    left: 0;
    z-index: 2;
}

.carUseBarNumV {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.125rem;
    color: #FFFFFF;
}

.carUseBarNum {
    margin: 0 .5rem;
    color: #FFC700;
}

.carUseBar {
    width: 90%;
    height: calc(100% - 3.875rem);
    margin: 0 auto;
}

.monthZhe,
.spacesTotalTime {
    width: 90%;
    height: calc(100% - 2.375rem);
    margin: 0 auto;
}

.monthZhe {
    margin-top: -0.5rem;
}

.emptyParkSpaces {
    width: 100%;
    height: calc(100% - 2.375rem);
    margin-top: -0.625rem;
}

.userViewFlex {
    width: 100%;
    height: calc(100% - 2.375rem);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.userInfoItem {
    width: 10.3125rem;
    height: 5.75rem;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    text-align: center;
    font-weight: 400;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.userInfoNum {
    width: 100%;
    height: 3.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 400;
    font-size: 1.5rem;
    color: #00DBF9;
}

.usreInfoName {
    font-weight: 400;
    font-size: .875rem;
    color: #FFFFFF;
    margin-top: .5rem;
}

.harwareContent {
    margin-top: .4375rem;
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
}

.harwareBox {
    flex-shrink: 0;
    /* width: 10.3125rem; */
    width: calc((100% / 4) - .625rem);
    height: 14.0625rem;
    background: rgba(255, 255, 255, 0.08);
    border-radius: .4375rem;
    font-size: .75rem;
    text-align: center;
    color: #fff;
    padding: .4375rem 0;
    box-sizing: border-box;
    margin-left: .625rem;
}

.harwareBox:first-child {
    margin-left: unset;
}

.hardwareTitleL,
.hardwareTitleR {
    display: inline-block;
    vertical-align: middle;
    width: 2.125rem;
    height: .1875rem;
    background: linear-gradient(-90deg, #45FCFF 0%, rgba(1, 9, 42, 0) 100%);
    border-radius: 2px;
}

.hardwareTitleR {
    background: linear-gradient(90deg, #45FCFF 0%, rgba(1, 9, 42, 0) 100%);
}

.hardwareTitleC {
    margin: 0 2px;
}

.jiancePie,
.xinbiaoPie,
.wangguanPie {
    /* width: 9.375rem; */
    height: 11.875rem;
    width: 100%;
    margin: 0 auto;
}

.ymtlTotalNum {
    color: #FFC600;
    font-size: .875rem;
    font-weight: bold;
    margin-left: .375rem;
}

.tableListView {
    width: 100%;
    height: calc(100% - 2.375rem);
    cursor: pointer;
}

.tableListView .tableH {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    display: flex;
    font-weight: bold;
    font-size: .75rem;
    color: #0E70EA;
    text-align: center;
    margin-top: -0.5rem;
}

.tableListView .tableHItme1,
.tableListView .tableHItme3,
.tableListView .tableLi1,
.tableListView .tableLi3 {
    width: 15%;
}

.tableListView .tableHItme2,
.tableListView .tableLi2 {
    width: 70%;
}

.tableListView .tableMain {
    width: 100%;
    height: calc(100% - 1rem);
    margin-top: .5rem;
}

.tableListView .tableUl {
    width: 100%;
    height: calc(100% / 10);
    display: flex;
    font-size: .75rem;
    color: #B8D3F1;
    text-align: center;
}

.tableListView .tableLi1,
.tableListView .tableLi2,
.tableListView .tableLi3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.tableLi1 .tableLi1d,
.tableLi2 .tableLi2d {
    width: 100%;
    overflow: hidden;
}

.tableLi1 .tableLi1d span,
.tableLi2 .tableLi2d span {
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
}

.tableMain .tableUl:nth-child(2n+1) {
    background: #113885;
}

.tableMain .tableUl:hover {
    background: #4DA3FF;
}

.tableMain img {
    height: 1rem;
}

.flooterBox {
    position: absolute;
    top: 38.1875rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    width: 47.125rem;
    height: 17.9375rem;
    overflow: hidden;
    transition: all 0.3s;
}

.flooterBoxHide {
    top: 54.5625rem;
    height: 1.5625rem;
}

.f {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s, background-color 0.3s;
}

.farror {
    width: 3rem;
    height: 1.5625rem;
    position: absolute;
    left: 50%;
    transform: rotate(0) translate(-50%, 0);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-color 0.5s;
}

.toTop {
    transform-origin: 50% 0;
    top: -0.125rem;
    background-image: url(../image/common/arrowNewBottom.png);
    background-size: 100% 100%;
}

.fmain {
    overflow: hidden;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.viewBGImage1 {
    width: 23.125rem;
    height: 17.9375rem;
    background-color: #153160;
    background-image: url(../image/common/小框.png);
    background-size: 100% 100%;
}

.realTimeParkBox {
    width: 100%;
    height: calc(100% - 2.375rem);
    margin-top: -0.5rem;
}

.fHide {
    transform: translateY(1.5625rem);
    background-color: transparent;
}


.farrorRotate {
    transform: rotate(180deg) translate(50%, 0);
}

.fm-compass-container {
    z-index: 4 !important;
}

::-webkit-scrollbar {
    /* display: none; */
}


/* 修改垂直滚动条 */
::-webkit-scrollbar {
    height: .625rem;
    border-radius: .3125rem;
    /* 修改宽度 */
}

/* 修改滚动条轨道背景色 */
::-webkit-scrollbar-track {
    background-color: #4DA3FF;
    border-radius: .3125rem;
}

/* 修改滚动条滑块颜色 */
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: .3125rem;
}

@media screen and (max-height: 898px) {
    .flooterBox {
        top: unset;
        bottom: 0;
    }

    .flooterBoxHide {
        top: unset;
        bottom: 0;
    }
}

.exprotBtn {
    height: 1.625rem;
    line-height: 1.625rem;
    font-weight: 400;
    font-size: .875rem;
    color: #B8D3F1;
    margin-left: 1.25rem;
    border-radius: 2px;
    border: 1px solid #4DA3FF;
    padding: 0 .5rem;
    cursor: pointer;
    background-color: #153160;
}

.userViewFlex .usericon1 {
    background-image: url(../image/common/usericon1.png);
    background-repeat: no-repeat;
    background-position: 88% 84%;
}

.userViewFlex .usericon2 {
    background-image: url(../image/common/usericon2.png);
    background-repeat: no-repeat;
    background-position: 88% 84%;
}

.userViewFlex .usericon3 {
    background-image: url(../image/common/usericon3.png);
    background-repeat: no-repeat;
    background-position: 88% 84%;
}

.userViewFlex .usericon4 {
    background-image: url(../image/common/usericon4.png);
    background-repeat: no-repeat;
    background-position: 88% 84%;
}

.userViewFlex .usericon5 {
    background-image: url(../image/common/usericon5.png);
    background-repeat: no-repeat;
    background-position: 88% 84%;
}

.userViewFlex .usericon6 {
    background-image: url(../image/common/usericon6.png);
    background-repeat: no-repeat;
    background-position: 88% 84%;
}

/* 用户点位 */
.searchUserPointMain {
    position: absolute;
    top: .875rem;
    left: 3.75rem;
    z-index: 99;
    font-size: .875rem;
    height: 1.625rem;
    line-height: 1.625rem;
    display: none;
}

.searchUserPointMain .searchUserPointBox {
    display: flex;
    align-items: center;
}

.searchUserPointBox .inputBox {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.searchUserPointBox input {
    width: 7.5rem;
    height: 1.625rem;
    line-height: 1.625rem;
    padding: 0 .625rem;
    box-sizing: border-box;
    color: #000;
}

.searchUserPointBox .inputT {
    color: #B8D3F1;
}

.searchUserPointBox .itemInput1 {
    width: 15.625rem;
    height: 1.625rem;
    line-height: 1.625rem;
    color: #000;
    padding: 0 .625rem;
    box-sizing: border-box;
}

.searchUserPointBox .ubtn {
    height: 1.625rem;
    line-height: 1.625rem;
    font-weight: 400;
    font-size: .875rem;
    color: #B8D3F1;
    margin-left: .625rem;
    border-radius: .125rem;
    border: 1px solid #4DA3FF;
    padding: 0 .5rem;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #153160;
}

.searchUserPointBox .disnone {
    display: none;
}

.searchUserPointBox .searchTip {
    height: 1.625rem;
    line-height: 1.625rem;
    color: #B8D3F1;
    margin-left: .625rem;
    display: none;
}

/* 用户点位 */


.fm-compass-element {
    width: 3.625rem !important;
    height: 3.625rem !important;
}

.fm-compass-container {
    inset: unset !important;
    top: 3.125rem !important;
    left: 1.5rem !important;
}

.fm-control-groups {
    inset: unset !important;
    top: 6.25rem !important;
    right: 1.5rem !important;
    width: 2.625rem !important;
    height: 10.625rem !important;
}

.fm-layer {
    width: 2.625rem !important;
    height: 2.625rem !important;
}

.fm-floor-name-normal {
    font-size: .875rem !important;
}

.fm-layer-image-one {
    width: 1.5rem !important;
    height: 1.5rem !important;
    background-size: 100% 100% !important;
}

.fm-floor-list-group {
    width: 2.625rem !important;
    height: 8rem !important;
}

.fm-floor-name {
    height: 2.625rem !important;
    font-size: .875rem !important;
    line-height: 1.75rem !important;
}

.scloo {
    width: 100%;
    /* overflow-x: auto;
    overflow-y: hidden; */
}

.newlowPower{
    display: flex;
    align-items: center;
    width: calc(100% - .3438rem);
    position: absolute;
    bottom: 2.75rem;
    left: .3438rem;
    z-index: 2;
    font-size: .625rem;
    color: #b8d3f1;
}

.newlowPower .lowPowerDian{
    width: .25rem;
    height: .25rem;
    background-color: #F34040;
    margin-right: .375rem
}
